@font-face {font-family: "Calibri-Regular"; src:  url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"); }

/*@font-face {
    font-family: Calibri-Bold;
    src: url('/static/font/calibiri/calibri 2.ttf');
}*/

@font-face {
    font-family: GothamCondensed-Medium2;
    src: url('/static/font/gotham/GothamCondensed-Medium 2.otf');
}


@font-face {
    font-family: Gotham-Medium;
    src: url('/static/font/gotham/Gotham-Medium.otf');
}

 .row-flex {
  display: flex;
  flex-wrap: wrap;
}
 .dashboardsocial-icons {
  /*padding-left: 0px;  */
  margin-top: 29px;
  } 


 .dashboardhead2 {
  padding-right:0px;
  /*padding-left: 0px;*/
}



 .card {
       background-color: white;
       padding: 2%;
      /* margin-top: 20px;*/
    }

    .card1 {
      
       padding: 20px;
       padding-top: 10px;
      /* margin-top: 20px;*/
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

   

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
   

    .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

span.responsesort {
  font-size: 15px;
  text-transform: initial;
  /*padding-left: 20px;*/
  font-weight: 200;
  float: right;
  font-family: Calibri-Italic;
  padding-top: 5px;
  padding-bottom: 5px;
}


.pagination a:hover:not(.active) {background-color: grey;}
span.stars, span.stars>* {
    display: inline-block;
    background: url('/static/images/stars2.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}
/*scrollbar effects*/
.large-2 {
        /*margin-left: 30px;*/
        /*float: left;*/
        /*height: 300px;*/
        overflow-y: scroll;
        /*margin-bottom: 25px;
        width: auto;
        background: #ccc;*/
    }

    .force-overflow {
        min-height: 450px;
    }

    .large-2::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: #404040;
    }

    .large-2::-webkit-scrollbar {
        width: 10px;
    }

    .large-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #737272;
        border: 1px solid #000;
    }
    /*scrollbar effects end*/

    .btn1
    {
          font-weight: 700;
          font-size: 1.3vw;
          background-color: #e02129;
          border-radius: 0px;
          width: 100%;
          margin-bottom: 20px;
          display: inline-block;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          user-select: none;
          color:black;
    }
  .fullcontainer {
    padding-left: 45px;
    padding-right:45px;
    height: auto;
  }

  .respbutton {
    font-weight: 700;
    font-size: 1.3vw;
    width: 88%;
    font-family: Calibri-Bold;
    font-size: 20px;
  }
  .approvalbutton {
    padding-right: 0px;
  }
  .userimage {
    width:14vw; 
  }
  .userinfo-title {
    font-size: 15px;
    word-break: break-all;
    float: left;
    font-family: Calibri-Bold;
    margin-bottom: 0px;
  }

   .userinfo {
    font-size: 15px;
   /* word-break: break-all;*/
   /* float: left;*/
    font-family: Calibri-Regular;
    color: white;
    padding-left: 7px;
  }
  a.userinfo:hover {  
    color: white;
  }



  .companyinfo {
    color:white;
    margin-top: 35px;
    font-size: 15px;
    float: left;
    padding-left: 15px;
    
    font-family: Calibri-Bold;
    margin-bottom: 11px;
  }

  .respbutton1 {
    font-weight: 400;
    font-size: 15px;
    color: white;
    width:70%;
    padding: 10px;
    background-color: limegreen;
    font-family: Calibri-Bold;
  }

  .respbutton2 {
    font-weight: 400;
    font-size: 15px;
    color: white;
    width:70%;
    padding: 10px;
    font-family: Calibri-Bold;
    pointer-events:none;
  }

  .respbutton3 {
    font-weight: 400;
    font-size: 15px;
    width:70%;
    padding: 10px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    font-family: Calibri-Bold;
  }



  .colstyles {
    margin: 0px 1px 0px;
    font-size: small;
  }
  .navmenu-firstmenu {
    margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
  }

  .postcontainer {
    background-image: url(/static/images/awardbackground.jpg);
    background-size: cover;

  }


.freelancer_details_header1 {
  background: black;
  width: 70.666667%;
  padding-right: 0px;
}

.freelancer_details_header2 {
  padding-right: 0px;
  width: 29.33%;
  padding-left: 10px;
}

.freelancer_details_header2_text {
  font-weight: 700;
  color: white;
  line-height: 33px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: Calibri-Bold;
}

.freelancer_details_content2 {
  width: 32.5%;
}

.selected_freelancer_details_header1 {
  background: black;
  
  
}

.aboutsection-style{
  margin-top: 4%;
  margin-bottom: 4%;
}

.recognitionsection-style{
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
}


.recognitionmaindiv{
  border:1px solid #c00000;
      /* display: flex; */
    /* min-width: 250px; */
    /* min-height: 250px; */
    /* padding: 13px; */
    display: inline-block;
  /*height: 23.4vw;*/
}


.finalistmaindiv{
  border-top: 1px solid #c00000;
  border-bottom: 1px solid #c00000;
      /* display: flex; */
    /* min-width: 250px; */
    /* min-height: 250px; */
    /* padding: 13px; */
    display: inline-block;
  /*height: 23.4vw;*/
}

.trophydetails,.certificatedetails{
  color: white;
  text-align: left;
  font-size: 1vw;
  margin-bottom: 4%;
}

.certificatedetailstitle1, .certificatedetailstitle2{
  color: white;
  text-align: left;
  font-size: 1.3vw; 
  letter-spacing: 1px;
  margin-bottom: 2%;
  font-weight: bold;
}

.trophyimagestyle{
  /*height: 23.3vw;*/
  width: 100%;
}

.trophyimagestyleouterdiv{
  padding: 0%;
}



.jurysection-style{
  display: none;
  margin-top: 4.5%;
  margin-bottom: 3%;
}

.jury1details-style{
  display: none;
  margin-top: 4%;
  margin-bottom: 3%;
}

.jury2details-style{
  display: none;
  margin-top: 4%;
  margin-bottom: 3%;
}

 .juryimages {
  position: relative;
  cursor: pointer;
 }

  .btn, .btn-danger{
    background-color: transparent;
   margin-bottom: 0px;
    color: white !important;
    border-color: inherit;
    width: 100%;
    letter-spacing: 2px;
    font-size: 1vw;
    border-radius: 0px;
  }


   .btn:hover {
  /*border-color: ;*/
  color: white;
}
   .btn-danger:hover {
 /*border-color:transparent;*/
 color: white;
}

.jurysection-row1{
  margin-bottom: 3%;
}

.jurysection-row2{
  margin-bottom: 6%;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  right: 0;
 left: 0;
  background: rgb(0, 0, 0);
  background: rgba(220, 27, 27, 0.82); /* Black see-through */
  color: #f1f1f1; 
  width: inherit;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 9%;
  text-align: center;
}

.juryimages:hover .overlay {
  opacity: 1;
}

.juryfirstname{
  margin: 0;
  letter-spacing: 2px;
  font-weight: bold;
 font-size: 1.5vw;
  line-height: 0.9;
  margin-bottom: 1%;
  font-family: GothamCondensed-Medium2;
}

.jurylastname{
  margin: 0;
  color: #000000;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 0.9;
  font-family: GothamCondensed-Medium2;
}

.jobtitle{
  display: flex;
  margin-left: -10%;
}

.redribbon{
  width: 8%;
  height: 1.2vw;
  margin-top: 4%;
  margin-right: 1%;
  background-color: #c00000;
  /*margin-bottom: 0px;*/
}

.categorysection-style{
  display: none;
  margin-top: 0%;
  margin-bottom: 3%;
}

.category1details-style{
  display: none;
  margin-top: 2%;
  margin-bottom: 3%;
}

.category2details-style{
  display: none;
  margin-top: -2%;
  margin-bottom: 3%;
}

.category3details-style{
  display: none;
  margin-top: 3%;
  margin-bottom: 3%;
}

.category4details-style{
  display: none;
  margin-top: 3%;
  margin-bottom: 3%;
}

.category5details-style{
  display: none;
  margin-top: 3%;
  margin-bottom: 3%;
}


.category6details-style{
  display: none;
  margin-top: 3%;
  margin-bottom: 3%;
}

.submitentrysection-style{
  display: none;
  margin-top: 0%;
  margin-bottom: 2%;
}


.categories-Text{
  height: 28vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.studentoftheyearsection-style{
  display: none;
}

.customsubcategorywindow{
  height: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-categories-style{
  color:white;
  margin:0px;
  font-family: Gotham-Medium;
  cursor: pointer;
  margin-bottom: 3px;
  font-size: 40px;
}

.main-categories-style2{
  color:rgb(186, 0, 1);
  margin:0px;
  font-family: Gotham-Medium;
  cursor: pointer;
  margin-bottom: 3px;
  font-size: 40px;
}

.main-categories-style:hover {
  color: white;
 /* margin:0px;
  font-family: Calibri-Regular;
  cursor: pointer;*/
}


.main-categories-style2:hover {
  color: white;
 /* margin:0px;
  font-family: Calibri-Regular;
  cursor: pointer;*/
}

.main-categories-lowerborder{
  border: 1px solid #980001;
  margin:0px
}

.submitentrysection-title{
  color: white;
  font-size: 1.4vw;
  letter-spacing: 2px;
  font-weight: bold;
  margin-bottom: 2%;
}


.submitentrysection-titledetails{
  color: white;
  text-align: left;
  font-size: 1.1vw;
  margin-bottom: 5%;
}

.downloadbutton-column1{
  padding-right: 1%;
}


.downloadbutton-column2{
  padding-left: 1%;
}

.downloadbutton-div{
  border: 1px solid #980001;
  padding: 1px;
  height: fit-content;
  width: -webkit-fill-available;
}

.downloadbutton1, .downloadbutton2{
  
  font-size: 0.8vw;
  letter-spacing: 0px;
  color: white !important;
  background-color: #c00000 !important;
  border-color: #c00000;
}

.readbutton-column1{
  padding-right: 1%;
}

.readbutton-column1-title{
  color: white;
  font-weight: bold;
  font-size: 0.8vw;
  letter-spacing: 2px;
}

.readbutton1-div{
  border: 1px solid #980001;
  padding: 2px;
  height: fit-content;
  width: -webkit-fill-available;
  margin-bottom: 5%;
}


.readbutton2-div{
  border: 1px solid #980001;
  padding: 2px;
  height: fit-content;
  width: -webkit-fill-available;
}


.readbutton1, .readbutton2{
  font-size: 0.8vw;
  letter-spacing: 0px;
}


   .downloadbutton1:hover, .downloadbutton2:hover {
  background-color: #c00000;
}


.submitentrysection-readpdf-style{
  display: none;
  margin-top: 0%;
  margin-bottom: 2%;
}

.pdfviewer, .pdfviewer2{
  width:100%; 
  height:400px;
}

.submitentrysectionform-style{
  display: none;
  margin-top: 0%;
  margin-bottom: 0%;
}

.bottomline{
  position: absolute;
  left: 3.7%; 
  bottom: 5%;
  right:4%; 
  border-color: red;
  height: 1px;
    border-top: 1px solid #980001;
    border-bottom: 2px solid #980001;
}




.customcol4{
  width: 37.67% ! important;
}

.customcol8{
  width: 62.33% !important;
}

.subcategoriestextstyle, .subcategoriesfinalisttextstyle{
    font-weight: 100;
    color: white;
    text-align: left;
    font-size: 1.1vw;
    margin-bottom: 2%;
   /* line-height: 1;*/
   /*font-weight: 600;*/
    letter-spacing: 1px;
    text-transform: capitalize;
    font-family: Calibri-Regular;
}

.subcategoriestextstyle:hover{
    color: rgb(186, 0, 1);
    cursor: pointer;
}


.finalistbutton{
  background-color: rgb(186, 0, 1) !important;
}

.finalistbutton:hover{
  background-color: white !important;
  color: black !important;
}


.projectlinkstyle{    
    color: rgb(186, 0, 1) !important;
    text-decoration: none;
  
}

.projectlinkstyle:hover{
    color: white !important;
    cursor: pointer;
}


@media screen and (max-width: 500px){
  .main-categories-style{
  /*color:white;
  margin:0px;
  font-family: Gotham-Medium;
  cursor: pointer;
  margin-bottom: 3px;*/
  font-size: 30px;
}

.main-categories-style2{
 /* color:rgb(186, 0, 1);
  margin:0px;
  font-family: Gotham-Medium;
  cursor: pointer;
  margin-bottom: 3px;*/
  font-size: 30px;
}
}

@media screen and (max-width: 992px){
.dont-show-on-mobile{
  display: none;
}
.show-on-mobile{
  display: block;
}
}

@media screen and (min-width: 992px){
.dont-show-on-mobile{
  display: block;
}
.show-on-mobile{
  display: none;
}
}
