
.category5-list1 {
	list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;
}

.category5-list2 {
	list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;
}

.category5-list3 {
	list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;width: max-content;
}

.category5-list4 {
	list-style-type: none;font-size: 15px;padding-top: 0px;
}
