 .row-flex {
  display: flex;
  flex-wrap: wrap;
}
 .dashboardsocial-icons {
  /*padding-left: 0px;  */
  margin-top: 29px;
  } 


 .dashboardhead2 {
  padding-right:0px;
  padding-left: 0px;
}



 .card {
       background-color: white;
       padding: 20px;
      /* margin-top: 20px;*/
    }

    .card1 {
      
       padding: 20px;
       padding-top: 10px;
      /* margin-top: 20px;*/
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

   

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
   

    .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

span.responsesort {
  font-size: 15px;
  text-transform: initial;
  /*padding-left: 20px;*/
  font-weight: 200;
  float: right;
  font-family: Calibri-Italic;
  padding-top: 5px;
  padding-bottom: 5px;
}


.pagination a:hover:not(.active) {background-color: grey;}
span.stars, span.stars>* {
    display: inline-block;
    background: url('/static/images/stars2.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}
/*scrollbar effects*/
.large-2 {
        /*margin-left: 30px;*/
        /*float: left;*/
        /*height: 300px;*/
        overflow-y: scroll;
        /*margin-bottom: 25px;
        width: auto;
        background: #ccc;*/
    }

    .force-overflow {
        min-height: 450px;
    }

    .large-2::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: #404040;
    }

    .large-2::-webkit-scrollbar {
        width: 10px;
    }

    .large-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #737272;
        border: 1px solid #000;
    }
    /*scrollbar effects end*/

    .btn1
    {
          font-weight: 700;
          font-size: 1.3vw;
          background-color: #e02129;
          border-radius: 0px;
          width: 100%;
          margin-bottom: 20px;
          display: inline-block;
          padding: 6px 12px;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          user-select: none;
          color:black;
    }
  .fullcontainer {
    padding-left: 45px;
    padding-right:45px;
    height: auto;
  }

  .respbutton {
    font-weight: 700;
    font-size: 1.3vw;
    width: 88%;
    font-family: Calibri-Bold;
    font-size: 20px;
  }
  .approvalbutton {
    padding-right: 0px;
  }
  .userimage {
    width:14vw; 
  }
  .userinfo-title {
    font-size: 15px;
    word-break: break-all;
    float: left;
    font-family: Calibri-Bold;
    margin-bottom: 0px;
  }

   .userinfo {
    font-size: 15px;
   /* word-break: break-all;*/
   /* float: left;*/
    font-family: Calibri-Regular;
    color: white;
    padding-left: 7px;
  }
  a.userinfo:hover {  
    color: white;
  }



  .companyinfo {
    color:white;
    margin-top: 35px;
    font-size: 15px;
    float: left;
    padding-left: 15px;
    
    font-family: Calibri-Bold;
    margin-bottom: 11px;
  }

  .respbutton1 {
    font-weight: 400;
    font-size: 15px;
    color: white;
    width:70%;
    padding: 10px;
    background-color: limegreen;
    font-family: Calibri-Bold;
  }

  .respbutton2 {
    font-weight: 400;
    font-size: 15px;
    color: white;
    width:70%;
    padding: 10px;
    font-family: Calibri-Bold;
    pointer-events:none;
  }

  .respbutton3 {
    font-weight: 400;
    font-size: 15px;
    width:70%;
    padding: 10px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    font-family: Calibri-Bold;
  }



  .colstyles {
    margin: 0px 1px 0px;
    font-size: small;
  }
  .navmenu-firstmenu {
    margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
  }

  .postcontainer {
    background-color: #4e4e4e;
  }


.freelancer_details_header1 {
  background: black;
  width: 70.666667%;
  padding-right: 0px;
}

.freelancer_details_header2 {
  padding-right: 0px;
  width: 29.33%;
  padding-left: 10px;
}

.freelancer_details_header2_text {
  font-weight: 700;
  color: white;
  line-height: 33px;
  text-align: center;
  margin-bottom: 0px;
  font-size: 16px;
  font-family: Calibri-Bold;
}

.freelancer_details_content2 {
  width: 32.5%;
}

.selected_freelancer_details_header1 {
  background: black;
  
  
}