/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic,latin);*/

/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box;
  outline: 0;
  padding: 0;
  argin: 0;
}

*::after, *::before {
  content: '';
}

body {
  
  font-weight: normal;
  color: #444;
  
}

.login-container {
  /*padding-left: 45px;
  padding-right: 45px;*/
  background-image: url('/static/images/login.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 45px;
  margin-right: 45px;
  background-position: center;
}

/* -------------------------------- 

Main components 

-------------------------------- */



.cd-tabs {
  position: relative;
  width: 90%;
  max-width: 75%;
  /*min-width: 400px;*/
  margin: 0 auto;
}
.cd-tabs:after {
  content: '';
  display: table;
  clear: both;
}

.cd-tabs nav {
  overflow: hidden;
  position: relative;
}
.cd-tabs-navigation:after {
  content: "";
  display: table;
  clear: both;
}

  .cd-tabs-navigation {
    padding: 0;
    margin: 0;
    width: 100%;
    background-color: #fff;
    /*border: 1px solid #e9e9e9;*/
    border-bottom: none;
    box-shadow: 0 2px 1px #f1f1f1;
    }

  .cd-tabs-navigation li {
    display: block;
    float: left;
    height: 60px;
    width: 50%;
    max-width: 298px;
    line-height: 60px;
    text-align: center;
   }
  .cd-tabs-navigation a {
    position: relative;
    display: block;
    height: 62px;
    width: 100%;
    font-size: 25px;
    padding: 0 0 0 45px;
    color: grey;
  }
  .cd-tabs-navigation a::before {
  /* icons */
  position: absolute;
    top: 52%;
    
    left: 25%;
  display: inline-block;
  height: 22px;
  width: 22px;
  background: url('/static/images/lock.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.cd-tabs-navigation a[data-content='signup']::before {
  background-image: url('/static/images/user.svg');
}

 /* .cd-tabs-navigation a.selected {
    box-shadow: inset 0 2px 0 #f05451;
  }*/

  .cd-tabs-navigation a[data-content='signup']::before {
    left: 23%;
  }

/* трохи попраимо розміщення іконок коли вікно стає меншим */
@media only screen and (max-width: 768px) {
  .cd-tabs-navigation a::before {
    left: 20%;
  }

  .cd-tabs-navigation a[data-content='signup']::before {
    left: 8%;
  }
}

.cd-tabs-navigation a.selected {
  background-color: #fff !important;
  box-shadow: inset 0 8px #e21e27;
  color: #e21e27;
}

/* -------------------------------- 

Вміст вкладок 

-------------------------------- */

.cd-tabs-content {
  background: #ffffff;
  
  margin-bottom: 0px;
  padding-bottom: 30px;
}
.cd-tabs-content li {
  display: none;
  padding: 1.4em 2em 0em 2em;
}
.cd-tabs-content li.selected {
  border: 0px solid #e9e9e9;
  border-top: 1px solid rgba(0,0,0,.02);
  /*box-shadow: 0 2px 1px #f1f1f1;*/
  display: block;

  -webkit-animation: cd-fade-in 0.5s;
  animation: cd-fade-in 0.5s;
}

form {
  display: block;
  position: relative;
}

.form-fild {
  position: relative;
  display: block;
  width: 90%;
  /*height: 50px;*/
  margin: 15px auto;
  background-color: #e4e4e4;
  color: black;
  z-index: 0;
}

.form-fild input,select,option {
  position: relative;
  z-index: 99;
  /*border: none;*/
  border: 1px solid #e0e0e0; 
  display: block;
  width: 100%;
  height: 40px;
  outline: none;
  font-family: Calibri-Regular;
  font-size: 15px;
  color: black;
  background: transparent;
  padding-left: 15px;
  font-weight: 400;
  letter-spacing: 1px;
} 


.form-fild input:focus {
  border-color: black;

}

input:-webkit-autofil,
textarea:-webkit-autofill, 
select:-webkit-autofill  {background-color: transparent;}

.form-fild label {
  position: absolute;
  top: 7px;
  text-transform: lowercase;
  transition: all 0.3s;
}

label.focused {
  font-size: 12px;
  top: -10px;
}

button.formsubmit {
  display: block;
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  background: #756f6f;
  border: 1px solid #B3B3B3;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  transition: all 0.3s;
  letter-spacing: 10px;
  font-family: Gotham-Bold;
}

form button:hover {
  border: 1px solid #444;
}

/* тут буде вставляти текст помилок */
.error {
    display: none;
    position: absolute;
    width: 184px;
    line-height: 18px;
    top: -198px;
    left: 353px;
    padding: 10px;
    color: #DC3B3B;
    background: rgba(255, 0, 0, 0.17);
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
}

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes cd-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.companytype {
  width: 90%;
  margin: 15px auto;
  font-family: Calibri-Regular;
  font-weight: 400;
  color: black;font-size: 15px;
  letter-spacing: 1px;
}


.established {
  height: 40px;
  padding: 9px;
  background: #e4e4e4;
  margin-right: 4%;
  padding-left: 15px;
}

.startup {
  height: 40px;
  padding: 9px;
  background: #e4e4e4;
  padding-left: 15px;
  /*margin-right: 10px;*/
}

.companyblank {
  width: 37.5%;
  background: #756f6f;
  height: 40px;
  padding: 9px;
}

.experiencediv1 {
  padding-right: 0px;
    margin-right: -5px;
}

.experiencediv3 {
  padding-right: 5px;
}





.holder {
position: absolute;
    /*margin: 15px 16px;*/
    color: white;
    cursor: auto;
    z-index: 1;
    font-family: Calibri-Regular;
    font-weight: 100;
    letter-spacing: 1px;
    margin-right: 0px;
    width: -webkit-fill-available;
}

.red{
    font-size: 10px;
    padding-right: 0px;
    letter-spacing: 1px;
}

.floatright {
   font-size: 10px;
       margin-top: 3px;
    padding-right: 30px;
    letter-spacing: 1px;
    float: right;

}

.work{
  margin-left: 28px;
  padding-top: 20px;
}

.resume {
  margin-left: 28px;
  padding-top: 20px;
}

.workexperience {
  margin-left: 28px;
  padding-top: 20px;
}

.lastworkingexp {
  padding-left: 15px;
  padding-top: 10px;
  width: 97%;
  background-color: #e4e4e4;
  border:none;font-size: 16px;}

.membership {
  margin-left: 28px;
  padding-top: 20px;
}

/*.fakeuploadnamediv {
  background: #e21e27;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 15px;
  
    width: 69.3%;
}


.fakeuploadbutton {
  font-size: 15px;
    letter-spacing: 1px;
    width: 100%;
    text-transform: capitalize;
    margin-top: 0px;
   
    font-family: Calibri-Regular;
    font-weight: 400;
    letter-spacing: 1px;
    background: #e4e4e4;
    color: black;
    border: none;
}

.fakeuploadbuttondiv {
  padding-left: 10px;
  padding-right: 0px;
}*/


.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: right;
  width: -webkit-fill-available;
}

.btn1 {
  border: 0px;
    color: white;
    background-color: #e21e27;
    padding: 8px 20px;
    /* border-radius: 8px; */
    /* font-size: 15px; */
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    width: -webkit-fill-available;
    height: 40px;
    letter-spacing: 1px;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


.companyprofilediv1 {
padding-right: 10px;
}

.companyprofilediv2 {
  padding-left: 0px;
}

.companyprofilefile {
  background: #756f6f;
  height: 40px;
  margin: 0px 0px;
  padding: 10px 15px;
  padding-right: 0px;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
  width: initial;
  color: white;
}


.premiumfeatdiv {
  height: 40px;
    padding: 10px 15px;letter-spacing: 1px;font-weight: 400;background-color: #756f6f;margin-top:   60px;
}

.membershipdiv {
  height: 40px;
    padding: 10px 15px;letter-spacing: 2px;font-weight: 400;background-color: #756f6f;
    pointer-events: none;
}

.termsnconditions {
  text-align: center; padding-top: 10px;padding-bottom: 10px;margin-right: 5%;
      margin-left: 5%;
      background: #e4e4e4;font-family: Calibri-Regular;font-size: 15px;letter-spacing: 1px;font-weight: 400;text-transform: capitalize;
      margin-bottom: 15px;
}

.welcome-text
  {
  text-align: center;
  margin: 0 auto; 
  left: 50%;
  width: 100%;
  display: block;
  color: white;
  letter-spacing: 2px;
  padding-bottom: 15px;
} 

.bottom-login-text {
  padding-top: 5px;
  padding-bottom: 40px;color: white; font-weight: 100;margin-bottom: 0px;
  font-size: 15px;
  font-family: Calibri-Regular;
}

.bottom-login-text a.link {
  color: white;
  font-family: Calibri-Bold;
}


h3.welcome-line1 {
  font-family: Gotham-Bold;
  margin-bottom: 0px;
}

h5.welcome-line2 {
  font-size: 14px;
  font-family: Calibri-Regular;
  margin-top: 0px;
}


footer.page-footer {
  padding-left: 20px;
  padding-right: 20px;
}



.upload-btn-wrapper1 input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.freelancercol1 {
  display: flex;
  padding-right: 10px;
  z-index: 0;
}

.upload-btn-wrapper1 {
  position: relative;
  overflow: hidden;
  display: inline-block;
  float: right;
  width: 70%;
}

.freelancerbtn1 {
  border: 0px;
    color: rgb(34, 34, 34);
    background-color: #e4e4e4;
    padding: 8px 20px;
    /* border-radius: 8px; */
    /* font-size: 15px; */
    font-size: 15px;
    padding-left: 0px;
    padding-right: 0px;
    font-weight: 400;
    width: -webkit-fill-available;
    height: 40px;
    letter-spacing: 1px;
}

.freelancercol2 {
  display: flex;
  padding-right: 10px;
  padding-left: 5px;
  z-index: 0;
}


.freelancercol3 {
  display: flex;
  padding-left: 5px;
    padding-right: 15px;
    z-index: 0;
}


.entryformtitle{
  font-size: 1.7vw;
  color: red;
  font-weight: bold;
}


.optionstyle{
  font-size: 18px;
}

.optionstylegrey{
  font-size: 18px;
  background-color: #756f6f;
  color: white;
}

.optionstylewhite{
  font-size: 18px;
  background-color: #e4e4e4; 
  color: black;
}

.fileuploadtitle{
  font-size: 10px;
    float: right;
    letter-spacing: 0px;
    padding-right: 15px;
    padding-top: 4px;
}

.termsnconditionsstyle{
  font-size: 1vw;
  color: black;
  text-align: justify;
}