@font-face {
    font-family: Gotham-Book2;
    src: url('/static/font/gotham/Gotham-Book 2.otf');
}

@font-face {
    font-family: Gotham-Bold;
    src: url('/static/font/gotham/Gotham-Bold.otf');
}

@font-face {
    font-family: Gotham-Light;
    src: url('/static/font/gotham/Gotham-Light.otf');
}

/*@font-face {
    font-family: Calibri-Regular;
    src: url('/static/font/calibiri/calibri.ttf');
}*/

@font-face {font-family: "Calibri-Regular"; src:  url("//db.onlinewebfonts.com/t/a78cfad3beb089a6ce86d4e280fa270b.woff2") format("woff2"); }

@font-face {
    font-family: Calibri-Bold;
    src: url('/static/font/calibiri/calibrib.ttf');
}
@font-face {
    font-family: Calibri-Italic;
    src: url('/static/font/calibiri/calibrii.ttf');
}
@font-face {
    font-family: Calibri-Bold-Italic;
    src: url('/static/font/calibiri/calibriz.ttf');
}

@font-face {
    font-family: GothamCondensed-Medium2;
    src: url('/static/font/gotham/GothamCondensed-Medium 2.otf');
}