.picture-tab-title {
	background-color: black;
    color: white;
    height: 40px;
    padding-left: 15px;
    padding-top: 8px;
    letter-spacing: 2px;
}
.picture-tab-subtitle {
	font-size: 10px; 
	letter-spacing: 1px;
	z-index: 0;
	float: right;
	padding-right: 15px;
	padding-top: 5px;
	letter-spacing: 2px;
}

.picture-tab-row1 {
	margin-bottom: 6px;
}

.picture-tab-row2 {
	margin-bottom: 6px;
}

.picture-tab-row1-col1 {
	padding-right: 8px;
}

.picture-tab-row1-col2 {
	padding-left: 8px;
	padding-right: 8px;
}

.picture-tab-row1-col3 {
	padding-left: 8px;
}

.picture-tab-row2-col1 {
	padding-right: 8px;
}

.picture-tab-row2-col2 {
	padding-left: 8px;
	padding-right: 8px;
}

.picture-tab-row2-col3 {
	padding-left: 8px;
}