

input.form-control1 {
  width: 60%;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;

  font-size: 14px;
  background-color: white;
  background-image: url('/static/images/findbutton.jpg');
  background-position: 18px 11px; 
  background-size: 29px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 55px;
  /*-webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;*/
  float: right;
  height:40px;
}

.form-control1:hover {
  border: 2px solid black;
}

.form-group {
  margin-bottom: 0px;
  margin-top: 9px;
  /*margin-left: 15px;*/
}


.form-control:focus {
  border-color: black; 
  outline: 0;  
  }


.logo {
width: 90%;
margin-top: -1.6%;
}


.social-icons {
  padding-left: 0px;  
  margin-top: 2%;
  }  

.social-icons-innerdiv {
  padding-left: 0px;
}

/*.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  padding-right: 10px;
  }
.social-icons li img {
  width:20px;
  height:20px;
  
}*/


.social-icons img:hover {
   -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}

.total_count_main_div_outer {
  padding-right: 30px;
}

.total_count_main_div {
  display: grid;
  float: right;
}

.total_count_title {
  padding-top: 5px;
  letter-spacing: 1px;
  margin-bottom: 0px;
  font-size: 16px;
  color: red;
}

.total_count_value {
  justify-self: right;
  font-family: Calibri-Bold;
  letter-spacing: 1px;
  line-height: 10px;
  font-size: 20px;
  float:right;
}

.headerline {
  /*margin-top: 20px;*/
  margin-bottom: 6px;*/
  width: 100%;
  border-top: 11px solid black;
  margin-left: 0px;
}

.menu-bar {
    display: inline-flex;
    margin-top: 0;
    margin-bottom: 10px;
    margin-top: 17px;
}
.head2 {
  padding-right:0px;
  padding-left: 0px;
}

.headerline2 {
  margin-top: 20px;
  margin-bottom: 15px;
  width: 100%;
  border-top: 11px solid black;
}

.banner-row {
  padding-right: 45px;
  padding-left: 45px;
  margin-top: 0px;
  /*margin-right: auto;
  margin-left: auto;*/
}

.banner1div {
  padding-right: 1px;
}

.top-left-1 {
  position: absolute;
  top: 2vw;
  left: 45px;
  font-size: 3vw;
  font-family: Gotham-Bold;
}
.top-left-2 {
  position: absolute;
  top: 4.8vw;
  left: 45px;
  font-size: 3vw;
  font-family: Gotham-Bold;
}
.top-left-3 {
  position: absolute;
  top: 7.6vw;
  left: 45px;
  font-size: 3vw;
  font-family: Gotham-Bold;
}
.top-left-4 {
  position: absolute;
  top: 10.4vw;
  left: 45px;
  font-size: 3vw;
  font-family: Gotham-Bold;
}

.first-banner {
  width:100%;
  height:auto;
}

.first-banner2 {
  width:100%;
  height:-webkit-fill-available;
  padding-left:0px;
  max-height: 300px;
}

.second-banner1 {
  height: 233px;
  width: 100%;
}

.category-row {
  padding-top: 15px;
  padding-right: 45px;
  padding-left: 45px;
  margin-right: auto;
  margin-left: auto;
}


.lowerbanner {
  padding-right: 1px;
}

.lowerbanner1div {
  padding-right: 1px;
}

.carousel2image1 {
  /*max-height: 300px;*/
  width: 100%;
  max-width: 100%;
  /*height:fit-content;*/
}


.carousel1image {
  /*max-height: 215px;*/
  width: 100%;
  max-width: 100%;
  /*height:fit-content;*/
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  height: auto;
}

.carousel2image {
  /*max-height: 215px;*/
  width: 100%;
  max-width: 100%;
  /*height:fit-content;*/
}

.bottom-center-1 {
     position: absolute;
    top: 75%;
    left: 6%;
    font-size: 2.5vw;
    font-family: Gotham-Bold;
    /* transform: translate(-6%, 0%); */
}

.pic1 {
  color: white;
}

.pic1:hover {
  color: white;
}
.pic1:focus {
  color: white;
}

.contest-page1-line1 ,.contest-page2-line1,.contest-page3-line1, .contest-page4-line1, .contest-page5-line1, .contest-page6-line1,.contest-page7-line1,
.contest-page8-line1, .contest-page9-line1, .contest-page10-line1, .contest-page11-line1, .contest-page12-line1 {

    padding: 11px;
    position: absolute;
    top: 12px;
    line-height: 30px;
    width: min-content;
    background: black;
    text-align: left;
    left: 12px;
    font-size: 24pt;
    font-family: Gotham-Bold;
    letter-spacing: 1px;

}

.contest-page1-line2, .contest-page2-line2, .contest-page3-line2, .contest-page4-line2, .contest-page5-line2, .contest-page6-line2, .contest-page7-line2,
.contest-page8-line2, .contest-page9-line2, .contest-page10-line2, .contest-page11-line2, .contest-page12-line2 {
  padding: 11px;
    background: red;
    padding-right: 0px;
    position: absolute;
    top: 101px;
    left: 12px;
    width: 240px;
    font-size: 115%;
    font-family: Calibri-Bold;
    font-weight: 400;
    text-align: left;
    color: white;
    line-height: 12px;
    letter-spacing: 1px;

}

.contest-page1-line3, .contest-page3-line3,.contest-page7-line3 {
  background: black;
    position: absolute;
    top: 180px;
    left: 12px;
    width: 240px;
    font-size: 115%;
    line-height: 20px;
    padding: 11px;
    color: white;
    text-align: left;
    font-family: Calibri-Regular;
    font-weight: 400;
    letter-spacing: 1px;
}


.contest-page2-line3, .contest-page4-line3, .contest-page5-line3, .contest-page6-line3, .contest-page8-line3, .contest-page9-line3, 
.contest-page10-line3, .contest-page11-line3 {
  background: black;
    position: absolute;
    top: 195px;
    left: 12px;
    width: 240px;
    font-size: 115%;
    line-height: 20px;
    padding: 11px;
    color: white;
    text-align: left;
    font-family: Calibri-Regular;
    font-weight: 400;
    letter-spacing: 1px;
}

.contest-page12-line3 {
  background: black;
  position: absolute;
  top: 211px;
  left: 12px;
  width: 240px;
  font-size: 115%;
  line-height: 20px;
  padding: 11px;
  color: white;
  text-align: left;
  font-family: Calibri-Regular;
  font-weight: 400;
  letter-spacing: 1px;
  }





.bottom-left-1 {
  position: absolute;
    top: 1.2vw;
    left: 43px;
    font-size: 3vw;
    font-family: Gotham-Bold;
}

.bottom-left-2 {
    position: absolute;
    top: 4vw;
    left: 43px;
    font-size: 3vw;
    font-family: Gotham-Bold;
}

.bottom-left-3 {
    position: absolute;
    top: 6.8vw;
    left: 43px;
    font-size: 3vw;
    font-family: Gotham-Bold;
}

.bottom-left-4 {
    position: absolute;
    top: 9.6vw;
    left: 43px;
    font-size: 3vw;
    font-family: Gotham-Bold;
}

.bottom-left-p1 {
    position: absolute;
    top: 112px;
    left: 42px;
    font-size: 125%;
    font-family: Gotham-Bold;
    font-weight: 400;
    color: yellow;
}
.bottom-left-p2 {
    position: absolute;
    top: 134px;
    left: 43px;
    font-size: 125%;
    color: yellow;
    font-family: Gotham-Bold;
}
.bottom-left-p3 {
    position: absolute;
    top: 162px;
    left: 43px;
    font-size: 88%;
    /* color: yellow; */
    font-family: Calibri-Bold;
}
.bottom-left-p4 {
    position: absolute;
    top: 182px;
    left: 43px;
    font-size: 88%;
    line-height: 22px;
    /* color: yellow; */
    text-align: left;
    font-family: Calibri-Regular;
    font-weight: 400;
}

.bottom-left-3 {
  position: absolute;
    top: 6.8vw;
    left: 43px;
    font-size: 3vw;
    font-family: Gotham-Bold;
}

.headerline3 {
  margin-top: 4px;
  margin-bottom: 0px;
  width: 100%;
  border-top: 13px solid black;
  margin-left: 0px;
}

.headerline4 {
  margin-top: 4px;
  margin-bottom: 0px;
  width: 100%;
  border-top: 13px solid black;
  margin-left: 0px;
}

.headerline5 {
  margin-top: 92px;
  margin-bottom: 0px;
  width: 100%;
  border-top: 13px solid black;
  margin-left: 0px;
}

.page-footer {
      background: white;
    height: 40px;
}


.footer-row {
  padding-right: 30px;
  padding-left: 45px;
  padding-top: 10px;
  margin-right: auto;
  margin-left: auto;
}

.square {
  height: 11px;
  width: 11px;
  background-color: black;  
margin-top: 4px;
   /* padding-right: 0px;
    margin-left: 0px;*/
}
/*changed it from button to button.post, used in post project page */
button.post {
  position: relative;
 
  height: 45px;
  
  margin: 10px 7px;
  padding: 8px 8px;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 0px;
  color:white;
  border: 3px #383736 solid;
  border-radius: 0px;
  text-transform: uppercase;
  outline: 0;
  overflow:hidden;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.fill:hover {
  color: whitesmoke;
}

.fill:before {
  content: "";
  position: absolute;
  background: #383736;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}

.fill:hover:before {
  top: 0;
}


a.navmenu {
  color: black;
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: 400;
}

a.navmenu:hover {
color: red;
/*font-weight: 800;*/
text-decoration: none;
}


.navmenu-lastmenu {
  margin-left:-12px;
  margin-right: 0px;
  text-align: -webkit-center; 
  margin-top: 1px;
}

.dropdown-menu {
  text-align: center;
  left: -12px;
  min-width: 107px;
  padding: 5px 0px;
  margin:10px 24px;
  border-radius: 0px;
  border-color: #c1bfbf;
}


a.footmenu {
  color: black;
  font-size: 15px;
  
}
a.footmenu:hover {

/*font-weight: 800;*/
text-decoration: none;
color: red;
}

.square1div {
  padding-left: 0px; 
  padding-right: 0px;
  text-align: -webkit-center
  ;width: 5.333333%;
  margin-right:-15px;
}

.square2div {
  padding-left: 0px;
  padding-right: 0px;
  text-align: -webkit-center;
  width: 5.333333%;
  margin-right:-3px;
}

.square3div {
  padding-left: 0px; 
  padding-right: 0px;
  text-align: -webkit-center;
  width: 5.333333%;
  margin-right:-15px;
}

.footermenu1 {
  padding-left: 0px;
  padding-right: 0px;
  width: 10.333333%;
  padding-top: 1px;
}


.footermenu2 {
  padding-left: 0px;
  padding-right: 0px;
  margin-right:-15px;
  padding-top: 0px;
}

.footermenu3 {
  padding-left: 0px;
  padding-right: 0px;
  margin-right:-3px;
  padding-top: 1px;
}

.headerline1div {
  padding-left: 0px;
}

span.num
    {
    position:relative;
    top:0;
    right:-5px;
    width:20px;
    height:20px;
    border-radius:50%;
    background:red;
    color:#fff;
    line-height:22px;
    font-family:sans-serif;
    text-align:center;
    }


div.all-col {
  background-color: white;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
}

div.cat-col-1 {
  width: 19.666667%;
  padding-left: 0px;
  padding-right: 3px;
}

div.cat-col-1-inner1 {
  text-align: left;
}

div.cat-col-1-inner2 {
 text-align: left; 
}

.firstfootmenu {
  padding-left: 0px;padding-right: 0px;width: 9.333333%;
}

