{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Publik - Freelancer Login</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />


  <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <script type="text/javascript" src="{% static "js/login.js" %}"></script>
  <title>Register - Login</title>
    <style>
    .welcome-text
    {
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
    left: 50%;
    width: 100%;
    display: block;
    padding-top: 100px;
    padding-bottom: 15px;
  } </style>
</head>
<body>
    <div class="container">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static "images/logo.jpg" %}" alt="logo" style="width:60px;">
      </a>
      <ul class="navbar-nav pl-2" style="font-size:15px;">
       
        <li class="nav-item pl-2">
          <a class="nav-link" href="#">About us</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Open Bids</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Industry Updates</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Blogs</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Awards</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Campaigns Released</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Hall of Fame</a>
        </li>
         <li class="nav-item pl-2">
          <a class="nav-link" href="#">Merchandise</a>
        </li>
        
        <li class="nav-item pl-2">
          <div class = "nav-link">
              {% if name %}
                    <a class="nav-link" href="{% url 'dashboard' %}">welcome, {{ name }}</a>
                    <!-- <a class="nav-link" href="{% url 'logout' %}"><u>Logout</u></a>  -->
                  {% endif %}
                  {% if error %}
                     <i><u>{{ error }}</u></i>
                  {% endif %}
          </div>
        </li>
        <li class="nav-item pl-2">
          <div class = "nav-link">
              {% if name %}            
                    <a class="nav-link" href="{% url 'logout' %}"><u>Logout</u></a> 
                  {% endif %}
            </div>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            Dropdown link
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item" href="#">Link 3</a>
          </div>
        </li> -->

      </ul>
    </nav>
  </div>
    </div>
    <br><br><br>
    <div class="clearfix"></div>
  <div class="welcome-text">
          <h3>We're glad to see you again!</h3>
          <span>Don't have an account? <a >Sign Up Below</a></span>
        </div>
    <div style="color: red;font-weight: bold; font-style: italic;text-align: center;">
            {% if error %}
                {{ error }}
            {% endif %}
    </div>
    <div class="cd-tabs">
      <nav>
        <ul class="cd-tabs-navigation">
          <li><a href="#" data-content="login" class="selected" style="color: black;">Log In</a></li>
          <li><a href="#" data-content="signup" style="color: black;">Sign Up</a></li>
        </ul>
      </nav>
      <ul class="cd-tabs-content">
        <li data-content="login" class="selected">
          <form name="login-form" method="POST" action="{% url 'freelogin' %}">{% csrf_token %}
            <div class="form-fild">
              <input type="text" name="email" placeholder="Email">
            </div>
            <div class="form-fild">
             <input type="password" name="password" placeholder="Password">
            </div>
            <span class="error"></span>
            <button type="submit" class="btn-outline-dark">Login</button>
          </form>
        </li>



        <li data-content="signup">
          <form name="signup-form" method=POST action="{% url 'freereg' %}">{% csrf_token %}
            <div class="form-fild">
             
              <input type="text" name="username" placeholder="Username">
            </div>
            <div class="form-fild">
              
              <input type="email" name="email" placeholder="Email">
            </div>
            <div class="form-fild">
              
              <input type="password" name="password1" placeholder="Password">
            </div>
            <div class="form-fild">
              
              <input type="password" name="password2" placeholder="Re-Enter Your Password">
            </div>
            <div>
              <select name="country" class="form-fild" style="height:35px;font-size: 16px; border-top-style: none;border-left-style: none;border-right-style: none;border-color: #e0e0e0;" >
                <option style="color: #e0e0e0;" value="" disabled selected>Select Country</option>
                <option value="India">India</option>
                <option value="USA">USA</option>
                <option value="Australia">Australia</option>
              </select>
            </div>
            
            <div class="form-fild" style="height:35px;margin-top: 20px;">
              
              <input type="text" name="phone" placeholder="Phone Number">
            </div>

            <div>
              <select name="expertise" class="form-fild" style="height:35px;font-size: 16px; border-top-style: none;border-left-style: none;border-right-style: none;margin-top: 25px;border-color: #e0e0e0;" >
                <option value="" disabled selected>Area of Expertise</option>
                <option value="DevOps">DevOps</option>
                <option value="Photography">Photography</option>
                <option value="Designer">Designer</option>
              </select>
            </div>
            <div>
            <p class="form-fild" style="color:#808080;margin-top: 25px;">Prefer working hours</p>
            <p class="form-fild" style="color:#808080;font-size: 12px;margin-top: -35px;">From:</p>
            <input type="time" name="from_time" class="form-fild" style="height: 25px;font-size: 16px;border-top-style: none;border-left-style: none;border-right-style: none;margin-top: -50px;" >
            <p class="form-fild" style="color:#808080;font-size: 12px;margin-top: -5px;">To:</p>
            <input type="time" name="to_time" class="form-fild" style="height: 25px;font-size: 16px;border-top-style: none;border-left-style: none;border-right-style: none;margin-top: -50px;" >
            </div>

            <!-- <div class="form-fild"> -->
              <div class="input-group" style="margin-top: 30px;margin-left: 30px;color: #808080;">          
                <div class="custom-file">
                  <div class="float-left"><p style="font-size: 15px;">Upload resume/CV : 
                  <input name="resume" type="file" class="custom-file-input" id="inputGroupFile01"
                    aria-describedby="inputGroupFileAddon01"></p></div>              
                </div>
              </div>

              <div class="form-fild" style="height:35px;margin-top: 20px;">
              
              <input type="text" name="social_id" placeholder="Enter Facebook ID/Instagram ID">
            </div>

            <div class="form-fild" style="height:35px;margin-top: 25px;">
              
              <input type="text" name="campaign" placeholder="Enter Campaign details">
            </div>

             <div class="form-fild" style="height:35px;margin-top: 25px;">
              
              <input type="text" name="prev_job" placeholder="Enter Previous Job details">
            </div>

            <div style="margin-top: 20px; color:#808080;font-size: 15px;">
              <center><br>
            <input name="membership" type="checkbox" class="custom-control-input" id="defaultChecked1">
              <label class="custom-control-label" for="defaultChecked1"><b>Want Premium Membership</b></label></center>
            </div>

            <div style="color:#808080;font-size: 15px;">
              <center>
            <input name="agree" type="checkbox" class="custom-control-input" id="defaultChecked2">
              <label class="custom-control-label" for="defaultChecked2"><b>Agree to all terms & conditions</b></label></center>            </div>
           <!--  </div> -->

            <span class="error">
          <!--   {% if error %}
                {{ error }}
            {% endif %} -->
          </span>

            <button type="submit" class="btn-outline-dark">Register</button>
          </form>
        </li>
        <!-- {% if error %}
            {{ error }}
        {% endif %} -->
      </ul>
    </div> <!-- end cd-tabs -->
    <br>
     <p class="text-center">
                    Want to get your work done? <a href="{% url 'login' %}"><i>Hire a freelancer</i></a>
                  </p>
  
</body>
</html>