{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Publik - Client Dashboard</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->

    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

    <!--     Fonts and icons     -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->
    <!-- <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'> -->
    <!-- <link href="{% static "css/pe-icon-7-stroke.css" %}" rel="stylesheet" /> -->
    <style>
   


    /* Create two unequal columns that floats next to each other */
    /* Left column */
    .leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
    .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
    }

    /* Fake image */
    .fakeimg {
      background-color: #aaa;
      width: 100%;
      padding: 20px;
    }

    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 20px;
      /* margin-top: 20px;*/
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

   

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 800px) {
      .leftcolumn, .rightcolumn {   
        width: 100%;
        padding: 0;
      }
    }

    .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #1DC7EA;}
    </style>
</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="" data-image="{% static "images/sidebar-6.jpg" %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'index' %}" class="simple-text"><img src="{% static "images/logo.jpg" %}" alt="logo" style="width:40px;">
                    FREEPUBLIK
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'udashboard' %}">
                        <i class="lni-dashboard"></i>
                        <p>My Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'uprofile' %}">
                        <i class="lni-user"></i>
                        <p>My Profile</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'post_new' %}">
                        <i class="lni-grow"></i>
                        <p>Create Project</p>
                    </a>
                </li>
                 <li>
                    <a href="#">
                        <i class="lni-stamp"></i>
                        <p>Payments & Invoices</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="lni-printer"></i>
                        <p>Project Ratings & Reviews </p>
                    </a>
                </li>
                
                <!-- <li class="#">
                    <a href="upgrade.html">
                        <i class="lni-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid" style="background-color: #343a40;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                </div>
                <div class="collapse navbar-collapse">
                  

                    <ul class="nav navbar-nav navbar-right">
                        
                        <li>
                            <a href="{% url 'logout' %}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Welcome, {{ name }}</h4>
                                <p class="category"></p>
                            </div>
                            
                        </div>                   
                </div>

                <div class="row">
                  <div class="leftcolumn">
                    {% for post in posts %}
                    <div class="card">
                      <h3>{{ post.job_type }}</h3>
                      <h5>{{ post.author }} , {{ post.date }}</h5>
                      <hr>
                      <div class="row"><div class="col-md-12"><p><b>Details:</b></p></div></div>
                      <div class="row">                        
                          <div class = "col-md-6">                            
                            <p>Budget - {{ post.budget }}</p>
                            <p>Milestones - {{ post.milestones }}</p>
                          </div>
                          <div class = "col-md-6">
                              <p>Team Requirements - {{ post.team_requirement }}</p>
                          </div>
                      </div>
                      <p><b>Description:</b></p>
                      <p>{{ post.brief }}</p>
                      {% if post.apply_list %}
                      <a class="pull-left" href="#"><u>You have got responses</u></a>
                      {% endif %}
                      <a class="btn btn-info btn-fill pull-right" href="{% url 'post_delete'  id=post.id  %}">Delete POST</a>
                      <div class="clearfix"></div>
                    </div>
                    {% endfor %} 
                    <div class="center"> 
                    <div class="pagination">
                    <span class="step-links">
                        <span class="current" style="font-style: italic;">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>
                        <br>

                        {% if posts.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ posts.previous_page_number }}">previous</a>
                        {% endif %}

                        

                        {% if posts.has_next %}
                            <a href="?page={{ posts.next_page_number }}">next</a>
                            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div></div>
                
                  </div>

                  <div class="rightcolumn">
                    <div class="card"><center>
                      <h2>About Me</h2>
                      {% for user in users %}
                      <div> <image style="height:100px;" src="{{ user.profile }}"></div>
                      <p> {{ user.about }}</p>{% endfor %}</center>
                    </div>
                    <div class="card">
                      <h3>Recent Post</h3>
                      <div class="fakeimg">Image</div><br>
                      <div class="fakeimg">Image</div><br>
                      <div class="fakeimg">Image</div>
                    </div>
                    
                  </div>
                </div>
                

                
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>            
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="">FREEPUBLIK</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
    <!-- <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script> -->

    <!--  Charts Plugin -->
    <!-- <script src="{% static "js/chartist.min.js" %}"></script> -->

    <!--  Notifications Plugin    -->
    <!-- <script src="{% static "js/bootstrap-notify.js" %}"></script> -->

    <!--  Google Maps Plugin    -->
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script> -->

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <!-- <script src="{% static "js/demo.js" %}"></script> -->

    

</html>
