{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>Publik - Create Post</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />


    <!-- Bootstrap core CSS     -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" />

    <!-- Animation library for notifications   -->
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet"/>

    <!--  Light Bootstrap Table core CSS    -->
    <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>


    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="{% static "css/demo.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="{% static "css/pe-icon-7-stroke.css" %}" rel="stylesheet" />

</head>
<body>

<div class="wrapper">
    <div class="sidebar" data-color="" data-image="{% static "images/sidebar-6.jpg" %}">

    <!--

        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag

    -->

        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'index' %}" class="simple-text"><img src="{% static "images/logo.jpg" %}" alt="logo" style="width:40px;">
                    FREEPUBLIK
                </a>
            </div>

            <ul class="nav">
                <li>
                    <a href="{% url 'udashboard' %}">
                        <i class="lni-dashboard"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'uprofile' %}">
                        <i class="lni-user"></i>
                        <p>Profile</p>
                    </a>
                </li>
                <li class="active">
                    <a href="{% url 'post_new' %}">
                        <i class="lni-grow"></i>
                        <p>Create Post</p>
                    </a>
                </li>
                 <li>
                    <a href="#">
                        <i class="lni-stamp"></i>
                        <p>Manage Legal</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="lni-printer"></i>
                        <p>Payments & Invoices </p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="lni-stats-up"></i>
                        <p>Campaign Status</p>
                    </a>
                </li>               
                <li>
                    <a href="#">
                        <i class="lni-spell-check"></i>
                        <p>Review & Rating</p>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="lni-alarm"></i>
                        <p>Notifications</p>
                    </a>
                </li>
                <li class="#">
                    <a href="upgrade.html">
                        <i class="lni-rocket"></i>
                        <p>Upgrade to PRO</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid" style="background-color: #343a40;">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                </div>
                <div class="collapse navbar-collapse">
                  

                    <ul class="nav navbar-nav navbar-right">
                        
                        <li>
                            <a href="{% url 'logout' %}">
                                <p>Log out</p>
                            </a>
                        </li>
                        <li class="separator hidden-lg"></li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="card">

                            
                            <div class="content">
                       
                                          <a href="{% url 'post_new' %}" class="top-menu" style="float:right;"><span class="glyphicon" style="top:6px;">Click to Post a New Campaign</span></a><br><hr style="border-color: grey">
                                          
                                     
                                     <form name="edit-form" method="POST" action="{% url 'post_new' %}">{% csrf_token %}
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                       <label>Job Type</label>
                                                       {% if data %}
                                                       <h4 style="margin: 0px 1px 0px;font-size: small;font-family: cursive;">{{ data.job_type }}</h4>
                                                       {% else %}
                                                        <select class="form-control" name="job_type" placeholder="job_type">  
                                                          <option value="{{ obj.job_type }}" hidden>{{ obj.job_type }}</option>
                                                          <option value="Arts">Arts</option>
                                                          <option value="Photography">Photography</option>
                                                          <option value="Web Designing">Web Designing</option>
                                                        </select>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Budget</label>
                                                        {% if data %}
                                                        <h4 style="margin: 0px 1px 0px;font-size: small;font-family: cursive;">{{ data.budget }}</h4>
                                                        {% else %}
                                                        <input type="text" name="budget" class="form-control" placeholder="Budget" value="{{ obj.budget }}">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Brief</label>
                                                        {% if data %}
                                                         <h4 style="margin: 0px 1px 0px;font-size: small;font-family: cursive;">{{ data.brief }}</h4>
                                                         {% else %}
                                                        <textarea rows="5" name="brief" class="form-control" placeholder="Enter Details">{{ obj.brief }}</textarea>
                                                        {% endif %}
                                                    </div>
                                                </div>                                                
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Milestones/Timelines</label>
                                                        {% if data %}
                                                        <h4 style="margin: 0px 1px 0px;font-size: small;font-family: cursive;">{{ data.milestones }}</h4>
                                                        {% else %}
                                                        <textarea rows="5" name="milestones" class="form-control" placeholder="Enter Milestones/Timelines Details">{{ obj.milestones }}</textarea>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            <div class="row">                                         
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label>Team Requirement</label>
                                                        {% if data %}
                                                        <h4 style="margin: 0px 1px 0px;font-size: small;font-family: cursive;">{{ data.team_requirement }}</h4>
                                                        {% else %}
                                                        <input type="Number" name="team_requirement" class="form-control" placeholder="Team Requirement" value="{{ obj.team_requirement }}">
                                                        {% endif %}
                                                    </div>
                                                </div>                                                
                                            </div>




                                            {% if data %}
                                            <a class="btn btn-info btn-fill pull-right" href="{% url 'post_edit' %}">EDIT POST</a>
                                            {% else %}
                                            <button type="submit" class="btn btn-info btn-fill pull-right">POST</button>
                                            {% endif %}
                                            <div class="clearfix"></div>
                                        </form>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Users Behavior</h4>
                                <p class="category">24 Hours performance</p>
                            </div>
                            <div class="content">
                                <div id="chartHours" class="ct-chart"></div>
                                <div class="footer">
                                    <div class="legend">
                                        <i class="fa fa-circle text-info"></i> Open
                                        <i class="fa fa-circle text-danger"></i> Click
                                        <i class="fa fa-circle text-warning"></i> Click Second Time
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <i class="fa fa-history"></i> Updated 3 minutes ago
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>



               
            </div>
        </div>


        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>            
                        <li>
                            <a href="#">
                               Blog
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; <script>document.write(new Date().getFullYear())</script> <a href="">FREEPUBLIK</a>
                </p>
            </div>
        </footer>

    </div>
</div>


</body>

    <!--   Core JS Files   -->
    <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "js/bootstrap.min.js" %}" type="text/javascript"></script>

    <!--  Charts Plugin -->
    <script src="{% static "js/chartist.min.js" %}"></script>

    <!--  Notifications Plugin    -->
    <script src="{% static "js/bootstrap-notify.js" %}"></script>

    <!--  Google Maps Plugin    -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
    <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>

    <!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
    <!-- <script src="{% static "js/demo.js" %}"></script> -->

    

</html>
