{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
  <!-- End Google Tag Manager -->

<!-- Basic Page Needs
  ================================================== -->
  <title>FreePublik - Categories</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/category.css" %}">


  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

  <style>
    .container1 {
  position: relative;
  text-align: center;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

    .img-wrapper {
      height: 400px;
      width:100%;
      /*background-image: url('/static/images/howback.jpg');*/
      position: relative;
      overflow-x:auto;
      overflow-y:auto;
    }

    .img-wrapper > img {
      position: relative;
    }
    @media screen and (max-width: 988px) {
      input.form-control1 {
        width:100%;
      }
      .headerline {
        padding-left: 15px;
      }
      .social-icons {
        text-align: center;
      }
      .head2 {
        padding-left: 0px;
      }
      .dropdown-menu {
        left: 30%;
        right: 30%;
      }
      .banner-row {
        padding-left: 0px;
        padding-right: 0px;
      }
     /* div.cat-col-1 {
        width: 100%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
      }
      div.all-col {
        background-color: white;
        padding-left:30px;
        padding-right: 30px;
        padding-top: 40px;
        padding-bottom: 40px;
      }
      div.cat-col-1-inner1 {
        padding-right: 15px;
      }
      div.cat-col-1-inner2 {
        padding-left: 15px;
      }*/
      .navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }
.firstfootmenu {
         width: 27.333333%;

}
.banner1div {
      padding-right: 15px;
    }
    .lowerbanner {
      padding-right: 15px;
    }
    .lowerbanner1div {
      padding-right: 15px;
    }
    .footer-row {
      padding-left: 30px;
    }
    .square1div {

      margin-right:0px;
    }
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
    .footermenu1 {
    
    width: 100%;}

    div.all-col {
  
  padding-left: 50px;
  padding-right: 50px;
 
}
.category5-list4 {
  padding-left: 0px;
}

  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

  }
    @media screen and (min-width: 1270px) {
        .modal-lg {
          width: 90%; /* New width for large modal */
        }
    }
  /*  @media screen and (min-width: 2440px) {
        .modal-lg {
          width: 1114px; 
        }
    }*/
    .modal-header {
    border-bottom: 0 none;
}

</style>

</head>
<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
      <div class="col-md-12 social-icons-innerdiv" style="">
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
      </div>
      <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
       <!--  <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 0 </p>
        {% endif %}
      </div> -->
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2" style="text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; margin-top: 1px;">
              <div class="square"></div>
            </div>
          <div class="col-md-3" style="text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
                {% if fname %}
                <b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
                {% elif uname %}
                <b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>         
                {% else %}
                <b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class=""></span>
                </a>
                <ul class="dropdown-menu" style="">
                  <li><a tabindex="-1" href="{% url 'login' %}" style="font-weight: unset;font-size: 12px;padding: 3px 6px 3px;font-weight: 400;">AS A <span style="color: red">CLIENT</span></a></li>
                  <li class='divider' style="height: 2px;margin: 0px 0;"></li>
                  <li><a tabindex="-1" href="{% url 'flogin' %}" style="font-weight: unset;font-size: 12px;padding: 6px 6px 0px;font-weight: 400;">AS A <span style="color: red">FREELANCER</span></a></li>
                </ul></b>
                {% endif %}
              </div>

            </div>
          </div>
          <div class="col-md-3 head2">
            <hr class="headerline2">      
          </div>
        </div>  
  </div>

      <div class="banner-row">

        <div class="row" style="background-image: url('/static/images/howback.jpg');margin-left: 0px;margin-right: 0px;">
         <div class="col-md-12" style="padding-top: 50px;padding-bottom: 40px;padding-left:50px;padding-right: 50px; ">

          <div class="row all-col" style="">
              <div class="row" style="text-align: center;">    
                  <div class="col-md-4" style="margin-bottom: 30px;"> 
                    <a href="" data-toggle="modal" data-target="#modalPoll-1"><img src="{% static "images/cat1.jpg" %}" style="width: 90%;"></a>
                    <!-- Modal: modalPoll for first category -->
                              <div class="modal" id="modalPoll-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-full-height modal-right modal-notify modal-info modal-lg" role="document">
                                  <div class="modal-content" style="border-radius: 0px;">
                                    <!--Header-->
                                    <div class="modal-header">
                                     

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text" style="font-size: 30px;">×</span>
                                      </button>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">
                                     
                                        <!-- <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i> -->
                                       <div class="row" style="margin-top: 14px;margin-bottom: 25px;">
                                       <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                                         <hr class="headerline">
                                       </div>

                                        <div class="col-md-4">
                                        <p style="border-style: solid;padding: 8px;margin-bottom: 20px;text-align: center;width: auto;padding-left: 35px;padding-right: 35px;letter-spacing: 2px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;">DESIGN & CREATIVE</p>
                                       </div>
                                       <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                         <hr class="headerline2">
                                       </div>
                                       </div> 
                                      <div class="row" style="margin: 4%;margin-left:9%;margin-right: 0%;font-weight:400;font-family: Calibri-Regular;font-weight: 400; letter-spacing: 1px;font-family: Calibri-Regular;">
                                          <div class="col-md-3 cat-col-1-inner1" style="">
                                            <ul class="category1-list1" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                     <li><p>Design</p></li>
                                                     <li><p>Design Head</p></li>
                                                     <li><p>Design Director</p></li>
                                                     <li><p>Sr. Design Group Head</p></li>
                                                     <li><p>Design Group Head</p></li>
                                                     <li><p>Sr. Designer</p></li>
                                                     <li><p>Jr. Designer</p></li>        
                                                     <li><p>Brand Identity Design</p></li>
                                                     <li><p>Branding & Logo Design</p></li>
                                                     <li><p>Graphic Designer</p></li>
                                                     <li><p>Presentation Designer</p></li>
                                            </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category1-list2" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                        <li><p>Packaging Designer</p></li>
                                                        <li><p>Motion Graphic Designer</p></li>
                                                        <li><p>Product Designer</p></li>
                                                        <li><p>Interior Designer</p></li>
                                                        <li><p>Typographer</p></li>
                                                        <li><p>Calligrapher</p></li>
                                                        <li><p>Illustrator</p></li>
                                                        <li><p>Water Color Artist</p></li>
                                                        <li><p>Oil Paint Artist</p></li>
                                                        <li><p>Acrylic Paint Artist</p></li>
                                                        <li><p>Sculptor</p></li>
                                              </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category1-list3" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Paper Craft Artist</p></li>
                                                  <li><p>Jewellery Designer</p></li>
                                                  <li><p>Advertising</p></li>
                                                  <li><p>National Creative Director</p></li>
                                                  <li><p>Executive Creative Director</p></li>
                                                  <li><p>Group Creative Director</p></li>
                                                  <li><p>Sr. Creative Director</p></li>
                                                  <li><p>Unit Creative Director</p></li>
                                                  <li><p>Creative Director</p></li>
                                                  <li><p>Associate Creative Director</p></li>
                                                  <li><p>Art Supervisor</p></li>
                                              </ul>
                                            </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category1-list4" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Sr. Art Director</p></li>
                                                  <li><p>Art Director</p></li>
                                                  <li><p>Jr. Art Director</p></li>
                                                  <li><p>Sr. Visualiser</p></li>
                                                  <li><p>Visualiser</p></li>
                                                  <li><p>Jr. Visualiser</p></li>
                                                  <li><p>Creative Trainee</p></li>
                                                  <li><p>DTP Operator</p></li>
                                                  <li><p>Adaptation Operator</p></li>
                                              </ul>
                                            </div>
                                        </div>


                                     

                                      <!-- Radio -->
                                      <p class="text-center">
                                        
                                      </p>                                     
                                  </div>                                    
                                  </div>
                                </div>
                              </div>
                  </div>
                  <div class="col-md-4" style="margin-bottom: 30px;"> 
                   <a href="" data-toggle="modal" data-target="#modalPoll-2"><img src="{% static "images/cat2.jpg" %}" style="width: 90%;"></a>
                     <!-- Modal: modalPoll for second category -->
                              <div class="modal" id="modalPoll-2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-full-height modal-right modal-notify modal-info modal-lg" role="document">
                                  <div class="modal-content" style="border-radius: 0px;">
                                    <!--Header-->
                                    <div class="modal-header">
                                     

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text" style="font-size: 30px;">×</span>
                                      </button>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">
                                     
                                        <!-- <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i> -->
                                       <div class="row" style="margin-top: 14px;margin-bottom: 25px;">
                                       <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                                         <hr class="headerline">
                                       </div>

                                        <div class="col-md-4">
                                        <p style="border-style: solid;padding: 8px;margin-bottom: 20px;text-align: center;width: auto;padding-left: 27px;padding-right: 27px;letter-spacing: 2px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;">FILM & PHOTOGRAPHY</p>
                                       </div>
                                       <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                         <hr class="headerline2">
                                       </div>
                                       </div> 
                                      <div class="row" style="margin: 4%;margin-left:9%;margin-right: 0%;font-weight:400;font-family: Calibri-Regular;font-weight: 400; letter-spacing: 1px;font-family: Calibri-Regular;margin-top: 95px;margin-bottom: 95px;">
                                          <div class="col-md-3 cat-col-1-inner1" style="">
                                            <ul class="category2-list1" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                     <li><p>Photographer</p></li>
                                                     <li><p>Photographer Asistant</p></li>
                                                     <li><p>Make Up Artist</p></li>
                                                     <li><p>Make Up Asistant</p></li>
                                                     <li><p>Hair Stylist</p></li>
                                                     <li><p>Hair Styling Asistant</p></li>                                                     
                                            </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category2-list2" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                        <li><p>Costume Stylist</p></li>
                                                        <li><p>Costume Styling Asistant</p></li>
                                                        <li><p>Food Stylist</p></li>
                                                        <li><p>Food Styling Asistant</p></li>
                                                        <li><p>Model Coordinator</p></li>
                                                        <li><p>Model Coordinator Asistant</p></li>                                                
                                              </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category2-list3" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Art Director</p></li>
                                                  <li><p>Art Director Asistant</p></li>
                                                  <li><p>Set Designer</p></li>
                                                  <li><p>Set Designer Asistant</p></li>
                                                  <li><p>Prop Stylist</p></li>
                                                  <li><p>Producer</p></li>                                                  
                                              </ul>
                                            </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category2-list4" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Associate Producer</p></li>
                                                  <li><p>Line Producer</p></li>
                                                  <li><p>Associate Line Producer</p></li>                                                  
                                              </ul>
                                            </div>
                                        </div>


                                     

                                      <!-- Radio -->
                                      <p class="text-center">
                                        
                                      </p>                                     
                                  </div>                                    
                                  </div>
                                </div>
                              </div>
                  </div>
                  <div class="col-md-4" style="margin-bottom: 30px;"> 
                   <a href="" data-toggle="modal" data-target="#modalPoll-3"><img src="{% static "images/cat3.jpg" %}" style="width: 90%;"></a>
                   <!-- Modal: modalPoll for third category -->
                              <div class="modal" id="modalPoll-3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-full-height modal-right modal-notify modal-info modal-lg" role="document">
                                  <div class="modal-content" style="border-radius: 0px;">
                                    <!--Header-->
                                    <div class="modal-header">
                                     

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text" style="font-size: 30px;">×</span>
                                      </button>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">
                                     
                                        <!-- <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i> -->
                                       <div class="row" style="margin-top: 14px;margin-bottom: 25px;">
                                       <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                                         <hr class="headerline">
                                       </div>

                                        <div class="col-md-4">
                                        <p style="border-style: solid;padding: 8px;margin-bottom: 20px;text-align: center;width: auto;padding-left: 8px;padding-right: 8px;letter-spacing: 2px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;">IMAGE RETOUCHING & CGI</p>
                                       </div>
                                       <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                         <hr class="headerline2">
                                       </div>
                                       </div> 
                                      <div class="row" style="margin: 4%;margin-left:9%;margin-right: 0%;font-weight:400;font-family: Calibri-Regular;font-weight: 400; letter-spacing: 1px;font-family: Calibri-Regular;margin-top: 95px;margin-bottom: 95px;">
                                          <div class="col-md-3 cat-col-1-inner1" style="">
                                            <ul class="category3-list1" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                     <li><p>Image Retoucher</p></li>
                                                     <li><p>Print Production</p></li>
                                                     <li><p>Artwork Artist</p></li>
                                                     <li><p>Language Artwork Artist</p></li>
                                                     <li><p>Repro Artist</p></li>
                                                     <li><p>CGI Artist</p></li>                                                     
                                            </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category3-list2" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                        <li><p>CGI Modeler</p></li>
                                                        <li><p>CGI Texture Artist</p></li>
                                                        <li><p>CGI Lighting & Shading Artist</p></li>
                                                        <li><p>Animation-Creative Director</p></li>
                                                        <li><p>Animation-Project Lead</p></li>
                                                        <li><p>Sr. Animator</p></li>                                                
                                              </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category3-list3" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Jr. Animator</p></li>
                                                  <li><p>Animator</p></li>
                                                  <li><p>Fx Artist</p></li>
                                                  <li><p>Hair & Fur Artist</p></li>
                                                  <li><p>Rendering Artist</p></li>
                                                  <li><p>Compositor</p></li>                                                  
                                              </ul>
                                            </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category3-list4" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Roto Artist</p></li>
                                                  <li><p>Layout Artist</p></li>
                                                  <li><p>Matt Painter</p></li>
                                                  <li><p>Match Move Artist</p></li>
                                              </ul>
                                            </div>
                                        </div>


                                     

                                      <!-- Radio -->
                                      <p class="text-center">
                                        
                                      </p>                                     
                                  </div>                                    
                                  </div>
                                </div>
                              </div>
                  </div>
              </div>
              <div class="row" style="text-align: center;">
                   <div class="col-md-2"></div>

                  <div class="col-md-4" style="margin-bottom: 30px;">
                   <a href="" data-toggle="modal" data-target="#modalPoll-4"><img src="{% static "images/cat4.jpg" %}" style="width: 90%;"></a>
                   <!-- Modal: modalPoll for fourth category -->
                              <div class="modal" id="modalPoll-4" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-full-height modal-right modal-notify modal-info modal-lg" role="document">
                                  <div class="modal-content" style="border-radius: 0px;">
                                    <!--Header-->
                                    <div class="modal-header">
                                     

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text" style="font-size: 30px;">×</span>
                                      </button>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">
                                     
                                        <!-- <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i> -->
                                       <div class="row" style="margin-top: 14px;margin-bottom: 25px;">
                                       <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                                         <hr class="headerline">
                                       </div>

                                        <div class="col-md-4">
                                        <p style="border-style: solid;padding: 8px;margin-bottom: 20px;text-align: center;width: auto;padding-left: 8px;padding-right: 8px;letter-spacing: 2px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;">COPYWRITING</p>
                                       </div>
                                       <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                         <hr class="headerline2">
                                       </div>
                                       </div> 
                                      <div class="row" style="margin: 4%;margin-left:9%;margin-right: 0%;font-weight:400;font-family: Calibri-Regular;font-weight: 400; letter-spacing: 1px;font-family: Calibri-Regular;margin-top: 95px;margin-bottom: 95px;">
                                          <div class="col-md-3 cat-col-1-inner1" style="">
                                            <ul class="category4-list1" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                     <li><p>Copy Creative Director</p></li>
                                                     <li><p>Sr. Copywriter</p></li>
                                                     <li><p>Jr. Copywriter</p></li>                                                     
                                            </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category4-list2" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                        <li><p>Academic Writer</p></li>
                                                        <li><p>Research Writer</p></li>
                                                        <li><p>Article & Blog Writer</p></li>                                                      
                                              </ul></div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category4-list3" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Editing & Proofreading Writer</p></li>
                                                  <li><p>Grant Writer</p></li>
                                                  <li><p>Resumes & Cover Letters Writer</p></li>
                                                                                                 
                                              </ul>
                                            </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category4-list4" style="list-style-type: none;padding-left: 0px;font-size: 15px;padding-top: 0px;">
                                                  <li><p>Technical Writer</p></li>
                                                  <li><p>Web Content Writer</p></li>
                                                  <li><p>Story Book Writer</p></li>
                                                  
                                              </ul>
                                            </div>
                                        </div>


                                     

                                      <!-- Radio -->
                                      <p class="text-center">
                                        
                                      </p>                                     
                                  </div>                                    
                                  </div>
                                </div>
                              </div>
                  </div>
                  <div class="col-md-4" style="margin-bottom: 30px;">
                   <a href="" data-toggle="modal" data-target="#modalPoll-5"><img src="{% static "images/cat5.jpg" %}" style="width: 90%;"></a>
                          <!-- Modal: modalPoll for fifth category -->
                              <div class="modal" id="modalPoll-5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true" data-backdrop="false">
                                <div class="modal-dialog modal-full-height modal-right modal-notify modal-info modal-lg" role="document">
                                  <div class="modal-content" style="border-radius: 0px;">
                                    <!--Header-->
                                    <div class="modal-header">
                                     

                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="white-text" style="font-size: 30px;">×</span>
                                      </button>
                                    </div>

                                    <!--Body-->
                                    <div class="modal-body">
                                     
                                        <!-- <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i> -->
                                       <div class="row" style="margin-top: 14px;margin-bottom: 25px;">
                                       <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                                         <hr class="headerline">
                                       </div>

                                        <div class="col-md-4">
                                        <p style="border-style: solid;padding: 8px;margin-bottom: 20px;text-align: center;width: auto;padding-left: 8px;padding-right: 8px;letter-spacing: 2px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;">ACCOUNT & PLANNING</p>
                                       </div>
                                       <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                         <hr class="headerline2">
                                       </div>
                                       </div> 
                                      <div class="row" style="margin: 4%;margin-left:7%;margin-right: 0%;font-weight:400;font-family: Calibri-Regular;font-weight: 400; letter-spacing: 1px;font-family: Calibri-Regular;margin-top: 95px;margin-bottom: 95px;">
                                          <div class="col-md-3 cat-col-1-inner1" style="">
                                            <ul class="category5-list1" style="">
                                                     <li><p>President</p></li>
                                                     <li><p>Sr. Vice President</p></li>
                                                     <li><p>Vice President</p></li>
                                                     <li><p>Associate Vice President</p></li>
                                                     <li><p>Account Supervisor</p></li>                                                     
                                            </ul>
                                          </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category5-list2" style="">
                                                        <li><p>Acccount Director</p></li>
                                                        <li><p>Client Servicing</p></li>
                                                        <li><p>Jr. Client Servicing</p></li>
                                                        <li><p>President-Planning</p></li>
                                                        <li><p>Executive Director-Planning</p></li>
                                              </ul>
                                            </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category5-list3" style="">
                                                  <li><p>Vice President-Planning</p></li>
                                                  <li><p>Associate Vice President-Planning</p></li>
                                                  <li><p>Director-Planning</p></li>
                                                  <li><p>Associate Planning</p></li>
                                                  <li><p>Planning Head</p></li>
                                                                                                 
                                              </ul>
                                            </div>
                                            <div class="col-md-3 cat-col-1-inner2" style="">
                                              <ul class="category5-list4" style="">
                                                  <li><p>Senior Planner</p></li>
                                                  <li><p>Mid-Level Planner</p></li>
                                                  <li><p>Junior Planner</p></li>
                                                  
                                              </ul>
                                            </div>
                                        </div>


                                     

                                      <!-- Radio -->
                                      <p class="text-center">
                                        
                                      </p>                                     
                                  </div>                                    
                                  </div>
                                </div>
                              </div>
                  </div>
                  <div class="col-md-2"></div>
              </div>


          </div>
        </div>

      </div>
    </div>


  <footer class="page-footer" style="padding-left: 15px;">

    <!-- Copyright -->
    <div class="footer-row">
      <div class="row" style="letter-spacing: 2px;">
        <div class="col-md-9">
          <div class="row"><center>

            <div class="col-md-1 footermenu1" style="">
              <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
            </div>
            
            <div class="col-md-1 square2div" style="">
              <div class="square" style="margin-top: 5px;"></div>
            </div>
            <div class="col-md-1 footermenu3" style="">
              <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
            </div>
            <div class="col-md-1 square3div" style="">
              <div class="square" style="margin-top: 5px;"></div>
            </div>
            <div class="col-md-2" style="padding-left: 15px;padding-right: 0px;padding-top: 1px;">
              <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
            </div>


          </center>
        </div>
      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>