

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Client Welcome</title>
  <meta charset="utf-8">
 
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
   <meta name="x-apple-disable-message-reformatting"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta content="telephone=no" name="format-detection"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

 

  
  <style>
 .redline {
  
  
  width: 5%;
    border-top: 11px solid #ea1d24;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}
  

</style>
</head>
<body style="font-family: Calibri-Regular;">
 
        
        
  <div class="banner-row">
    
    <div class="row" style="background:url('https://freepublik.com/static/images/Welcomemail.jpg');height: 100%;;margin-left: 0px;margin-right: 0px;background-repeat: no-repeat;width: max-content;">
     
    <div class="col-md-12" style="padding-top: 40px;padding-bottom: 40px;padding-left:40px;padding-right: 40px; ">
      <div id="myDiv" class="img-wrapper" style="display: inline-flex;">
     
   <div class="" style="display: grid;
    align-items: center;text-align: center;
    justify-content: center;margin-top: 120px;width:28%;">
   <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;" src="https://freepublik.com/static/images/Instagram.png"></a>  
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;" src="https://freepublik.com/static/images/Twitter.png"></a>
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;" src="https://freepublik.com/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;" src="https://freepublik.com/static/images/Facebook.png"></a>
   </div>
   <div class="" style="margin-top: 70px;">
    <h2 style="color: #ea1d24;font-weight:bold;margin-bottom: 2%;font-family: Calibri;font-size: 30px;">WELCOME, <span style="color: #000000;">TO THE REPUBLIK OF CREATIVE FREELANCERS </span></h2>
    <p style="font-family: Calibri;font-size: 12px;color: #000000;">Freepublik&trade; is a global virtual community Creative Freelancers showcasing their talents and expertise. This pool of talent spreads across Design & Creative, Copywriting, Photography, CGI Artists,Planning, Product Design & Packaging,<br/><span style="color: #000000;"> etc., with multi industry domain experience.</span></p>
    <p style="font-size: 12px;font-family: Calibri;color: #000000;">Explore Freepublik&trade;, post your requirements, hire the best creative talent within your budget and adhering to your project timelines. We have the talent pool spread across various experience levels, from college students to industry professionals to<br/> <span style="color: #000000;">those who have picked up their weapons again. Our specialised team of industry experts are also available to help you build and deliver a</span><br/><span style="color: #000000;"> complete end to end campaigns.</span></p>
    <p style="font-size: 12px;font-family: Calibri;color: #000000;">Take the benefit of this limited period offer, we have waved off registration fees, transaction charges as well as speciality consulting charges. Make the most of now and build your product/services campaigns through Freepublik&trade;.com</p>
    
  <p style="font-size:20px;font-weight:bold;font-family: Calibri;margin-bottom: 0px;color: #000000;">Your Company's 
    <span style="color: #ea1d24;">Freepublik&trade;</span>
    <span style="color: #000000;">Account is activated.</span>
    </p>
    <div style="display: flex;">
    <p style="font-size:20px;font-weight:bold;font-family: Calibri;color: #000000;margin-top: 0px;margin-bottom: 0px;">Login ID : <a style="color: #000000">{{ email }}</a></p>
      <div class="redline"></div>
  
    <p style="font-size:20px;font-weight:bold;font-family: Calibri;color: #000000;margin-top: 0px;margin-bottom: 0px;">Login Password: {{ password }}</p>
    </div>


     <p style="color:#000000;font-size: 12px;font-weight: 100;font-family: Calibri;">In case of any support, just drop us a note at <span style="color: #ea1d24;"><a style="color:#ea1d24;">hail@freepublik.com</a></span> and our team will reach out to you on priority.</p>
   </div>
  </div>
      </div>
      </div>
      
    </div>
  </div>

 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script>
       
    </script>
  </body>
  </html>