{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->

<!-- Basic Page Needs
================================================== -->
<title>Publik - Contact Us</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->
<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

<style>
  .container1 {
  position: relative;
  text-align: center;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

  @media screen and (max-width: 988px) {
  input.form-control1 {
width:100%;
}
.headerline {
  padding-left: 15px;
}
.social-icons {
  text-align: center;
}
.head2 {
  padding-left: 0px;
}
.dropdown-menu {
        left: 30%;
        right: 30%;
      }
.navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }
.firstfootmenu {
         width: 27.333333%;

}
.banner1div {
      padding-right: 15px;
    }
    .lowerbanner {
      padding-right: 15px;
    }
    .lowerbanner1div {
      padding-right: 15px;
    }
    .footer-row {
      padding-left: 30px;
    }
    .square1div {

      margin-right:0px;
    }
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
    .footermenu1 {
    
    width: 100%;}
      .social-icons {
        text-align: center;
        padding-left: 15px;
      }
      .social-icons-innerdiv {
    padding-left: 15px;
      }
      .total_count_main_div_outer {
        padding-right: 15px;
      }
      .total_count_main_div {
          display: grid;
          float: none;
      }
      .total_count_value {
          justify-self: center;
          float: none;         
      }
}
</style>

</head>
<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
      <div class="col-md-12 social-icons-innerdiv" style="">
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
      </div>
      <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
       <!--  <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 0 </p>
        {% endif %}
      </div> -->
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2" style="text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; margin-top: 1px;">
              <div class="square"></div>
            </div>
          <div class="col-md-3" style="text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
                {% if fname %}
                <b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
                {% elif uname %}
                <b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>         
                {% else %}
                <b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class=""></span>
                </a>
                <ul class="dropdown-menu" style="">
                  <li><a tabindex="-1" href="{% url 'login' %}" style="font-weight: unset;font-size: 12px;padding: 3px 6px 3px;font-weight: 400;">AS A <span style="color: red">CLIENT</span></a></li>
                  <li class='divider' style="height: 2px;margin: 0px 0;"></li>
                  <li><a tabindex="-1" href="{% url 'flogin' %}" style="font-weight: unset;font-size: 12px;padding: 6px 6px 0px;font-weight: 400;">AS A <span style="color: red">FREELANCER</span></a></li>
                </ul></b>
                {% endif %}
              </div>

            </div>
          </div>
          <div class="col-md-3 head2">
            <hr class="headerline2">      
          </div>
        </div>  
  </div>


	<!-- <div class="row" style="padding-top:40px;">

		<div class="col-md-3">		
  				<form>
  				    <div class="form-group row">
  				      <div class="col-xs-12">        
  				        <b><input class="form-control1" id="ex1" type="text" placeholder="Find Freelancers"></b>
  				      </div>      
  				    </div>
  				</form>
		</div>

		<div class="col-md-6">
        <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
      </div>

		<div class="col-md-3" style="padding-left: 0px;">
			<ul class="social-icons">
				<li><a href="http://www.instagram.com"><img src="{% static "images/Instagram.png" %}" /></a></li>			    
			    <li><a href="http://www.twitter.com"><img src="{% static "images/Twitter.png" %}" /></a></li>			    
			    <li><a href="http://www.linkedin.com"><img src="{% static "images/Linkedin.png" %}" /></a></li>
			    <li><a href="http://www.facebook.com"><img src="{% static "images/Facebook.png" %}" /></a></li>
			</ul>	
		</div>	
	</div>
	
	
	<div class="row" style="padding-bottom: 0px;">
		<div class="col-md-3" style="padding-left: 0px;">
			<hr class="headerline">
		</div>
		<div class="col-md-6" style="margin-top: 15px;">
			<div class="row">
				<div class="col-md-4" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;width: 30.333333%;">
					<b><a class="navmenu" href="">HOW IT WORKS</p></a>
				</div>
				<div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
					<div class="square"></div>
				</div>
				<div class="col-md-4" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
					<b><a class="navmenu" href="">CATEGORIES</p></a>
				</div>
				<div class="col-md-1" style="margin-left:0px;margin-right: 0px; text-align: -webkit-center;">
					<div class="square"></div>
				</div>
				<div class="col-md-2" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
					{% if fname %}
					<b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
					{% elif uname %}
					<b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>					
					{% else %}
					<b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
					    <li><a tabindex="-1" href="{% url 'login' %}">Client Login</a></li>
					    <li><a tabindex="-1" href="{% url 'flogin' %}">Freelancer Login</a></li>
					  </ul></b>
					
					    
					    
					{% endif %}
				</div>
			
			</div>
		</div>
		<div class="col-md-3" style="padding-right:0px;padding-left: 0px;">
		<hr class="headerline2">			
		</div>
	</div> -->	
<!-- Header Container / End -->
	<div class="banner-row">
		
		<div class="row" style="">
			<div class="col-md-12" style="">
			<img src="{% static "images/contactus1.png" %}" alt="banner1" width="100%">
			</div>
			
		</div>
	</div>

	
<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 15px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</body>
</html>