{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
<title>Freepublik - Freelancer Dashboard</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">  -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

 <style>
   #spinner-front, #spinner-back{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all 1s;
  }
  #spinner-front{
    z-index: 999;
    margin-top: 45vh;
    color: #fff;
    text-align: center;
  }
  #spinner-back{
    z-index: 998;
    height: 100vh;
    background: #000;
  }
  #spinner-front.show{
    visibility: visible;
    opacity: 1;
  }
  #spinner-back.show{
    visibility: visible;
    opacity: 0.7;
  }
   
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.freepublikanbuttonimage{
   float: right;
   width: 90%;

}

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    /*.leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
   /* .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
    }*/

    /* Fake image */
    .fakeimg {
      background-color: white;
      width: 90%;
      padding: 20%;
      height: 177px;
    }

    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 20px;
      /* margin-top: 20px;*/
    }

    .card1 {
      
       padding: 20px;
      /* margin-top: 20px;*/
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

   

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    

    .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

span.responsesort {
  font-size: 15px;
  text-transform: initial;
  padding-left: 20px;
  font-weight: 200;
}


.pagination a:hover:not(.active) {background-color: grey;}
span.stars, span.stars>* {
    display: inline-block;
    background: url('/static/images/stars2.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}
/*scrollbar effects*/
.large-2 {
        /*margin-left: 30px;*/
        /*float: left;*/
        /*height: 300px;*/
        overflow-y: scroll;
        /*margin-bottom: 25px;
        width: auto;
        background: #ccc;*/
    }

    .force-overflow {
        min-height: 450px;
    }

    .large-2::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: #404040;
    }

    .large-2::-webkit-scrollbar {
        width: 10px;
    }

    .large-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #737272;
        border: 1px solid #000;
    }
    .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}
    /*scrollbar effects end*/
    @media screen and (max-width: 600px) {
  input.form-control1 {
width:100%;
}
.headerline {
  padding-left: 15px;
}
.dashboardsocial-icons {
  text-align: center;
}
.dashboardhead2 {
  padding-left: 0px;
}
.fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
    .userimage {
      width:60vw; 
    }
    .userinfo {
      font-size: 3.8vw;
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    .respbutton3 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton2 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton1 {
      font-size: 15px;
      width: 100%;
    }
     .sidebar {
      width: 45%;
    }
    .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    .firstfootmenu {
         width: 27.333333%;


}
 .navmenu-firstmenu {
    width: 100.666667%;
}

 /*.navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }*/
.footer-row {
      padding-left: 30px;
    }
    .square1div {

      margin-right:0px;
    }
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
   .dropdown-menu {
        left: 30%;
        right: 30%;
      }
      .footermenu1 {
    
    width: 100%;}
    #right {
    width: -webkit-fill-available;
}
  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }
  }

@media screen and (min-width: 601px) and (max-width: 991px) {
      .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    #right {
      width: -webkit-fill-available;
    }
    .respbutton3 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton2 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton1 {
      font-size: 15px;
      width: 100%;
    }
    .navmenu-firstmenu {
    width: 100%;
}
.dashboardsocial-icons {
    text-align: center;
}
input.form-control1 {
    width: 100%;
}
  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

}

@media screen and (max-width: 988px) {
  .freepublikanbuttonimage {
    float: right;
    width: 100%;
    margin-bottom: 5%;
}
}

@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}
@media (min-width: 1800px) and (max-width: 2000px){
  .workimages {
    
    height: 330px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
}
}
@media (min-width: 2000px){
  .workimages {
    
    height: 400px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}

.profile-pic {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.edit a {
  color: #000;
}
#message {
    position: fixed;
    top: 0;
    right: 0;
    width: 25%;
}
#inner-message {
    margin: 0 auto;
    color: white;
    background-color: #d83c3c;
    border-radius: 5px;
}


 @media (min-width: 1600px) and (max-width: 2000px){
   .freepublikanbuttonimage{
     float: right;
     width: 92%;
  }
 
}
@media (min-width: 2000px) and (max-width: 2350px){
   .freepublikanbuttonimage{
     float: right;
     width: 93%;
  }
}
@media (min-width: 2351px) and (max-width: 2650px){
   .freepublikanbuttonimage{
     float: right;
     width: 94%;
  }
}
@media (min-width: 2651px){
   .freepublikanbuttonimage{
     float: right;
     width: 95%;
  }
}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div id="spinner-front">
  <img src="/static/images/loader.gif"/><br>
  Loading... 
</div>
<div id="spinner-back"></div>
  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">
      
       <div class="col-md-3" style="margin-top: 1.0%;">   
     <!--  <form> -->
        <div class="row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
         <a href="{% url 'awards_about' %}"><img class="logo freepublikanbuttonimage" style="" src="{% static "images/entrybutton.gif" %}" alt="logo"></a>
          </div>      
        </div>
      <!-- </form> -->
    </div>
   

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
      <div class="col-md-12 social-icons-innerdiv" style="">
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
      </div>
      <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
        <!-- <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 0 </p>
        {% endif %}
      </div> -->
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
               <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
              </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  
  
  
  <div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row row-flex" id="largedashboard" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;" id="left">
      <div class="sidebar" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav" style="padding-bottom: 18vw;">
                  <li class="">
                      <a href="{% url 'fdashboard' %}">
                          
                          <p style="color: red;">My Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'fprofile' %}">
                         
                          <p>My Profile</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'fmywork' %}">
                          
                          <p>My Work</p>
                      </a>
                  </li>
                 <!--  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p>Create Project</p>
                      </a>
                  </li> -->
                  <!--  <li>
                      <a href="#">
                          
                          <p>Payments & Invoices</p>
                      </a>
                  </li> -->
                  <!-- <li>
                      <a href="{% url 'freelancer_notifications' %}">
                          
                          <p>Notifications <span class="num">4</span></p>
                      </a>
                  </li> -->
                 <!--  <li>
                      <a href="#">
                          
                          <p>Project Ratings & Reviews </p>
                      </a>
                  </li> -->
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8 postcontainer">
      <div class="main-panel" id="center">
          <nav class="navbar navbar-default navbar-fixed" style="background-color: transparent;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>


          <div class="content">
            <p style="color: white;padding-left: 35px;font-size: 15px;font-family: Calibri-Bold;margin: 25px 0 15px;letter-spacing: 1px;">welcome, {{ name }}
            {% if messages %}
                          
                              {% for message in messages %}
              <div id="message">
                  <div style="padding: 5px;">
                      <div id="inner-message" class="alert alert-error">
                          <button type="button" class="close" data-dismiss="alert">&times;</button>
                         
                                {{ message }}
                             

                      </div>
                  </div>
              </div>
                                {% endfor %}

                          
            {% endif %}

            </p>
              <div class="container-fluid" style="padding-right: 40px;padding-left: 50px; padding-bottom: 20px;">
                

                  <div class="row large-2" id="large-2" style="height: 515px;">
                    {% if error %} {{ error }} {% endif %}
                    <div class="force-overflow">
                    {% for post in posts %}
                                
                                  {% if post.selected == "" and post.freelancer_appointed == "" %}
                                  <div class="col-md-12 responses" style="padding-left: 0px;padding-bottom: 20px;">
                                          <div class="card" id="card1" style="padding-left: 15px;padding-right: 15px;padding-top: 3px;margin-bottom: auto;color: black;font-family: Calibri-Regular;">

                                            
                                            <div class="content">
                                                
                                                  <p style="margin-top: 0px;margin-bottom:0px;font-weight: 400; text-transform: uppercase;font-family: Calibri-Bold;font-size: 20px;color: black;">{{ post.job_type }}</p>
                                                  <p style="margin-top: -6px;font-size: 13px;">{{ post.author }} , {{ post.date }}</p>
                                                  
                                                 
                                                 
                                                    <div class="row">
                                                      <div class="col-md-8" style="width: 66.6666667%;">
                                                        <div class="form-group">
                                                         <p style="font-weight: 400;margin-bottom: 0px;font-family: Calibri-Bold;font-size: 13px;">Project Details:</p>
                                                         <ul style="padding-left: 15px;display: flex;margin-bottom: 30px;">
                                                         <li><p style="text-transform: capitalize;font-weight: 400;font-size: 13px;">Project Budget: {{ post.budget }}</p></li>
                                                         <li style="margin-left: 30px;"><p style="text-transform: capitalize;font-weight: 400;font-size: 13px;">Project Time: {{ post.years }} years {{ post.days }} days</p></li>
                                                          </ul>
                                                         
                                                         <p style="font-weight: 400;margin-bottom: 2px;font-family: Calibri-Bold;font-size: 13px;">Deliverables:</p>
                                                         
                                                         <p style="text-transform: capitalize;font-weight: 400;font-size: 13px;">{{ post.deliverables }}</p>
                                                        
                                                          
                                                          
                                                        </div>
                                                      </div>
                                                      
                                                      <div class="col-md-4">
                                                        <div class="form-group">
                                                          
                                                        <form name="edit-form" method="POST" action="{% url 'post_new' %}">{% csrf_token %}
                                                          {% for each in apply_list %}
                                                          {% if each == post.id %}
                                                            {% if post.selected == name %}
                                                            <a href="{% url 'project_start' postid=post.id username=name %}" ><input type="button" class="btn pull-right respbutton1" style="" value="Accept & Commit" id="accept"></a>
                                                             
                                                             {% else %}
                                                                {% if post.freelancer_appointed == name %}
                                                                  <a class="btn pull-right respbutton2" style="">Project Started
                                                                {% else %}
                                                                  <a class="btn pull-right respbutton2" style="">Approval Pending
                                                                {% endif %}
                                                             {% endif %}
                                                          {% endif %}
                                                          {% endfor %}
                                                        
                                                          {% if post.id not in apply_list %}
                                                            <a class="btn pull-right respbutton3" style="" href="{% url 'show_interest'  id=post.id  %}" onclick="show();">Apply
                                                          {% endif %}
                                                        
                                                        </a>
                                                        
                                                      

                                                        </div>
                                                      </div>                        
                                                    </div>                  
                                                  </form>
                                            </div>



                                          </div></div>


                                  {% else %}
                                    {% if post.selected == name or post.freelancer_appointed == name %}
                                    <div class="col-md-12 responses" style="padding-left: 0px;padding-bottom: 20px;">
                                    <div class="card" id="card2" style="padding-left: 15px;padding-right: 15px;padding-top: 3px;margin-bottom: auto;">

                                      
                                      <div class="content">
                                          
                                            <h4 style="margin-top: 0px;margin-bottom:0px;font-weight: 400; text-transform: uppercase;font-family: Calibri-Bold;">{{ post.job_type }}</h4>
                                            <p style="margin-top: -6px;font-size: 12px;">{{ post.author }} , {{ post.date }}</p>
                                            
                                           
                                           
                                              <div class="row">
                                                <div class="col-md-8" style="width: 66.6666667%;">
                                                  <div class="form-group">
                                                   <p style="font-weight: 600;margin-bottom: 0px;">Project Details:</p>
                                                   <ul style="padding-left: 15px;">
                                                   <li><h6 style="text-transform: capitalize;font-weight: 100;">Project Budget: {{ post.budget }}</h6></li>
                                                   <li><h6 style="text-transform: capitalize;font-weight: 100;">Project Time: {{ post.years }} years {{ post.days }} days</h6></li>
                                                    </ul>
                                                   
                                                   <p style="font-weight: 600;margin-bottom: 2px;">Deliverables:</p>
                                                   
                                                   <h6 style="text-transform: capitalize;font-weight: 100;">{{ post.deliverables }}</h6>
                                                  
                                                    
                                                    
                                                  </div>
                                                </div>
                                                
                                                <div class="col-md-4">
                                                  <div class="form-group">
                                                    
                                                  <form name="edit-form" method="POST" action="{% url 'post_new' %}">{% csrf_token %}
                                                    {% for each in apply_list %}
                                                    {% if each == post.id %}
                                                      {% if post.selected == name %}
                                                      <a href="{% url 'project_start' postid=post.id username=name %}" ><input type="button" class="btn pull-right respbutton1" style="" value="Accept & Commit" id="accept"></a>
                                                       
                                                       {% else %}
                                                          {% if post.freelancer_appointed == name %}
                                                            {% if post.status == "open" %}  
                                                            <a class="btn pull-right respbutton2" style="">Project Started
                                                            {% else %}
                                                            <a class="btn pull-right respbutton2" style="color: black;">Project Closed
                                                            {% endif %}
                                                          {% else %}
                                                            <a class="btn pull-right respbutton2" style="">Approval Pending
                                                          {% endif %}
                                                       {% endif %}
                                                    {% endif %}
                                                    {% endfor %}
                                                  
                                                    {% if post.id not in apply_list %}
                                                      <a class="btn pull-right respbutton3" style="" href="{% url 'show_interest'  id=post.id  %}" onclick="document.body.style.cursor='wait'; return true;">Apply
                                                    {% endif %}
                                                  
                                                  </a>
                                                  
                                                

                                                  </div>
                                                </div>                        
                                              </div>                  
                                            </form>
                                      </div>



                                    </div></div>
                                    {% endif %}


                                  {% endif %}
                               
                               {% endfor %}
                                </div>
                                <div class="center"> 
                                        <div class="pagination">
                                        <span class="step-links">
                                            <span class="current" style="font-style: italic;color: white;padding-bottom: 10px;">
                                                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                                            </span>
                                            <br>

                                            {% if posts.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ posts.previous_page_number }}">previous</a>
                                            {% endif %}

                                            

                                            {% if posts.has_next %}
                                                <a href="?page={{ posts.next_page_number }}">next</a>
                                                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                    
                                      </div>
                               

                              
                              </div>
                  

                  
              </div>
          </div>
          


          
      </div></div>

      <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" style="">{{ name }}</h4>
                     </div>
                      
                                    <!-- <div class="image">
                                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                    </div> -->
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="profile-pic">
                                              {% if freelancer_details.profile %}
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src=" {{ freelancer_details.profile }}"/>
                                               {% else %}                                               
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src="{% static "images/profileimage.jpg" %}"/>
                                               {% endif %}
                                               <div class="edit"><a onclick="demoshow();"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                          </div>
                                            <input type="hidden" id="plantook" name="fdashboard" value="1">
                                            <center><input type="file" id="choose" name="document" style="display:none;" onchange="upload_img(this);"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                       <div style="padding-left: 15px;">  
                                         <div class="row">
                                          <p class="userinfo-title">AREA OF EXPERTISE</p>
                                         </div>
                                         
                                         <div class="row" style="margin-bottom: 10px;"> 
                                              {% for expertise in expertise_list %}                                        
                                             
                                                <span class="square"></span><a class="userinfo" style="">{{expertise}}</a><br>
                                             
                                              {% endfor %}
                                            
                                          </div>

                                          <div class="row">
                                            <p class="userinfo-title">EXPERIENCE</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <span class="square"></span><a class="userinfo" style="">{{freelancer_details.years}} Years {{freelancer_details.months}} Months </a><br>

                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.freelancertype}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">LAST DESIGNATION</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.designation}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">LAST COMPANY</p> 
                                        </div>

                                       <div class="row" style="padding-bottom: 10px;">                                                                             
                                          
                                             <span class="square"></span><a class="userinfo" style="">{{freelancer_details.company}}</a><br>
                                                                                   
                                       </div>
                                       </div>
                                
                      <div class="row">
                       </div>
                      
                    </div>
                    
      </div>
  


   
   
    
    
  </div></div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script>
<script>
    $(document).ready(function() {
        var rightHeight = document.getElementById('right').clientHeight;
        var leftHeight = document.getElementById('left').clientHeight;
        var centerHeight = document.getElementById('center').clientHeight;
        if (centerHeight > leftHeight && centerHeight > rightHeight)
        {
        document.getElementById('right').style.height=centerHeight+'px';
        // document.getElementById('left').style.height=centerHeight+'px';
        }

        
       
    });

  window.addEventListener("load", function() {

    function myFunction(x) { 
    if (x.matches && navigator.userAgent.indexOf("Safari") != -1 ) {
      document.getElementById("right").style.width = '18.59%' ;
      console.log('Hi I am safari')
      
    }
    }

    var x = window.matchMedia("(min-width: 992px)")
    myFunction(x)
    x.addListener(myFunction) 
  });
</script>
<!-- <script>
  $(window).focus(function () {
    $( ".postcontainer" ).load( "/fdashboard .main-panel" );
});


</script> -->

<script>
  $(window).focus(function () {
    setTimeout( 
      function() {
        window.location.reload(true);
      }, 1000);
  });

  window.onload = function(){
    fdashboardfun();
  };

  function fdashboardfun(){
    var ele = $(window).width();
      if(ele > 1750){
        $('#largedashboard').css('height','1000px');
        $('#large-2').css('height', '850px');
        $('#card1 , #card2').css('height','auto');
        $('#card1 , #card2').css('padding-top','20px !important');
        console.log('I am at login size');
      }
      else
      {
        $('#largedashboard').css('height','unset');
        $('#large-2').css('height', '515px');
        $('#card1 , #card2').css('padding-top','3px');
        $('#card1, #card2').css('height','unset');
      }
  }
</script>

<!-- <script>
    $("#accept").click(function (e) {
       e.preventDefault();
       
      
      $("#accept").attr("disabled", true);
      $('#accept').prop('disabled',true).css('opacity',0.5);
      $("#accept").attr('value', 'Project Started');
    });
  </script> -->
  <script type="text/javascript">
         function demoshow()
         { 
         parent.document.getElementById('choose').click();
         // parent.document.getElementById('uploadimage').style.display="block";
         }
      </script>


      <script>
        $("#choose").change(function () {
            if(fileExtValidate(this)) { // file extension validation function
               if(fileSizeValidate(this)) { // file size validation function
                  
               }   
            }    
          });
        
      // function for  validate file extension
      var validExt = ".png, .jpg";
      function fileExtValidate(fdata) {
       var filePath = fdata.value;
       var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
       var pos = validExt.indexOf(getFileExt);
       if(pos < 0) {
        alert("This file is not allowed, Allowed extension : .jpg/.png");
        fdata.value = "";
        return false;
        } else {


          return true;
        }
      }
      //function for validate file size 
      var maxSize = '1024';
      function fileSizeValidate(fdata) {
         if (fdata.files && fdata.files[0]) {
                      var fsize = fdata.files[0].size/1024;
                      if(fsize > maxSize) {
                         alert('Maximum file size exceed. Max Limit 1 MB');
                         fdata.value = "";                       
                         return false;
                      } 
                      else {                    
                        var reader = new FileReader();
                        reader.onload = function (e) {
                          $('#profile_image').attr('src', e.target.result);                        
                        };
                        reader.readAsDataURL(fdata.files[0]);
                        // parent.document.getElementById('uploadimage').style.display="block";
                        $("#uploadimage").click();
                        return true;
                        }
           }
       }

      </script>
<script>
      
  function show(){
  // var x = document.getElementById("cnt").value;  
  // if(x.checkValidity())
  // {
    //code to set the value variable.
    // alert("Uploaded Reocrd : "+ x);
    document.getElementById("spinner-front").classList.add("show");
    document.getElementById("spinner-back").classList.add("show");
  // }
}
function hide(){
  document.getElementById("spinner-front").classList.remove("show");
  document.getElementById("spinner-back").classList.remove("show");
}
</script>
     
</body>
</html>