{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->

<title>Freepublik - Freelancer Work</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/mywork.css" %}">


 <style>
   
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.carousel-inner > .item > img{ height:auto; padding-left: 100px;padding-right: 100px; padding-bottom: 90px;padding-top: 70px;max-height: 500px;object-fit: contain;}
.carousel {
    position: relative;
    /*margin-top: 110px;*/
}

.card .content {
    padding: 5px 10px 0px 10px;
}

.form-group1 {
    margin-bottom: 16px;
    margin-top: 26px;
}
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    /*.leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
   /* .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
    }*/

    /* Fake image */
   

    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 20px;
       padding-top: 0px;
       margin-left: 35px;
       margin-right: 35px;
      /* margin-top: 20px;*/
    }

    

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

  





    .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}
.glyphicon {
  
    top: 45%;
    color: white;
    opacity: initial;
  }
  .maincontainer {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.workimages {
  border-radius: 0%;
  width: 100%;
  height: 185px;
  object-fit: cover;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}

    /*scrollbar effects end*/
    @media screen and (max-width: 600px) {
  input.form-control1 {
width:100%;
}
.headerline {
  padding-left: 15px;
}
.dashboardsocial-icons {
  text-align: center;
}
.dashboardhead2 {
  padding-left: 0px;
}
.fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
  
    .userinfo {
      /*font-size: 3.8vw;*/
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    
     .sidebar {
      width: 45%;
    }
    .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    
 .navmenu-firstmenu {
    width: 100.666667%;
}

 .navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }
.footer-row {
      padding-left: 30px;
    }
    
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
   .dropdown-menu {
        left: 30%;
        right: 30%;
      }
      .footermenu1 {
    
    width: 100%;}
    #right {
    width: -webkit-fill-available;
}
.picture-tab-row1-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row1-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row2-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col3 {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-inner > .item > img {
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 500px;
    object-fit: contain;
}
.carousel {
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
}
.workimages {
    border-radius: 0%;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
}

  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

    
}

@media screen and (min-width: 601px) and (max-width: 991px) {
      .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    #right {
      width: -webkit-fill-available;
    }
    
    .navmenu-firstmenu {
    width: 100.666667%;
}
.dashboardsocial-icons {
    text-align: center;
}
input.form-control1 {
    width: 100%;
}
.picture-tab-row1-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row1-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row2-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col3 {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-inner > .item > img {
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 500px;
    object-fit: contain;
}
.carousel {
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
}
.workimages {
    border-radius: 0%;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
}
  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

}
.profile-pic {
  position: relative;
  /*display: inline-block;*/
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.edit a {
  color: #000;
}
.savebutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    /*margin-top: 10px;*/
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;
    display: none;

}
@media (min-width: 992px){
.card form [class*="col-"] {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.picture-tab-row1-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row1-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row2-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col3 {
    padding-left: 0px;
    padding-right: 0px;
}

}

@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}

@media (min-width: 1800px) and (max-width: 2000px){
  .workimages {
    
    height: 330px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 265px;
}
}
@media (min-width: 2000px){
  .workimages {
    
    height: 350px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}
.profile-pic {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.edit a {
  color: #000;
}
.editbutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;

}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
      <div class="col-md-12 social-icons-innerdiv" style="">
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
      </div>
      <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
        <!-- <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 0 </p>
        {% endif %}
      </div> -->
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
               <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
              </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  
  
  
  <div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row row-flex" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;" id="left">
      <div class="sidebar" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav" style="padding-bottom: 18vw;">
                  <li>
                      <a href="{% url 'fdashboard' %}">
                          
                          <p>My Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'fprofile' %}">
                         
                          <p>My Profile</p>
                      </a>
                  </li>
                  <li class="">
                      <a href="{% url 'fmywork' %}">
                          
                          <p style="color: red;">My Work</p>
                      </a>
                  </li>
                 <!--  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p>Create Project</p>
                      </a>
                  </li> -->
                  <!--  <li>
                      <a href="#">
                          
                          <p>Payments & Invoices</p>
                      </a>
                  </li> -->
                  <!-- <li>
                      <a href="{% url 'freelancer_notifications' %}">
                          
                          <p>Notifications <span class="num">4</span></p>
                      </a>
                  </li> -->
                 <!--  <li>
                      <a href="#">
                          
                          <p>Project Ratings & Reviews </p>
                      </a>
                  </li> -->
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8 postcontainer">
      <div class="main-panel" id="center">
          <nav class="navbar navbar-default navbar-fixed" style="background-color: transparent;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>


          <div class="content">
            <p style="color: white;padding-left: 35px;font-size: 15px;font-family: Calibri-Bold;margin: 25px 0 15px;letter-spacing: 1px;" id="toplabel">welcome, {{ freelancer_details.username }}</p>
            <div class="container-fluid maincontainer">
                        <div class="row" id="replaceMe">
                            <div class="col-md-12">
                                <div class="card">
                                   
                                    <div class="content">
                                        
                                            <div class="row">
                                                
                                                <div class="col-md-12">
                                                    
                                                        
                                                  <div class="form-group1" style="background: none;">                       
                            
                                                      <p class="picture-tab-title" style="">6 Best Pieces Of Work<span class="picture-tab-subtitle" style="">(1MB Max Per File. Formats Permitted .jpg/.png)</span></p> 
                                                  </div>
                                                    
                                                </div>
                                               
                                            </div>
                                        <div class="col-md-12">
                                           <form method="post" enctype="multipart/form-data" action="{% url 'fmyworkimageupload' %}" style="">{% csrf_token %}
                                            <div class="row picture-tab-row1" style="">
                                                <div class="col-md-4 picture-tab-row1-col1" style="">
                                                  
                                                      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                                    <div class="profile-pic">
                                                        {% if freelancer_details.work1 %}
                                                         <image class="workimages" style="" id="image1" class="avatar body-gray" src=" {{ freelancer_details.work1 }}"/>
                                                         {% else %}                                               
                                                         <image class="workimages" id="image1" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                                         {% endif %}
                                                         <div class="edit"><img src="{% static "images/number1.jpg" %}" style="width: 35px;height: 35px;cursor: default;"/><a onclick="demoshow(1);"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                                    </div>
                                                      <center><input type="file" id="choose1" name="work1" style="display:none;" onchange="upload_img(this,1);" accept=".jpg,.png"/></center>
                                                        

                                                   
                                                </div>
                                                <div class="col-md-4 picture-tab-row1-col2" style="">
                                                   
                                                      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                                    <div class="profile-pic">
                                                        {% if freelancer_details.work2 %}
                                                         <image class="workimages" id="image2" class="avatar body-gray" src=" {{ freelancer_details.work2 }}"/>
                                                         {% else %}                                               
                                                         <image class="workimages" id="image2" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                                         {% endif %}
                                                         <div class="edit"><img src="{% static "images/number2.jpg" %}" style="width: 35px;height: 35px;cursor: default;"/><a onclick="demoshow(2);"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                                    </div>
                                                      <center><input type="file" id="choose2" name="work2" style="display:none;" onchange="upload_img(this,2);" accept=".jpg,.png"/></center>
                                                        

                                                   
                                                </div>
                                                <div class="col-md-4 picture-tab-row1-col2" style="">
                                                    
                                                      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                                    <div class="profile-pic">
                                                        {% if freelancer_details.work3 %}
                                                         <image class="workimages" id="image3" class="avatar body-gray" src=" {{ freelancer_details.work3 }}"/>
                                                         {% else %}                                               
                                                         <image class="workimages" id="image3" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                                         {% endif %}
                                                         <div class="edit"><img src="{% static "images/number3.jpg" %}" style="width: 35px;height: 35px;cursor: default;"/><a onclick="demoshow(3);"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                                    </div>
                                                      <center><input type="file" id="choose3" name="work3" style="display:none;" onchange="upload_img(this,3);" accept=".jpg,.png"/></center>
                                                        

                                                    
                                                </div>
                                            </div>


                                            <div class="row picture-tab-row2" style="">
                                                <div class="col-md-4 picture-tab-row2-col1" style="">
                                                  
                                                      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                                    <div class="profile-pic">
                                                        {% if freelancer_details.work4 %}
                                                         <image class="workimages" id="image4" class="avatar body-gray" src=" {{ freelancer_details.work4 }}"/>
                                                         {% else %}                                               
                                                         <image class="workimages" id="image4" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                                         {% endif %}
                                                         <div class="edit"><img src="{% static "images/number4.jpg" %}" style="width: 35px;height: 35px;cursor: default;"/><a onclick="demoshow(4);"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                                    </div>
                                                      <center><input type="file" id="choose4" name="work4" style="display:none;" onchange="upload_img(this,4);" accept=".jpg,.png"/></center>
                                                        

                                                 
                                                </div>
                                                <div class="col-md-4 picture-tab-row2-col2" style="">
                                                    
                                                      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                                    <div class="profile-pic">
                                                        {% if freelancer_details.work5 %}
                                                         <image class="workimages" id="image5" class="avatar body-gray" src=" {{ freelancer_details.work5 }}"/>
                                                         {% else %}                                               
                                                         <image class="workimages" id="image5" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                                         {% endif %}
                                                         <div class="edit"><img src="{% static "images/number5.jpg" %}" style="width: 35px;height: 35px;cursor: default;"/><a onclick="demoshow(5);"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                                    </div>
                                                      <center><input type="file" id="choose5" name="work5" style="display:none;" onchange="upload_img(this,5);" accept=".jpg,.png"/></center>
                                                        

                                                   
                                                </div>
                                                <div class="col-md-4 picture-tab-row2-col3">                                                  
                                                      <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                                    <div class="profile-pic">
                                                        {% if freelancer_details.work6 %}
                                                         <image class="workimages" id="image6" class="avatar body-gray" src=" {{ freelancer_details.work6 }}"/>
                                                         {% else %}                                               
                                                         <image class="workimages" id="image6" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}" />
                                                         {% endif %}
                                                         <div class="edit"><img src="{% static "images/number6.jpg" %}" style="width: 35px;height: 35px;cursor: default;"/><a onclick="demoshow(6);"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                                    </div>
                                                      <center><input type="file" id="choose6" name="work6" style="display:none;" onchange="upload_img(this,6);" accept=".jpg,.png"/></center>
                                                </div>
                                            </div>

                                            

                                             <div class="row">
                                                      <div class="col-md-3 paddingzero">
                                                        <div class="">
                                                        <button type="submit" id="savebutton" class="savebutton" onclick="">Save & Update</button>
                                                        </div>
                                                      </div>
                                            </div>
                                          </form>
                                        </div>




                                         

                                            
                                            <div class="clearfix"></div>
                                     
                                    </div>
                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement">
                                       
                                              <div id="carousel-example-generic" class="carousel slide">
                                                  <!-- Indicators -->
                                                  
                                                  <!-- Wrapper for slides -->
                                                  <div class="carousel-inner">
                                                  <div class="item active">
                                                    <img src="{{freelancer_details.work1}}" alt="">                                             
                                                  </div>
                                                  {% if freelancer_details.work2 %}
                                                  <div class="item">
                                                    <img src="{{freelancer_details.work2}}" alt="">
                                                    
                                                  </div>
                                                  {% endif %}
                                                  {% if freelancer_details.work3 %}
                                                  <div class="item">
                                                    <img src="{{freelancer_details.work3}}" alt="">
                                                   
                                                   
                                                   
                                                  </div>
                                                   {% endif %}
                                                  {% if freelancer_details.work4 %}
                                                  <div class="item">
                                                    <img src="{{freelancer_details.work4}}" alt="">                                     
                                                     
                                                  </div>
                                                   {% endif %}
                                                  {% if freelancer_details.work5 %}
                                                  <div class="item">
                                                    <img src="{{freelancer_details.work5}}" alt="">                                     
                                                     
                                                  </div>
                                                   {% endif %}
                                                   {% if freelancer_details.work6 %}
                                                  <div class="item">
                                                    <img src="{{freelancer_details.work6}}" alt="">                                     
                                                     
                                                  </div>
                                                   {% endif %}
                                                  </div>

                                                  <!-- Controls -->
                                                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                                  </a>
                                                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                                  </a>
                                              </div>
                                                                 
                                    </div>

                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement2">
                                      <div id="carousel-example-generic" class="carousel slide">
                                          <!-- Indicators -->
                                          
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{freelancer_details.work2}}" alt="work2" style="">
                                            </div>
                                            {% if freelancer_details.work3 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work4 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work5 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work6 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work1 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>

                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          </a>
                                      </div>
                                    
                                    </div>

                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement3">
                                        

                                        <div id="carousel-example-generic" class="carousel slide">
                                            <!-- Indicators -->
                                            
                                            <!-- Wrapper for slides -->
                                             <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{freelancer_details.work3}}" alt="work1" style="">
                                            </div>
                                            {% if freelancer_details.work4 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work5 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work6 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work1 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work2 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>

                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div> 
                                    </div>



                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement4">
                                        <div id="carousel-example-generic" class="carousel slide">
                                            <!-- Indicators -->
                                            
                                            <!-- Wrapper for slides -->
                                             <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{freelancer_details.work4}}" alt="work4" style="">
                                            </div>
                                            {% if freelancer_details.work5 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work6 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work1 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work2 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work3 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>
                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>                    
                                    </div>


                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement5">
                                        
                                      <div id="carousel-example-generic" class="carousel slide">
                                          <!-- Indicators -->
                                          
                                          <!-- Wrapper for slides -->
                                         <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{freelancer_details.work5}}" alt="work5" style="">
                                            </div>
                                            {% if freelancer_details.work6 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work1 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work2 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work3 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work4 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>
                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          </a>
                                      </div>
                                                                      
                                    </div>

                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement6">
                                        <div id="carousel-example-generic" class="carousel slide">
                                            <!-- Indicators -->
                                            
                                            <!-- Wrapper for slides -->
                                          <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{freelancer_details.work6}}" alt="work6" style="">
                                            </div>
                                            {% if freelancer_details.work1 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work2 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work3 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work4 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                            {% if freelancer_details.work5 %}
                                            <div class="item">
                                               <img class="" src="{{freelancer_details.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>
                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>             
                                    </div>




                                </div>
                            </div>
                           

                        </div>
                    </div>
             
          </div>

          


          
      </div></div>

       <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" style="">{{ freelancer_details.username }}</h4>
                     </div>
                      
                                    <!-- <div class="image">
                                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                    </div> -->
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="profile-pic">
                                              {% if freelancer_details.profile %}
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" src=" {{ freelancer_details.profile }}"/>
                                               {% else %}                                               
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                               {% endif %}
                                               <div class="edit"><a onclick="demoshowp();"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                          </div>
                                          <input type="hidden" id="plantook" name="fmywork" value="1">
                                            <center><input type="file" id="choosep" name="document" style="display:none;" accept=".jpg,.png"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                      <div style="padding-left: 15px;">
                                         <div class="row">
                                          <p class="userinfo-title">AREA OF EXPERTISE</p>
                                         </div>
                                         
                                         <div class="row" style="margin-bottom: 10px;"> 
                                              {% for expertise in expertise_list %}                                        
                                             
                                                <span class="square"></span><a class="userinfo" style="">{{expertise}}</a><br>
                                             
                                              {% endfor %}
                                            
                                          </div>

                                          <div class="row">
                                            <p class="userinfo-title">EXPERIENCE</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <span class="square"></span><a class="userinfo" style="">{{freelancer_details.years}} Years {{freelancer_details.months}} Months </a><br>

                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.freelancertype}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">LAST DESIGNATION</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.designation}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">LAST COMPANY</p> 
                                        </div>

                                         <div class="row" style="padding-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.company}}</a><br>
                                                                                     
                                         </div>
                                     
                                
                      <div class="row">
                       </div>
                     </div>
                      
                    </div>
                    
      </div>
  
  


   
   
    
    
  </div></div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<!-- <script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script> -->


<!-- <script>
    $("#accept").click(function (e) {
       e.preventDefault();
       
      
      $("#accept").attr("disabled", true);
      $('#accept').prop('disabled',true).css('opacity',0.5);
      $("#accept").attr('value', 'Project Started');
    });
  </script> -->
  <script type="text/javascript">
       function demoshow(x)
       { 
       if (x == 1){
        parent.document.getElementById('choose1').click();        
       } 
       if (x == 2){
        parent.document.getElementById('choose2').click();
       }
       if (x == 3){
        parent.document.getElementById('choose3').click();
       }
        if (x == 4){
        parent.document.getElementById('choose4').click();
       }
        if (x == 5){
        parent.document.getElementById('choose5').click();
       }
        if (x == 6){
        parent.document.getElementById('choose6').click();
       }
        
       }

       window.addEventListener("load", function() {

function myFunction(x) { 
if (x.matches && navigator.userAgent.indexOf("Safari") != -1 ) {
  document.getElementById("right").style.width = '18.59%' ;
  console.log('Hi I am safari')
  
}
}

var x = window.matchMedia("(min-width: 992px)")
myFunction(x)
x.addListener(myFunction) 
});
    </script>

   <!--  <script type="text/javascript">


        function upload_img(input,x) {
          if (x == 1){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image1').attr('src', e.target.result);
                    parent.document.getElementById('savebutton').style.display="block";
                }

                reader.readAsDataURL(input.files[0]);
            }
          }  
          if (x == 2){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image2').attr('src', e.target.result);
                    parent.document.getElementById('savebutton').style.display="block";
                }

                reader.readAsDataURL(input.files[0]);
            }
          } 
          if (x == 3){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image3').attr('src', e.target.result);
                    parent.document.getElementById('savebutton').style.display="block";
                }

                reader.readAsDataURL(input.files[0]);
            }
          }  
          if (x == 4){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image4').attr('src', e.target.result);
                    parent.document.getElementById('savebutton').style.display="block";
                }

                reader.readAsDataURL(input.files[0]);
            }
          }  
          if (x == 5){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image5').attr('src', e.target.result);
                    parent.document.getElementById('savebutton').style.display="block";
                }

                reader.readAsDataURL(input.files[0]);
            }
          }
          if (x == 6){
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#image6').attr('src', e.target.result);
                    parent.document.getElementById('savebutton').style.display="block";
                }

                reader.readAsDataURL(input.files[0]);
            }
          }     
        }

    </script> -->

<script>
  $('#image1').click(function (e) {
  {% if freelancer_details.work1 %}
    jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement'));
    $("#iamReplacement").css("display", 'block');
    $("#toplabel").text('{{ freelancer_details.username }} - Selected Work');
  {% endif %}
    // $("#left").css("display", 'none');
  
  // $("sidebar-wrapper").css("display", 'block');
  // $("#iamReplacement").show();
  // $('div[id^="classreplace"]').removeClass('col-md-8').addClass('col-md-10-small');  
});
  $('#image2').click(function (e) {
 {% if freelancer_details.work2 %}   
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement2'));
  $("#iamReplacement2").css("display", 'block');
  $("#toplabel").text('{{ freelancer_details.username }} - Selected Work');
 {% endif %}  
});
  $('#image3').click(function (e) {
  {% if freelancer_details.work3 %}  
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement3'));
  $("#iamReplacement3").css("display", 'block');
  $("#toplabel").text('{{ freelancer_details.username }} - Selected Work');
  {% endif %}   
});
  $('#image4').click(function (e) {
  {% if freelancer_details.work4 %}  
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement4'));
  $("#iamReplacement4").css("display", 'block');
  $("#toplabel").text('{{ freelancer_details.username }} - Selected Work');
  {% endif %}    
}); 
  $('#image5').click(function (e) {
  {% if freelancer_details.work5 %}
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement5'));
  $("#iamReplacement5").css("display", 'block');
  $("#toplabel").text('{{ freelancer_details.username }} - Selected Work');
  {% endif %}  
}); $('#image6').click(function (e) {
  {% if freelancer_details.work6 %}
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement6'));
  $("#iamReplacement6").css("display", 'block');
  $("#toplabel").text('{{ freelancer_details.username }} - Selected Work');
  {% endif %}  
});
</script>

<script>
  $("#choose1").change(function () {
      if(fileExtValidate(this,"1")) { // file extension validation function
         if(fileSizeValidate(this,"1")) { // file size validation function
          
         }   
      }    
    });
  $("#choose2").change(function () {
      if(fileExtValidate(this,"2")) { // file extension validation function
         if(fileSizeValidate(this,"2")) { // file size validation function
          
         }   
      }    
    });
  $("#choose3").change(function () {
      if(fileExtValidate(this,"3")) { // file extension validation function
         if(fileSizeValidate(this,"3")) { // file size validation function
          
         }   
      }    
    });
  $("#choose4").change(function () {
      if(fileExtValidate(this,"4")) { // file extension validation function
         if(fileSizeValidate(this,"4")) { // file size validation function
          
         }   
      }    
    });
  $("#choose5").change(function () {
      if(fileExtValidate(this,"5")) { // file extension validation function
         if(fileSizeValidate(this,"5")) { // file size validation function
          
         }   
      }    
    });
  $("#choose6").change(function () {
      if(fileExtValidate(this,"6")) { // file extension validation function
         if(fileSizeValidate(this,"6")) { // file size validation function
          
         }   
      }    
    });
// function for  validate file extension
var validExt = ".png, .jpg";
function fileExtValidate(fdata,number) {
 var filePath = fdata.value;
 var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
 var pos = validExt.indexOf(getFileExt);
 if(pos < 0) {
  alert("This file is not allowed, Allowed extension : .jpg/.png");
  fdata.value = "";
  return false;
  } else {


    return true;
  }
}
//function for validate file size 
var maxSize = '1024';
function fileSizeValidate(fdata,number) {
   if (fdata.files && fdata.files[0]) {
                var fsize = fdata.files[0].size/1024;
                if(fsize > maxSize) {
                   alert('Maximum file size exceed. Max Limit 1 MB');
                   fdata.value = "";
                   if(number == "1"){
                    // $("#image1").attr('src','{{ freelancer_details.work1 }}');
                    // parent.document.getElementById('savebutton').style.display="block";
                  }
                      // document.getElementById("button1").innerHTML = "Choose File";
                   if(number == "2")
                      // document.getElementById("button2").innerHTML = "Choose File"; 
                   if(number == "3")
                      // document.getElementById("button3").innerHTML = "Choose File"; 
                   if(number == "4")
                      // document.getElementById("button4").innerHTML = "Choose File"; 
                   if(number == "5")
                      // document.getElementById("button5").innerHTML = "Choose File"; 
                   if(number == "6")
                      // document.getElementById("button6").innerHTML = "Choose File";
                  
                    // document.getElementById("file-upload-filename2").innerHTML = "No File Selected";     
                   return false;
                } 
                else {
                  if(number == "1")
                  {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#image1').attr('src', e.target.result);                                       
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      parent.document.getElementById('savebutton').style.display="block";
                      $('#savebutton').css('background-color','green');
                  } // document.getElementById("button1").innerHTML = fdata.files[0].name;
                  if(number == "2")
                    {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#image2').attr('src', e.target.result);                                       
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      parent.document.getElementById('savebutton').style.display="block";
                    }
                  if(number == "3")
                    {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#image3').attr('src', e.target.result);                                       
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      parent.document.getElementById('savebutton').style.display="block";
                    }
                  if(number == "4")
                    {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#image4').attr('src', e.target.result);                                       
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      parent.document.getElementById('savebutton').style.display="block";
                    }
                  if(number == "5")
                    {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#image5').attr('src', e.target.result);                                       
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      parent.document.getElementById('savebutton').style.display="block";
                    }
                  if(number == "6")
                    {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#image6').attr('src', e.target.result);                                       
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      parent.document.getElementById('savebutton').style.display="block";
                    }                  
                  return true;
                }
     }
 }

</script>
<script type="text/javascript">
     function demoshowp()
     { 
     parent.document.getElementById('choosep').click();
     // parent.document.getElementById('uploadimage').style.display="block";
     }
  </script>


  <script>
    $("#choosep").change(function () {
        if(fileExtValidatep(this)) { // file extension validation function
           if(fileSizeValidatep(this)) { // file size validation function
              
           }   
        }    
      });
    
  // function for  validate file extension
  var validExt = ".png, .jpg";
  function fileExtValidatep(fdata) {
   var filePath = fdata.value;
   var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
   var pos = validExt.indexOf(getFileExt);
   if(pos < 0) {
    alert("This file is not allowed, Allowed extension : .jpg/.png");
    fdata.value = "";
    return false;
    } else {


      return true;
    }
  }
  //function for validate file size 
  var maxSize = '1024';
  function fileSizeValidatep(fdata) {
     if (fdata.files && fdata.files[0]) {
                  var fsize = fdata.files[0].size/1024;
                  if(fsize > maxSize) {
                     alert('Maximum file size exceed. Max Limit 1 MB');
                     fdata.value = "";                       
                     return false;
                  } 
                  else {                    
                    var reader = new FileReader();
                    reader.onload = function (e) {
                      $('#profile_image').attr('src', e.target.result);                        
                    };
                    reader.readAsDataURL(fdata.files[0]);
                    // parent.document.getElementById('uploadimage').style.display="block";
                    $("#uploadimage").click();
                    return true;
                    }
       }
   }

  </script>


</body>
</html>