

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Freelancer OTP Verification</title>
  <meta charset="utf-8">
 
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="x-apple-disable-message-reformatting"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta content="telephone=no" name="format-detection"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

 
  
  <style type="text/css">
 .redline {
  
  
  width: 10%;
  border-top: 11px solid #ea1d24;
  margin-left: 0px;
}
  


</style>
</head>
<body style="font-family: Calibri-Regular;">
 
        
        
  <div class="banner-row">
    
    <div class="row" style="background:url('https://freepublik.com/static/images/Welcomemail.jpg');height: 100%;;margin-left: 0px;margin-right: 0px;background-repeat: no-repeat;width: max-content;">
      
    <div class="col-md-12" style="padding-top: 40px;padding-bottom: 40px;padding-left:40px;padding-right: 40px; ">
      <div id="myDiv" class="img-wrapper" style="display: inline-flex;">
     
   <div class="" style="display: grid;
    text-align: center;height: 320px;
    justify-content: center;margin-top: 120px;width:28%;">
   <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;" src="https://freepublik.com/static/images/Instagram.png"></a> 
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;" src="https://freepublik.com/static/images/Twitter.png"></a>
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;" src="https://freepublik.com/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;" src="https://freepublik.com/static/images/Facebook.png"></a>
   </div>
   <div class="" style="margin-top: 100px;">
    <h2 style="color: #ea1d24;font-weight:bold;margin-bottom: 4%;font-family: Calibri;font-size: 30px;"><span style="color: #ea1d24;">Thank You,</span><span style="color: black;">for registering with </span><span style="color: #ea1d24;"><a style="color:#ea1d24">www.freepublik.com</a></span></h1>
    <p style="color:#000000;font-size: 20px;font-family: Calibri;">We are commited to safe guarding your digital identity and hence we have deployed a two step security authentication layer towards it.</p>
<hr class="redline">    
  <p style="font-size:20px;color:#000000;font-weight:bold;font-family: Calibri;">Your One Time Password or OTP for secure access is <span style="color: #ea1d24;">{{ otp }}</span><br><span style="color:#000000">Please enter the OTP during the login for authentication and proceed ahead to explore </span><span style="color:#ea1d24;">FREEPUBLIK&trade;</span></p>
     

     <p style="color:#000000;font-size: 12px;font-weight: 100;">In case of any support, just drop us a note at <span style="color: #ea1d24;"><a style="color:#ea1d24;">hail@freepublik.com</a></span> and our team will reach out to you on priority.</p>
   </div>
  
      </div>
      </div>
      
    </div>
  </div>

 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
     
  </body>
  </html>