{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
<title>Freepublik - Freelancer Profile</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <!-- <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">  -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

 <style>
   
   .searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.searchbar::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}

.card .content {
    padding: 5px 10px 0px 10px;
}
select{
    font-size: 15px;
    line-height: 1;
   font-weight: 400; 
    background: url('/static/images/downarrow.svg') no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x:97%;
    background-size: 17px;
    display: block;
    width: 100%;
    height: 35px;
    border: 0px;
    padding-left: 10px;
}
.form-group1 {
    margin-bottom: 0px;
    margin-top: 11px;
}
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    /*.leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
   /* .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
    }*/

    /* Fake image */
    .fakeimg {
      background-color: white;
      width: 90%;
      padding: 20%;
      height: 177px;
    }

    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 20px;
       padding-top: 0px;
       margin-left: 20px;
       margin-right: 20px;
      /* margin-top: 20px;*/
    }

    .card1 {
      
       padding: 20px;
      /* margin-top: 20px;*/
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

   

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    

    .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

span.responsesort {
  font-size: 15px;
  text-transform: initial;
  padding-left: 20px;
  font-weight: 200;
}


.pagination a:hover:not(.active) {background-color: grey;}
span.stars, span.stars>* {
    display: inline-block;
    background: url('/static/images/stars2.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}
/*scrollbar effects*/
.large-2 {
        /*margin-left: 30px;*/
        /*float: left;*/
        /*height: 300px;*/
        overflow-y: scroll;
        /*margin-bottom: 25px;
        width: auto;
        background: #ccc;*/
    }

    .force-overflow {
        min-height: 450px;
    }

    .large-2::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: #404040;
    }

    .large-2::-webkit-scrollbar {
        width: 10px;
    }

    .large-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #737272;
        border: 1px solid #000;
    }
    .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}
    /*scrollbar effects end*/
    @media screen and (max-width: 600px) {
  input.form-control1 {
width:100%;
}
.headerline {
  padding-left: 15px;
}
.dashboardsocial-icons {
  text-align: center;
}
.dashboardhead2 {
  padding-left: 0px;
}
.fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
    .userimage {
      width:60vw; 
    }
    .userinfo {
      font-size: 3.8vw;
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    .respbutton3 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton2 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton1 {
      font-size: 15px;
      width: 100%;
    }
     .sidebar {
      width: 45%;
    }
    .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    .firstfootmenu {
         width: 27.333333%;


}
 .navmenu-firstmenu {
    width: 100.666667%;
}

 .navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }
.footer-row {
      padding-left: 30px;
    }
    .square1div {

      margin-right:0px;
    }
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
   .dropdown-menu {
        left: 30%;
        right: 30%;
      }
      .footermenu1 {
    
    width: 100%;}
    #right {
    width: -webkit-fill-available;
}
    .paddingzero {
      padding: 0px;
    }

      .social-icons {
        text-align: center;
        padding-left: 15px;
      }
      .social-icons-innerdiv {
    padding-left: 15px;
      }
      .total_count_main_div_outer {
        padding-right: 15px;
      }
      .total_count_main_div {
          display: grid;
          float: none;
      }
      .total_count_value {
          justify-self: center;
          float: none;         
      }
}

@media screen and (min-width: 601px) and (max-width: 991px) {
      .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    #right {
      width: -webkit-fill-available;
    }
    .respbutton3 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton2 {
      font-size: 15px;
      width: 100%;
    }
    .respbutton1 {
      font-size: 15px;
      width: 100%;
    }
    .navmenu-firstmenu {
    width: 100.666667%;
}
.dashboardsocial-icons {
    text-align: center;
}
input.form-control1 {
    width: 100%;
}
.paddingzero {
      padding: 0px;
    }

      .social-icons {
        text-align: center;
        padding-left: 15px;
      }
      .social-icons-innerdiv {
    padding-left: 15px;
      }
      .total_count_main_div_outer {
        padding-right: 15px;
      }
      .total_count_main_div {
          display: grid;
          float: none;
      }
      .total_count_value {
          justify-self: center;
          float: none;         
      }

}
@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}

@media (min-width: 1800px) and (max-width: 2000px){
  .workimages {
    
    height: 330px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
}
}
@media (min-width: 2000px){
  .workimages {
    
    height: 400px;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}
.profile-pic {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.edit a {
  color: #000;
}
.editbutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    margin-top: 10px;
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;

}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
          <div class="col-md-12 social-icons-innerdiv" style="">
          <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
     <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
          </div>
          <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
            <!-- <div class="total_count_main_div" style="">
            <p class="total_count_title" style="">FREEPUBLIKANS</p>
            {% if total_count %}
            <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
            {% else %}
            <p class="total_count_value" id="total_count" style=""> 0 </p>
            {% endif %}
          </div> -->
          <!-- </div> -->
        </div>   
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
               <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
              </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  
  
  
  <div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row row-flex" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;" id="left">
      <div class="sidebar" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav" style="padding-bottom: 18vw;">
                  <li>
                      <a href="{% url 'fdashboard' %}">
                          
                          <p>My Dashboard</p>
                      </a>
                  </li>
                  <li class="">
                      <a href="{% url 'fprofile' %}">
                         
                          <p style="color: red;">My Profile</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'fmywork' %}">
                          
                          <p>My Work</p>
                      </a>
                  </li>
                 <!--  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p>Create Project</p>
                      </a>
                  </li> -->
                  <!--  <li>
                      <a href="#">
                          
                          <p>Payments & Invoices</p>
                      </a>
                  </li> -->
                  <!-- <li>
                      <a href="{% url 'freelancer_notifications' %}">
                          
                          <p>Notifications <span class="num">4</span></p>
                      </a>
                  </li> -->
                 <!--  <li>
                      <a href="#">
                          
                          <p>Project Ratings & Reviews </p>
                      </a>
                  </li> -->
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8 postcontainer">
      <div class="main-panel" id="center">
          <nav class="navbar navbar-default navbar-fixed" style="background-color: transparent;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>


          <div class="content">
            <p style="color: white;padding-left: 35px;font-size: 15px;font-family: Calibri-Bold;margin: 25px 0 15px;letter-spacing: 1px;">welcome, {{ freelancer_details.username }}</p>
            <div class="container-fluid maincontainer">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                   
                                    <div class="content">
                                        <form name="edit-form" method="POST" action="{% url 'feditform' %}">{% csrf_token %}
                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Email</label>
                                                        <input type="email" id="email" name="email"  class="form-control" placeholder="Email" value="{{ freelancer_details.email }}" disabled style="background-color: #888888">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Unique Username</label>
                                                        <input type="text" id="username" class="form-control"  placeholder="Username" value="{{ freelancer_details.username }}" disabled style="background-color: #888888">
                                                    </div>
                                                </div>





                                            </div>

                                            <div class="row">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Active Plan</label>
                                                        {% if freelancer_details.planid == 1 %}
                                                        <input type="text" id="planid" class="form-control" disabled placeholder="Premium" value="Plan Activated" style="background-color: #888888">
                                                        {% else %}
                                                        <input type="text" id="planid" class="form-control" disabled placeholder="Premium" value="Free" style="background-color: #888888">
                                                        {% endif %}
                                                    </div>
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Password</label>
                                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="{{ freelancer_details.password }}" title="Must contain at least one uppercase, a number & a special character." pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" disabled>
                                                    </div>
                                                </div>
                                                
                                                
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Country</label>
                                                       
                                                        <select class="form-control" name="country" id="country" placeholder="country" required style="" disabled>  
                                                          {% if freelancer_details.country %}
                                                          <option value="{{ freelancer_details.country }}" hidden>{{ freelancer_details.country }}</option>
                                                          {% else %}
                                                          <option value="" hidden>Select Country</option>
                                                          {% endif %}
                                                          <optgroup label="Countries">
                                                                           
                                                                       <option value="Afganistan">Afghanistan</option>
                                                                       <option value="Albania">Albania</option>
                                                                       <option value="Algeria">Algeria</option>
                                                                       <option value="American Samoa">American Samoa</option>
                                                                       <option value="Andorra">Andorra</option>
                                                                       <option value="Angola">Angola</option>
                                                                       <option value="Anguilla">Anguilla</option>
                                                                       <!-- <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option> -->
                                                                       <option value="Argentina">Argentina</option>
                                                                       <option value="Armenia">Armenia</option>
                                                                       <option value="Aruba">Aruba</option>
                                                                       <option value="Australia">Australia</option>
                                                                       <option value="Austria">Austria</option>
                                                                       <option value="Azerbaijan">Azerbaijan</option>
                                                                       <option value="Bahamas">Bahamas</option>
                                                                       <option value="Bahrain">Bahrain</option>
                                                                       <option value="Bangladesh">Bangladesh</option>
                                                                       <option value="Barbados">Barbados</option>
                                                                       <option value="Belarus">Belarus</option>
                                                                       <option value="Belgium">Belgium</option>
                                                                       <option value="Belize">Belize</option>
                                                                       <option value="Benin">Benin</option>
                                                                       <option value="Bermuda">Bermuda</option>
                                                                       <option value="Bhutan">Bhutan</option>
                                                                       <option value="Bolivia">Bolivia</option>
                                                                       <option value="Bonaire">Bonaire</option>
                                                                       <!-- <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option> -->
                                                                       <option value="Botswana">Botswana</option>
                                                                       <option value="Brazil">Brazil</option>
                                                                       <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                                                       <option value="Brunei">Brunei</option>
                                                                       <option value="Bulgaria">Bulgaria</option>
                                                                       <option value="Burkina Faso">Burkina Faso</option>
                                                                       <option value="Burundi">Burundi</option>
                                                                       <option value="Cambodia">Cambodia</option>
                                                                       <option value="Cameroon">Cameroon</option>
                                                                       <option value="Canada">Canada</option>
                                                                       <option value="Canary Islands">Canary Islands</option>
                                                                       <option value="Cape Verde">Cape Verde</option>
                                                                       <option value="Cayman Islands">Cayman Islands</option>
                                                                       <option value="Central African Republic">Central African Republic</option>
                                                                       <option value="Chad">Chad</option>
                                                                       <option value="Channel Islands">Channel Islands</option>
                                                                       <option value="Chile">Chile</option>
                                                                       <option value="China">China</option>
                                                                       <option value="Christmas Island">Christmas Island</option>
                                                                       <option value="Cocos Island">Cocos Island</option>
                                                                       <option value="Colombia">Colombia</option>
                                                                       <option value="Comoros">Comoros</option>
                                                                       <option value="Congo">Congo</option>
                                                                       <option value="Cook Islands">Cook Islands</option>
                                                                       <option value="Costa Rica">Costa Rica</option>
                                                                       <option value="Cote DIvoire">Cote D'Ivoire</option>
                                                                       <option value="Croatia">Croatia</option>
                                                                       <option value="Cuba">Cuba</option>
                                                                       <option value="Curaco">Curacao</option>
                                                                       <option value="Cyprus">Cyprus</option>
                                                                       <option value="Czech Republic">Czech Republic</option>
                                                                       <option value="Denmark">Denmark</option>
                                                                       <option value="Djibouti">Djibouti</option>
                                                                       <option value="Dominica">Dominica</option>
                                                                       <option value="Dominican Republic">Dominican Republic</option>
                                                                       <option value="East Timor">East Timor</option>
                                                                       <option value="Ecuador">Ecuador</option>
                                                                       <option value="Egypt">Egypt</option>
                                                                       <option value="El Salvador">El Salvador</option>
                                                                       <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                                       <option value="Eritrea">Eritrea</option>
                                                                       <option value="Estonia">Estonia</option>
                                                                       <option value="Ethiopia">Ethiopia</option>
                                                                       <option value="Falkland Islands">Falkland Islands</option>
                                                                       <option value="Faroe Islands">Faroe Islands</option>
                                                                       <option value="Fiji">Fiji</option>
                                                                       <option value="Finland">Finland</option>
                                                                       <option value="France">France</option>
                                                                       <option value="French Guiana">French Guiana</option>
                                                                       <option value="French Polynesia">French Polynesia</option>
                                                                       <option value="French Southern Ter">French Southern Ter</option>
                                                                       <option value="Gabon">Gabon</option>
                                                                       <option value="Gambia">Gambia</option>
                                                                       <option value="Georgia">Georgia</option>
                                                                       <option value="Germany">Germany</option>
                                                                       <option value="Ghana">Ghana</option>
                                                                       <option value="Gibraltar">Gibraltar</option>
                                                                       <option value="Great Britain">Great Britain</option>
                                                                       <option value="Greece">Greece</option>
                                                                       <option value="Greenland">Greenland</option>
                                                                       <option value="Grenada">Grenada</option>
                                                                       <option value="Guadeloupe">Guadeloupe</option>
                                                                       <option value="Guam">Guam</option>
                                                                       <option value="Guatemala">Guatemala</option>
                                                                       <option value="Guinea">Guinea</option>
                                                                       <option value="Guyana">Guyana</option>
                                                                       <option value="Haiti">Haiti</option>
                                                                       <option value="Hawaii">Hawaii</option>
                                                                       <option value="Honduras">Honduras</option>
                                                                       <option value="Hong Kong">Hong Kong</option>
                                                                       <option value="Hungary">Hungary</option>
                                                                       <option value="Iceland">Iceland</option>
                                                                       <option value="India">India</option>
                                                                       <option value="Indonesia">Indonesia</option>
                                                                       <option value="Iran">Iran</option>
                                                                       <option value="Iraq">Iraq</option>
                                                                       <option value="Ireland">Ireland</option>
                                                                       <option value="Isle of Man">Isle of Man</option>
                                                                       <option value="Israel">Israel</option>
                                                                       <option value="Italy">Italy</option>
                                                                       <option value="Jamaica">Jamaica</option>
                                                                       <option value="Japan">Japan</option>
                                                                       <option value="Jordan">Jordan</option>
                                                                       <option value="Kazakhstan">Kazakhstan</option>
                                                                       <option value="Kenya">Kenya</option>
                                                                       <option value="Kiribati">Kiribati</option>
                                                                       <option value="Korea North">Korea North</option>
                                                                       <option value="Korea Sout">Korea South</option>
                                                                       <option value="Kuwait">Kuwait</option>
                                                                       <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                                       <option value="Laos">Laos</option>
                                                                       <option value="Latvia">Latvia</option>
                                                                       <option value="Lebanon">Lebanon</option>
                                                                       <option value="Lesotho">Lesotho</option>
                                                                       <option value="Liberia">Liberia</option>
                                                                       <option value="Libya">Libya</option>
                                                                       <option value="Liechtenstein">Liechtenstein</option>
                                                                       <option value="Lithuania">Lithuania</option>
                                                                       <option value="Luxembourg">Luxembourg</option>
                                                                       <option value="Macau">Macau</option>
                                                                       <option value="Macedonia">Macedonia</option>
                                                                       <option value="Madagascar">Madagascar</option>
                                                                       <option value="Malaysia">Malaysia</option>
                                                                       <option value="Malawi">Malawi</option>
                                                                       <option value="Maldives">Maldives</option>
                                                                       <option value="Mali">Mali</option>
                                                                       <option value="Malta">Malta</option>
                                                                       <option value="Marshall Islands">Marshall Islands</option>
                                                                       <option value="Martinique">Martinique</option>
                                                                       <option value="Mauritania">Mauritania</option>
                                                                       <option value="Mauritius">Mauritius</option>
                                                                       <option value="Mayotte">Mayotte</option>
                                                                       <option value="Mexico">Mexico</option>
                                                                       <option value="Midway Islands">Midway Islands</option>
                                                                       <option value="Moldova">Moldova</option>
                                                                       <option value="Monaco">Monaco</option>
                                                                       <option value="Mongolia">Mongolia</option>
                                                                       <option value="Montserrat">Montserrat</option>
                                                                       <option value="Morocco">Morocco</option>
                                                                       <option value="Mozambique">Mozambique</option>
                                                                       <option value="Myanmar">Myanmar</option>
                                                                       <option value="Nambia">Nambia</option>
                                                                       <option value="Nauru">Nauru</option>
                                                                       <option value="Nepal">Nepal</option>
                                                                       <option value="Netherland Antilles">Netherland Antilles</option>
                                                                       <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                                                       <option value="Nevis">Nevis</option>
                                                                       <option value="New Caledonia">New Caledonia</option>
                                                                       <option value="New Zealand">New Zealand</option>
                                                                       <option value="Nicaragua">Nicaragua</option>
                                                                       <option value="Niger">Niger</option>
                                                                       <option value="Nigeria">Nigeria</option>
                                                                       <option value="Niue">Niue</option>
                                                                       <option value="Norfolk Island">Norfolk Island</option>
                                                                       <option value="Norway">Norway</option>
                                                                       <option value="Oman">Oman</option>
                                                                       <option value="Pakistan">Pakistan</option>
                                                                       <option value="Palau Island">Palau Island</option>
                                                                       <option value="Palestine">Palestine</option>
                                                                       <option value="Panama">Panama</option>
                                                                       <option value="Papua New Guinea">Papua New Guinea</option>
                                                                       <option value="Paraguay">Paraguay</option>
                                                                       <option value="Peru">Peru</option>
                                                                       <option value="Phillipines">Philippines</option>
                                                                       <option value="Pitcairn Island">Pitcairn Island</option>
                                                                       <option value="Poland">Poland</option>
                                                                       <option value="Portugal">Portugal</option>
                                                                       <option value="Puerto Rico">Puerto Rico</option>
                                                                       <option value="Qatar">Qatar</option>
                                                                       <option value="Republic of Montenegro">Republic of Montenegro</option>
                                                                       <option value="Republic of Serbia">Republic of Serbia</option>
                                                                       <option value="Reunion">Reunion</option>
                                                                       <option value="Romania">Romania</option>
                                                                       <option value="Russia">Russia</option>
                                                                       <option value="Rwanda">Rwanda</option>
                                                                       <option value="St Barthelemy">St Barthelemy</option>
                                                                       <option value="St Eustatius">St Eustatius</option>
                                                                       <option value="St Helena">St Helena</option>
                                                                       <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                                                       <option value="St Lucia">St Lucia</option>
                                                                       <option value="St Maarten">St Maarten</option>
                                                                      <!--  <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                                                       <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option> -->
                                                                       <option value="Saipan">Saipan</option>
                                                                       <option value="Samoa">Samoa</option>
                                                                       <option value="Samoa American">Samoa American</option>
                                                                       <option value="San Marino">San Marino</option>
                                                                       <!-- <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option> -->
                                                                       <option value="Saudi Arabia">Saudi Arabia</option>
                                                                       <option value="Senegal">Senegal</option>
                                                                       <option value="Serbia">Serbia</option>
                                                                       <option value="Seychelles">Seychelles</option>
                                                                       <option value="Sierra Leone">Sierra Leone</option>
                                                                       <option value="Singapore">Singapore</option>
                                                                       <option value="Slovakia">Slovakia</option>
                                                                       <option value="Slovenia">Slovenia</option>
                                                                       <option value="Solomon Islands">Solomon Islands</option>
                                                                       <option value="Somalia">Somalia</option>
                                                                       <option value="South Africa">South Africa</option>
                                                                       <option value="Spain">Spain</option>
                                                                       <option value="Sri Lanka">Sri Lanka</option>
                                                                       <option value="Sudan">Sudan</option>
                                                                       <option value="Suriname">Suriname</option>
                                                                       <option value="Swaziland">Swaziland</option>
                                                                       <option value="Sweden">Sweden</option>
                                                                       <option value="Switzerland">Switzerland</option>
                                                                       <option value="Syria">Syria</option>
                                                                       <option value="Tahiti">Tahiti</option>
                                                                       <option value="Taiwan">Taiwan</option>
                                                                       <option value="Tajikistan">Tajikistan</option>
                                                                       <option value="Tanzania">Tanzania</option>
                                                                       <option value="Thailand">Thailand</option>
                                                                       <option value="Togo">Togo</option>
                                                                       <option value="Tokelau">Tokelau</option>
                                                                       <option value="Tonga">Tonga</option>
                                                                       <!-- <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option> -->
                                                                       <option value="Tunisia">Tunisia</option>
                                                                       <option value="Turkey">Turkey</option>
                                                                       <option value="Turkmenistan">Turkmenistan</option>
                                                                       <!-- <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option> -->
                                                                       <option value="Tuvalu">Tuvalu</option>
                                                                       <option value="Uganda">Uganda</option>
                                                                       <option value="Ukraine">Ukraine</option>
                                                                       <option value="United Arab Erimates">United Arab Emirates</option>
                                                                       <option value="United Kingdom">United Kingdom</option>
                                                                       <option value="United States of America">United States of America</option>
                                                                       <option value="Uraguay">Uruguay</option>
                                                                       <option value="Uzbekistan">Uzbekistan</option>
                                                                       <option value="Vanuatu">Vanuatu</option>
                                                                       <option value="Vatican City State">Vatican City State</option>
                                                                       <option value="Venezuela">Venezuela</option>
                                                                       <option value="Vietnam">Vietnam</option>
                                                                       <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                                                       <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                                                       <option value="Wake Island">Wake Island</option>
                                                                       <!-- <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option> -->
                                                                       <option value="Yemen">Yemen</option>
                                                                       <option value="Zaire">Zaire</option>
                                                                       <option value="Zambia">Zambia</option>
                                                                       <option value="Zimbabwe">Zimbabwe</option>                  
                                                      </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Valid Phone Number</label>
                                                        <input type="text" id="phone" name="phone" disabled class="form-control" placeholder="Phone" value="{{ freelancer_details.phone }}" required pattern="[+][\d]+$" title="Enter valid phone number with Country Code.g. +919876543210">
                                                    </div>
                                                </div>
                                            </div>

                                            
                                            

                                            <div class="row">
                                            
                                               
                                                <div class="col-md-6">
                                                    
                                                  
                                                      <div class="col-md-6 paddingzero">
                                                        <div class="form-group1">
                                                          <label>Industry Experience</label>                                                        
                                                          <input type="text" id="years" name="years" disabled class="form-control" placeholder="Years" value="{{ freelancer_details.years }}" pattern="[0-9]+" title="Use Numbers only">
                                                        </div>
                                                      </div>
                                                      <div class="col-md-6 paddingzero">
                                                        <div class="form-group1">
                                                          <label>&nbsp;</label>                                                        
                                                          <input type="text" id="months" name="months" disabled class="form-control" placeholder="Months" value="{{ freelancer_details.months }}" pattern="[0-9]+" title="Use Numbers only">
                                                        </div>
                                                      </div>
                                                    
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Category</label>
                                                        <input type="text" id="freelancertype" name="freelancertype" class="form-control" disabled placeholder="Category" 
                                                        value="{{ freelancer_details.freelancertype }}">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Last Designation</label>
                                                        <input type="text" id="designation" name="designation" class="form-control" disabled placeholder="Designation" value="{{ freelancer_details.designation }}" disabled>
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Last Company</label>
                                                        <input type="text" id="company" name="company" disabled class="form-control" placeholder="Company" value="{{ freelancer_details.company }}">
                                                    </div>
                                                </div>
                                            </div>


                                             <div class="row">
                                            
                                               
                                                <div class="col-md-6">                                                    
                                                  
                                                      <div class="col-md-5 paddingzero">
                                                        <div class="form-group1">
                                                         <button type="button" id="editbutton" class="editbutton" onclick="" style="background-color: red;">Edit Profile</button>
                                                        </div>
                                                      </div>
                                                      <div class="col-md-5 paddingzero">
                                                        <div class="form-group1">
                                                         <button type="submit" id="savebutton" class="editbutton" disabled style="cursor: not-allowed;">Save Changes</button> 
                                                        </div>
                                                      </div>
                                                    
                                                </div>

                                               
                                            </div>




                                         

                                            
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                           

                        </div>
                    </div>
             
          </div>
          


          
      </div></div>

      <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" style="">{{ freelancer_details.username }}</h4>
                     </div>
                      
                                    <!-- <div class="image">
                                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                    </div> -->
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="profile-pic">
                                              {% if freelancer_details.profile %}
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" src=" {{ freelancer_details.profile }}"/>
                                               {% else %}                                               
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" src="{% static "images/profileimage.jpg" %}"/>
                                               {% endif %}
                                               <div class="edit"><a onclick="demoshow();"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                          </div>
                                          <input type="hidden" id="plantook" name="fprofile" value="1">
                                            <center><input type="file" id="choose" name="document" style="display:none;" accept=".jpg,.png"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                      <div style="padding-left: 15px;">
                                         <div class="row">
                                          <p class="userinfo-title">AREA OF EXPERTISE</p>
                                         </div>
                                         
                                         <div class="row" style="margin-bottom: 10px;"> 
                                              {% for expertise in expertise_list %}                                        
                                             
                                                <span class="square"></span><a class="userinfo" style="">{{expertise}}</a><br>
                                             
                                              {% endfor %}
                                            
                                          </div>

                                          <div class="row">
                                            <p class="userinfo-title">EXPERIENCE</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <span class="square"></span><a class="userinfo" style="">{{freelancer_details.years}} Years {{freelancer_details.months}} Months </a><br>

                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.freelancertype}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">LAST DESIGNATION</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.designation}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">LAST COMPANY</p> 
                                        </div>

                                         <div class="row" style="padding-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{freelancer_details.company}}</a><br>
                                                                                     
                                         </div>
                                     
                                
                      <div class="row">
                       </div>
                     </div>
                      
                    </div>
                    
      </div>
  


   
   
    
    
  </div></div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<!-- <script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script> -->


<!-- <script>
    $("#accept").click(function (e) {
       e.preventDefault();
       
      
      $("#accept").attr("disabled", true);
      $('#accept').prop('disabled',true).css('opacity',0.5);
      $("#accept").attr('value', 'Project Started');
    });
  </script> -->
  <script type="text/javascript">
       function demoshow()
       { 
       parent.document.getElementById('choose').click();
       // parent.document.getElementById('uploadimage').style.display="block";
       }
    </script>


    <script>
window.addEventListener("load", function() {

function myFunction(x) { 
if (x.matches && navigator.userAgent.indexOf("Safari") != -1 ) {
  document.getElementById("right").style.width = '18.59%' ;
  console.log('Hi I am safari')
  
}
}

var x = window.matchMedia("(min-width: 992px)")
myFunction(x)
x.addListener(myFunction) 
});

      $("#choose").change(function () {
          if(fileExtValidate(this)) { // file extension validation function
             if(fileSizeValidate(this)) { // file size validation function
                
             }   
          }    
        });
      
    // function for  validate file extension
    var validExt = ".png, .jpg";
    function fileExtValidate(fdata) {
     var filePath = fdata.value;
     var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
     var pos = validExt.indexOf(getFileExt);
     if(pos < 0) {
      alert("This file is not allowed, Allowed extension : .jpg/.png");
      fdata.value = "";
      return false;
      } else {


        return true;
      }
    }
    //function for validate file size 
    var maxSize = '1024';
    function fileSizeValidate(fdata) {
       if (fdata.files && fdata.files[0]) {
                    var fsize = fdata.files[0].size/1024;
                    if(fsize > maxSize) {
                       alert('Maximum file size exceed. Max Limit 1 MB');
                       fdata.value = "";                       
                       return false;
                    } 
                    else {                    
                      var reader = new FileReader();
                      reader.onload = function (e) {
                        $('#profile_image').attr('src', e.target.result);                        
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      // parent.document.getElementById('uploadimage').style.display="block";
                      $("#uploadimage").click();
                      return true;
                      }
         }
     }

    </script>




<script type="text/javascript">
    $(document).ready(function() {
        $("#editbutton").click(function(){            
            $("#password,#phone,#country,#freelancertype,#months,#years,#designation,#company,#savebutton").removeAttr("disabled");
            $("#savebutton").css('cursor','pointer');
            $("#savebutton").css('background-color','green');
            $(this).css('background-color','#888888');
            $(this).css('cursor','not-allowed');
            $(this).attr("disabled", true);
            // $("#savebutton").css('background-color','green');
        });
        $("#savebutton").click(function(){            
            
            
            $(this).css('background-color','#888888');
           
            // $("#savebutton").css('background-color','green');
        });
    });
</script> 
</body>
</html>