

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>Client Welcome</title>
  <meta charset="utf-8">
 
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
   <meta name="x-apple-disable-message-reformatting"> 
  <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
  <meta content="telephone=no" name="format-detection"> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

 

  
  <style>
 .redline {
  
  
  width: 10%;
    border-top: 11px solid #ea1d24;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}
  

</style>
</head>
<body style="font-family: Tahoma !important;">
 
        
        
  <div class="banner-row">
    
    <div class="row" style="background:url('https://freepublik.com/static/images/confirmationemailbackground.jpg');height: 100%;;margin-left: 0px;margin-right: 0px;background-repeat: no-repeat;width: max-content;background-size: cover;">
     
    <div class="col-md-12" style="padding-top: 40px;padding-bottom: 40px;padding-left:40px;padding-right: 40px; ">
      <div id="myDiv" class="img-wrapper" style="display: inline-flex;">
     
   <div class="" style="display: grid;
    align-items: center;text-align: center;
    justify-content: center;margin-top: 24%;width:37.5%;height: 458px;">
    <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;" src="https://freepublik.com/static/images/Linkedini.png"></a>
   <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;" src="https://freepublik.com/static/images/Instagrami.png"></a>  
     <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;" src="https://freepublik.com/static/images/Facebooki.png"></a>
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;" src="https://freepublik.com/static/images/Twitteri.png"></a>
     
      
   </div>
   <div class="" style="margin-top: 320px;">
    <h2 style="color: #ffffff;font-weight:500;margin-bottom: 0%;font-family: Tahoma !important;font-size: 38px; letter-spacing: 1px;">{{ freelancerusername }}</h2>
    <p style="color:transparent;visibility: hidden;font-family: Tahoma !important;font-size: 12px;margin: 0;">Freepublik&trade; is a global virtual community Creative Freelancers showcasing their talents and expertise. This pool of talent spreads across Design & Creative, Copywriting, Photography, CGI Artists,Planning, Product Design & Packaging,<br/><span style=""> etc., with multi industry domain experience.</span></p>
   
    
  <p style="font-size:28px;font-weight:100;font-family: Tahoma !important;margin-bottom: 0px;color: #ffffff;margin-top: 0px;">YOU HAVE SUCCESSFULLY SUBMITTED YOUR ENTRY.
    </p>
    <div style="display: block; margin-bottom: 35px;">
    <p style="font-size:24px;font-weight:100;font-family: Tahoma !important;color:#ffffff;margin-top: 0px;margin-bottom: 0px;">Creative Link : <a style="color: #ffffff">{{ creativelink }}</a></p>
     
  
    <p style="font-size:24px;font-weight:100;font-family: Tahoma !important;color: #ffffff;margin-top: 0px;margin-bottom: 0px;">Entry Submitted As : {{ entryformusertype }}</p>
    <p style="font-size:24px;font-weight:100;font-family: Tahoma !important;color: #ffffff;margin-top: 0px;margin-bottom: 0px;">Main Category : {{ maincategories }}</p>
    <p style="font-size:24px;font-weight:100;font-family: Tahoma !important;color: #ffffff;margin-top: 0px;margin-bottom: 26%;">Sub Category : {{ subcategories }}</p>

    </div>
     

     
   </div>
  </div>
      </div>
      </div>
      
    </div>
  </div>

 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

      <!-- Latest compiled JavaScript -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script>
       
    </script>
  </body>
  </html>