{% load static %}

<!DOCTYPE html>
<html>
<head>
<title>Publik - Freelancer Dashboard</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">

<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

 <style>
   


    /* Create two unequal columns that floats next to each other */
    /* Left column */
    

    /* Fake image */
    .fakeimg {
      background-color: white;
      width: 90%;
      padding: 20%;
      height: 177px;
    }

    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 20px;
      /* margin-top: 20px;*/
    }

    .card1 {
      
       padding: 20px;
      /* margin-top: 20px;*/
    }

    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }

   

    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    
    .center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
  border-radius: 5px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

span.responsesort {
  font-size: 15px;
  text-transform: initial;
  padding-left: 20px;
  font-weight: 200;
}


.pagination a:hover:not(.active) {background-color: grey;}
span.stars, span.stars>* {
    display: inline-block;
    background: url('/static/images/stars2.png') 0 -16px repeat-x;
    width: 80px;
    height: 16px;
}
span.stars>*{
    max-width:80px;
    background-position: 0 0;
}
/*scrollbar effects*/
.large-2 {
        /*margin-left: 30px;*/
        /*float: left;*/
        /*height: 300px;*/
        overflow-y: scroll;
        /*margin-bottom: 25px;
        width: auto;
        background: #ccc;*/
    }

    .force-overflow {
        min-height: 450px;
    }

    .large-2::-webkit-scrollbar-track {
        border: 1px solid #000;
        padding: 2px 0;
        background-color: #404040;
    }

    .large-2::-webkit-scrollbar {
        width: 10px;
    }

    .large-2::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #737272;
        border: 1px solid #000;
    }
    /*scrollbar effects end*/
    .alert {
    /*border: 0;*/
    /*border-radius: 0;*/
    /*padding: 20px 15px !important;*/
    /*line-height: 20px;*/
    font-weight: 300;
    color: #fff;
}

.alert .alert-icon {
    display: block;
    float: left;
    margin-right: 1.071rem;
}

.alert b {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
}

.alert.alert-info {
    background-color: white;
    color: black;
}


  @media screen and (max-width: 600px) {
  input.form-control1 {
width:100%;
}
.headerline {
  padding-left: 15px;
}
.social-icons {
  text-align: center;
}
.head2 {
  padding-left: 0px;
}}
    </style>
</head>

<body style="font-family: Gotham-Book2">
  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

      <div class="col-md-3">   
            <form>
                <div class="form-group row">
                  <div class="col-xs-12">        
                    <b><input class="form-control1" id="ex1" type="text" placeholder="Find Freelancers"></b>
                  </div>      
                </div>
            </form>
      </div>

      <div class="col-md-6">
        <center><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo" style="height: 85px" =""></center>
      </div>

      <div class="col-md-3">
        <ul class="social-icons">
          <li><a target="_blank" href="http://www.instagram.com/hailfreepublik"><img src="{% static "images/Instagram.png" %}" /></a></li>         
            <li><a target="_blank" href="https://twitter.com/freepublik"><img src="{% static "images/Twitter.png" %}" /></a></li>      
            <li><a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img src="{% static "images/Linkedin.png" %}" /></a></li>
            <li><a target="_blank" href="https://www.facebook.com/freepublikworld/"><img src="{% static "images/Facebook.png" %}" /></a></li>
        </ul> 
      </div>  
    </div>
    
    
    <div class="row" >
      <div class="col-md-3" style="padding-left: 0px;">
        <hr class="headerline">
      </div>
      <div class="col-md-6" style="margin-top: 15px;">
        <div class="row" style="font-size: 14px;">
          <div class="col-md-2" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
            <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
            <div class="square"></div>
          </div>
          <div class="col-md-2" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
            <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: 0px; text-align: -webkit-center;">
            <div class="square"></div>
          </div>
          <div class="col-md-1s" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; ">
            <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
          </div>
        
        </div>
      </div>
      <div class="col-md-3 head2">
      <hr class="headerline2">      
      </div>
    </div>  
  </div>

  
  
  <div class="dashboard-container" style="padding-left: 40px;padding-right:40px;height: auto;">
  <div class="clearfix"></div>
  <div class="row" style="margin-left: 0px;margin-right: 0px;background-color: #4e4e4e;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;" id="left">
      <div class="sidebar" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav">
                  <li class="active">
                      <a href="{% url 'fdashboard' %}">
                          
                          <p>My Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'fprofile' %}">
                         
                          <p>My Profile</p>
                      </a>
                  </li>
                 <!--  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p>Create Project</p>
                      </a>
                  </li> -->
                  <!--  <li>
                      <a href="#">
                          
                          <p>Payments & Invoices</p>
                      </a>
                  </li> -->
                  <li>
                      <a href="{% url 'freelancer_notifications' %}">
                          
                          <p style="color: red;">Notifications <span class="num">4</span></p>
                      </a>
                  </li>
                 <!--  <li>
                      <a href="#">
                          
                          <p>Project Ratings & Reviews </p>
                      </a>
                  </li> -->
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="main-panel" id="center">
          <nav class="navbar navbar-default navbar-fixed" style="background-color: #4e4e4e;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>


         
            <div class="alert alert-info">
              <div class="container">
                <div class="alert-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  
                </button> -->

                   NOTIFICATION 1
              </div>
            </div>
            
            <div class="alert alert-info">
              <div class="container">
                <div class="alert-icon">
                  <i class="material-icons">info_outline</i>
                </div>
                <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  
                </button> -->

                   NOTIFICATION 2
              </div>
            </div>
          


          
      </div></div>

      
  


   
   
    
    
  </div></div>

  <footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
      <div class="row">
        <div class="col-md-9">
          <div class="row"><center>
           <!--  <div class="col-md-2" style="padding-left: 0px; padding-right: 0px;width: 6.666667%;">
              <a class="footmenu" href="{% url 'aboutus' %}" style="font-weight: 600;">ABOUT US</a>
            </div>
            <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;text-align: -webkit-center;width: 5.333333%;">
              <div class="square"></div>
            </div> -->
            <div class="col-md-1" style="padding-left: 0px;padding-right: 0px;">
              <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 600;">CONTACT US</a></center>
            </div>
            <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;text-align: -webkit-center;width: 5.333333%;">
              <div class="square"></div>
            </div>
          <!--  <div class="col-md-1" style="padding-left: 0px;padding-right: 0px;">
              <center><a class="footmenu" href="" style="font-weight: 600;">PRESS</a></center>
            </div>
            <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;text-align: -webkit-center;width: 5.333333%;">
              <div class="square"></div>
            </div>
            <div class="col-md-1" style="padding-left: 0px;padding-right: 0px;">
              <center><a class="footmenu" href="" style="font-weight: 600;">CAREERS</a></center>
            </div>
            <div class="col-md-1" style="padding-left: 0px; padding-right: 0px;text-align: -webkit-center;width: 5.333333%;">
              <div class="square"></div>
            </div -->
            <div class="col-md-2" style="padding-left: 0px;">
              <a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 600;">TRUST & PRIVACY</a>
            </div>
            
</center>
          </div>
        </div>
        <div class="col-md-3">
          
        </div>
     </div>
  </div>
  

</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script>
<script>
    $(document).ready(function() {
       
        var leftHeight = document.getElementById('left').clientHeight;
        var centerHeight = document.getElementById('center').clientHeight;
        if (centerHeight > leftHeight && centerHeight > rightHeight)
        {
        
        document.getElementById('left').style.height=centerHeight+'px';
        }
       
    });
</script>
<script>
  $(window).focus(function () {
    window.location.reload(true);
});
</script>
<!-- <script>
    $("#accept").click(function (e) {
       e.preventDefault();
       
      
      $("#accept").attr("disabled", true);
      $('#accept').prop('disabled',true).css('opacity',0.5);
      $("#accept").attr('value', 'Project Started');
    });
  </script> -->
</body>
</html>