{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
  <title>Publik - Freelancer Login</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/login.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
  
  <script type="text/javascript" src="{% static "js/login.js" %}"></script>
  <!-- <link rel="stylesheet" type="text/css" href="{% static "css/membership.css" %}"> -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->


  <title>Register - Login</title>
  <style>

#spinner-front, #spinner-back{
    position: fixed;
    visibility: hidden;
    opacity: 0;
    width: 100%;
    transition: all 1s;
  }
  #spinner-front{
    z-index: 999;
    margin-top: 45vh;
    color: #fff;
    text-align: center;
  }
  #spinner-back{
    z-index: 998;
    height: 100vh;
    background: #000;
  }
  #spinner-front.show{
    visibility: visible;
    opacity: 1;
  }
  #spinner-back.show{
    visibility: visible;
    opacity: 0.7;
  }

    
  .exper{
    height: 40px !important;
  }

  .multiselect {
    position: relative;
    display: block;
    width: 90%;
    /* height: 50px; */
    margin: 15px auto;
    background-color: #e4e4e4;
    color: black;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #ddd;
  font-family: Calibri-Regular;
  
}

#checkboxes label {
  display: block;
  height: 40px;
  font-weight: 400;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0px;
}

.companyprofilefile {
  background: #756f6f;
  }


  .premiumfeatdiv {
  background: #e21e27;
  margin-top: 15px;
}

/*#checkboxes label:hover {
  background-color: #1e90ff;
}*/
/*select option:disabled {
    display:none;
}
*/
  .searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.searchbar::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.searchbar::-moz-input-placeholder { /* Microsoft Edge */
  color: black;
}
.searchbar::-webkit-input-placeholder { /* Microsoft Edge */
  color: black;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
::-webkit-input-placeholder { /* Microsoft Edge */
  color: black;
}
::-moz-input-placeholder { /* Microsoft Edge */
  color: black;
}

.experiencelabel::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.experiencelabel:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
}

.experiencelabel::-ms-input-placeholder { /* Microsoft Edge */
  color: white;
}
.experiencelabel::-webkit-input-placeholder { /* Microsoft Edge */
  color: white;
}
.experiencelabel::-moz-input-placeholder { /* Microsoft Edge */
  color: white;
}
select{
    font-size: 15px;
    line-height: 1;
   
    background: url('/static/images/downarrow.svg') no-repeat right #ddd;
    -webkit-appearance: none;
    background-position-x: 97%;
    background-size: 17px;
}
.countrycode {
  background-position-x: 87%;
}
.phonediv1 {
  padding-right: 0px;
  margin-right: -5px;
}
.phonediv2 {
  padding-right: 10px;
}

input.phone{
  background-color: #e4e4e4;

}

  @media screen and (max-width: 988px) {
    .mobile-experience-label{
      height: 40px !important;
    }
    .fholder-company{
      margin: 16px 16px !important;
    }
    .mobile-fholder{
      margin: 5px 16px !important;
    }

    .mobile-fholder-desg{
      margin: 4px 16px !important;
    }
    .login-container {
          padding: 0px;
      margin: 0px;
    }
    .cd-tabs-navigation a.selected {
      font-size: 20px;
    }
    .cd-tabs-navigation a {
      font-size: 20px;
    }
    .form-fild input, select, option {
      font-size: 12px;
    }
    button.formsubmit {
      font-size: 15px;
      width: 100%;
      padding-left: 10px;
    }
  input.form-control1 {
  width:100%;
  }
  .headerline {
    padding-left: 15px;
  }
  .social-icons {
    text-align: center;
  }
  .head2{
    padding-left: 0px;
  }
  .form-fild {
    width: 100%;
  }
  .membership {
    margin-left: 0px;
  }
 .dropdown-menu {
        left: 30%;
        right: 30%;
      }
  .firstfootmenu {
           width: 27.333333%;

  }
  .navmenu-lastmenu {
          margin-left:0px;
          margin-top: -1px;
        }
  .banner1div {
        padding-right: 15px;
      }
      .lowerbanner {
        padding-right: 15px;
      }
      .lowerbanner1div {
        padding-right: 15px;
      }
      .footer-row {
        padding-left: 30px;
      }
      .square1div {

        margin-right:0px;
      }
      .square2div {

        margin-right:0px;
      }
      .square3div {

        margin-right:0px;
      }
      .footermenu2 {

        margin-right:0px;
      }
      .footermenu3 {

        margin-right:0px;
      }
      .headerline1div {
        padding-left: 0px;
        padding-right: 0px;
      }
      .phonediv1 {
    padding-right: 20px;
  }
      .phonediv2 {
        margin-top: 15px;
      }
      input.phone{
    width: 98%;
    
  }
     .countrycode{
      
      background-position-x: 97%;
     
  }
 /* select{
     
      background-position-x: 250px;
     
  }*/
    .companytype {
      width: 100%;
    }
    .established {
      margin-right: 0px;
      padding-top: 12px;
      font-size: 12px;
    }
    .startup {
      margin-right: 0px;
      padding-top: 12px;
      font-size: 12px;
    }
    .companyblank {
      display: none;
    }
    .experiencediv1 {
      padding-right: 15px;
      margin-right: 0px;
    }
    .experiencediv3 {
      padding-right: 14px;
          margin-left: -1px;
  }
  .fakeuploadnamediv {
    
      width: 90.3%;
  }
  .fakeuploadbuttondiv {
      padding-left: 15px;
      padding-right: 15px;
  }
  .fakeuploadbutton {
    width: 100%
  }
  .holder {
      position: absolute;
      margin: 0px 16px;
      }

      .floatright {
   font-size: 10px;
    padding-right: 0px;
    letter-spacing: 1px;
    float: none;

}

  .premiumfeatdiv {
    height: 63px;
    text-align: center;
    }

    .membershipdiv {
    height: 80px;
    text-align: center;
    }

    .termsnconditions {
    margin-right: 0px;
        margin-left: 0px;
        padding-right: 15px;
    }
    .companyprofilediv1 {
      padding-right: 15px;
  }
  .companyprofilediv2 {
      padding-left: 15px;
  }
  .companyprofilefile {
    padding-right: 15px;
    font-size: 12px;
    padding-top: 3px;
  }
  .freelancercol1 {
      display: flex;
      padding-right: 15px;
      margin-bottom: 15px;
  }
  .freelancercol2 {
      display: flex;
      padding-right: 15px;
      padding-left: 15px;
      margin-bottom: 15px;
  }
  .freelancercol3 {
      display: flex;
      padding-left: 15px;
      padding-right: 15px;
  }
  .footermenu1 {
    
    width: 100%;}
    .multiselect {
    width: 100%;}
      .social-icons {
        text-align: center;
        padding-left: 15px;
      }
      .social-icons-innerdiv {
    padding-left: 15px;
      }
      .total_count_main_div_outer {
        padding-right: 15px;
      }
      .total_count_main_div {
          display: grid;
          float: none;
      }
      .total_count_value {
          justify-self: center;
          float: none;         
      }

  }
::-webkit-file-upload-button {
  background: #e0e0e0;
  
}

input[type=radio] {
  /*border: 1px solid #fff;*/
  padding: 6px;
  -webkit-appearance: none;
  background-color: white;
}

input[type=radio]:checked {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8DwHwAFBQIAX8jx0gAAAABJRU5ErkJggg==) no-repeat center center;
  background-size: 12px 12px;
}

input[type=radio]:focus {
  outline-color: transparent;
}


input[type=checkbox] {
  /*border: 1px solid #fff;*/
  padding: 6px;
  -webkit-appearance: none;
  background-color: white;
}

input[type=checkbox]:checked {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8z8DwHwAFBQIAX8jx0gAAAABJRU5ErkJggg==) no-repeat center center;
  background-size: 12px 12px;
}
input[type=checkbox]:focus {
  outline-color: transparent;
}

</style>
</head>
<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

   <div id="spinner-front">
  <img src="/static/images/loader.gif"/><br>
  Loading... 
  </div>
  <div id="spinner-back"></div>

  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
      <div class="col-md-12 social-icons-innerdiv" style="">
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
      </div>
      <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
       <!--  <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 0 </p>
        {% endif %}
      </div> -->
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2" style="text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center; margin-top: 1px;">
              <div class="square"></div>
            </div>
          <div class="col-md-3" style="text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
                {% if fname %}
                <b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
                {% elif uname %}
                <b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>         
                {% else %}
                <b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class=""></span>
                </a>
                <ul class="dropdown-menu" style="">
                  <li><a tabindex="-1" href="{% url 'login' %}" style="font-weight: unset;font-size: 12px;padding: 3px 6px 3px;font-weight: 400;">AS A <span style="color: red">CLIENT</span></a></li>
                  <li class='divider' style="height: 2px;margin: 0px 0;"></li>
                  <li><a tabindex="-1" href="{% url 'flogin' %}" style="font-weight: unset;font-size: 12px;padding: 6px 6px 0px;font-weight: 400;">AS A <span style="color: red">FREELANCER</span></a></li>
                </ul></b>
                {% endif %}
              </div>

            </div>
          </div>
          <div class="col-md-3 head2">
            <hr class="headerline2">      
          </div>
        </div>  
  </div>


  
  
  <div class="login-container" id="login-container">
  <div class="clearfix"></div>
  <div class="welcome-text" id="welcome-text" style="padding-top: 50px;">
          {% if success %}
            <h5 class="welcome-line2"> {{ success }}</h5>
          {% else %}
          <h3 class="welcome-line1">WE'RE GLAD TO SEE YOU AGAIN!</h3>
          <h5 class="welcome-line2">DON'T HAVE AN ACCOUNT YET? SIGN UP BELOW</h5>
          {% endif %}
        </div>

    <div style="color: white;font-weight: bold; font-style: italic;text-align: center;">
            {% if error %}
                {{ error }}
            {% endif %}
    </div>
    <div class="cd-tabs" id="cd-tabs">
      <nav>
        <ul class="cd-tabs-navigation" id="cd-tabs-navigation">
          <li><a href="#" data-content="login" id="login-tab" class="selected" style="padding-top: 15px;font-family: Gotham-Bold">LOG IN</a></li>
          <li><a href="#" data-content="signup" id="signup-tab" style="padding-top: 15px;font-family: Gotham-Bold">SIGN UP</a></li>
        </ul>
      </nav>
      <ul class="cd-tabs-content">
        <li data-content="login" class="selected" id="login-tab-li">
          <form name="login-form" method="POST" action="{% url 'freelogin' %}">{% csrf_token %}
            <div class="form-fild">
            <input type="text" name="email" placeholder="Email" required autocomplete="off">
            </div>
            <div class="form-fild">
             <input type="password" name="password" placeholder="Password" required autocomplete="off">
            </div>
            <span class="error"></span>
            <button class="formsubmit" type="submit" class="btn-outline-dark">GET STARTED</button>
          </form>
           <br>
            <div style="color: black;font-weight: bold;text-align: center;">
            <a style="color: black;" href="{% url 'fforgotpassword' %}">Forgot Password?</a>
        </div>
        </li>



        <li data-content="signup" id="signup-tab-li">
          <form name="signup-form" id="signup-form" method=POST action="{% url 'freereg' %}" enctype="multipart/form-data">{% csrf_token %}
            
         <!--    <div class="form-fild">
              
              <input type="text" name="name" placeholder="Name" required pattern="[A-Za-z ]{1,}" title="Only alphabets allowed">
            </div> -->

            <div class="form-fild">              
              <input type="email" name="email" placeholder="Email" required autocomplete="off">
            </div>
            
            <div class="form-fild">
              <div class="holder mobile-fholder">Password &nbsp;<span class="floatright">(Must contain at least one uppercase, a number & a special character.)</span></div>
              <input id="input" type="password" name="password1" placeholder="" required title="Must contain at least one uppercase,one lowercase, a number, a special character & 8 character long." pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" autocomplete="off">
            </div>


            <div class="form-fild">              
              <input id="input2" type="password" name="password2" placeholder="Re-Enter Your Password" required autocomplete="off">
            </div>


            <div class="form-fild">
              <div class="holder mobile-fholder">Unique User Name &nbsp;<span class="floatright">(This user name will be your permanent Profile/Display Name.)</span></div>
              <input type="text" name="username" placeholder="" required pattern="[A-Za-z0-9_]{1,15}" title="Use alphabets, numbers and underscore and not more than 15 characters" autocomplete="off">
            </div>
            <div>
              <select name="country" class="form-fild" required>
                <option class="form-fild" value="" disabled selected>Select Country</option>
                <option value="Afganistan">Afghanistan</option>
                <option value="Albania">Albania</option>
                <option value="Algeria">Algeria</option>
                <option value="American Samoa">American Samoa</option>
                <option value="Andorra">Andorra</option>
                <option value="Angola">Angola</option>
                <option value="Anguilla">Anguilla</option>
                <!-- <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option> -->
                <option value="Argentina">Argentina</option>
                <option value="Armenia">Armenia</option>
                <option value="Aruba">Aruba</option>
                <option value="Australia">Australia</option>
                <option value="Austria">Austria</option>
                <option value="Azerbaijan">Azerbaijan</option>
                <option value="Bahamas">Bahamas</option>
                <option value="Bahrain">Bahrain</option>
                <option value="Bangladesh">Bangladesh</option>
                <option value="Barbados">Barbados</option>
                <option value="Belarus">Belarus</option>
                <option value="Belgium">Belgium</option>
                <option value="Belize">Belize</option>
                <option value="Benin">Benin</option>
                <option value="Bermuda">Bermuda</option>
                <option value="Bhutan">Bhutan</option>
                <option value="Bolivia">Bolivia</option>
                <option value="Bonaire">Bonaire</option>
                <!-- <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option> -->
                <option value="Botswana">Botswana</option>
                <option value="Brazil">Brazil</option>
                <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                <option value="Brunei">Brunei</option>
                <option value="Bulgaria">Bulgaria</option>
                <option value="Burkina Faso">Burkina Faso</option>
                <option value="Burundi">Burundi</option>
                <option value="Cambodia">Cambodia</option>
                <option value="Cameroon">Cameroon</option>
                <option value="Canada">Canada</option>
                <option value="Canary Islands">Canary Islands</option>
                <option value="Cape Verde">Cape Verde</option>
                <option value="Cayman Islands">Cayman Islands</option>
                <option value="Central African Republic">Central African Republic</option>
                <option value="Chad">Chad</option>
                <option value="Channel Islands">Channel Islands</option>
                <option value="Chile">Chile</option>
                <option value="China">China</option>
                <option value="Christmas Island">Christmas Island</option>
                <option value="Cocos Island">Cocos Island</option>
                <option value="Colombia">Colombia</option>
                <option value="Comoros">Comoros</option>
                <option value="Congo">Congo</option>
                <option value="Cook Islands">Cook Islands</option>
                <option value="Costa Rica">Costa Rica</option>
                <option value="Cote DIvoire">Cote D'Ivoire</option>
                <option value="Croatia">Croatia</option>
                <option value="Cuba">Cuba</option>
                <option value="Curaco">Curacao</option>
                <option value="Cyprus">Cyprus</option>
                <option value="Czech Republic">Czech Republic</option>
                <option value="Denmark">Denmark</option>
                <option value="Djibouti">Djibouti</option>
                <option value="Dominica">Dominica</option>
                <option value="Dominican Republic">Dominican Republic</option>
                <option value="East Timor">East Timor</option>
                <option value="Ecuador">Ecuador</option>
                <option value="Egypt">Egypt</option>
                <option value="El Salvador">El Salvador</option>
                <option value="Equatorial Guinea">Equatorial Guinea</option>
                <option value="Eritrea">Eritrea</option>
                <option value="Estonia">Estonia</option>
                <option value="Ethiopia">Ethiopia</option>
                <option value="Falkland Islands">Falkland Islands</option>
                <option value="Faroe Islands">Faroe Islands</option>
                <option value="Fiji">Fiji</option>
                <option value="Finland">Finland</option>
                <option value="France">France</option>
                <option value="French Guiana">French Guiana</option>
                <option value="French Polynesia">French Polynesia</option>
                <option value="French Southern Ter">French Southern Ter</option>
                <option value="Gabon">Gabon</option>
                <option value="Gambia">Gambia</option>
                <option value="Georgia">Georgia</option>
                <option value="Germany">Germany</option>
                <option value="Ghana">Ghana</option>
                <option value="Gibraltar">Gibraltar</option>
                <option value="Great Britain">Great Britain</option>
                <option value="Greece">Greece</option>
                <option value="Greenland">Greenland</option>
                <option value="Grenada">Grenada</option>
                <option value="Guadeloupe">Guadeloupe</option>
                <option value="Guam">Guam</option>
                <option value="Guatemala">Guatemala</option>
                <option value="Guinea">Guinea</option>
                <option value="Guyana">Guyana</option>
                <option value="Haiti">Haiti</option>
                <option value="Hawaii">Hawaii</option>
                <option value="Honduras">Honduras</option>
                <option value="Hong Kong">Hong Kong</option>
                <option value="Hungary">Hungary</option>
                <option value="Iceland">Iceland</option>
                <option value="India">India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Isle of Man">Isle of Man</option>
                <option value="Israel">Israel</option>
                <option value="Italy">Italy</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                <option value="Jordan">Jordan</option>
                <option value="Kazakhstan">Kazakhstan</option>
                <option value="Kenya">Kenya</option>
                <option value="Kiribati">Kiribati</option>
                <option value="Korea North">Korea North</option>
                <option value="Korea Sout">Korea South</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Kyrgyzstan">Kyrgyzstan</option>
                <option value="Laos">Laos</option>
                <option value="Latvia">Latvia</option>
                <option value="Lebanon">Lebanon</option>
                <option value="Lesotho">Lesotho</option>
                <option value="Liberia">Liberia</option>
                <option value="Libya">Libya</option>
                <option value="Liechtenstein">Liechtenstein</option>
                <option value="Lithuania">Lithuania</option>
                <option value="Luxembourg">Luxembourg</option>
                <option value="Macau">Macau</option>
                <option value="Macedonia">Macedonia</option>
                <option value="Madagascar">Madagascar</option>
                <option value="Malaysia">Malaysia</option>
                <option value="Malawi">Malawi</option>
                <option value="Maldives">Maldives</option>
                <option value="Mali">Mali</option>
                <option value="Malta">Malta</option>
                <option value="Marshall Islands">Marshall Islands</option>
                <option value="Martinique">Martinique</option>
                <option value="Mauritania">Mauritania</option>
                <option value="Mauritius">Mauritius</option>
                <option value="Mayotte">Mayotte</option>
                <option value="Mexico">Mexico</option>
                <option value="Midway Islands">Midway Islands</option>
                <option value="Moldova">Moldova</option>
                <option value="Monaco">Monaco</option>
                <option value="Mongolia">Mongolia</option>
                <option value="Montserrat">Montserrat</option>
                <option value="Morocco">Morocco</option>
                <option value="Mozambique">Mozambique</option>
                <option value="Myanmar">Myanmar</option>
                <option value="Nambia">Nambia</option>
                <option value="Nauru">Nauru</option>
                <option value="Nepal">Nepal</option>
                <option value="Netherland Antilles">Netherland Antilles</option>
                <option value="Netherlands">Netherlands (Holland, Europe)</option>
                <option value="Nevis">Nevis</option>
                <option value="New Caledonia">New Caledonia</option>
                <option value="New Zealand">New Zealand</option>
                <option value="Nicaragua">Nicaragua</option>
                <option value="Niger">Niger</option>
                <option value="Nigeria">Nigeria</option>
                <option value="Niue">Niue</option>
                <option value="Norfolk Island">Norfolk Island</option>
                <option value="Norway">Norway</option>
                <option value="Oman">Oman</option>
                <option value="Pakistan">Pakistan</option>
                <option value="Palau Island">Palau Island</option>
                <option value="Palestine">Palestine</option>
                <option value="Panama">Panama</option>
                <option value="Papua New Guinea">Papua New Guinea</option>
                <option value="Paraguay">Paraguay</option>
                <option value="Peru">Peru</option>
                <option value="Phillipines">Philippines</option>
                <option value="Pitcairn Island">Pitcairn Island</option>
                <option value="Poland">Poland</option>
                <option value="Portugal">Portugal</option>
                <option value="Puerto Rico">Puerto Rico</option>
                <option value="Qatar">Qatar</option>
                <option value="Republic of Montenegro">Republic of Montenegro</option>
                <option value="Republic of Serbia">Republic of Serbia</option>
                <option value="Reunion">Reunion</option>
                <option value="Romania">Romania</option>
                <option value="Russia">Russia</option>
                <option value="Rwanda">Rwanda</option>
                <option value="St Barthelemy">St Barthelemy</option>
                <option value="St Eustatius">St Eustatius</option>
                <option value="St Helena">St Helena</option>
                <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                <option value="St Lucia">St Lucia</option>
                <option value="St Maarten">St Maarten</option>
               <!--  <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option> -->
                <option value="Saipan">Saipan</option>
                <option value="Samoa">Samoa</option>
                <option value="Samoa American">Samoa American</option>
                <option value="San Marino">San Marino</option>
                <!-- <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option> -->
                <option value="Saudi Arabia">Saudi Arabia</option>
                <option value="Senegal">Senegal</option>
                <option value="Serbia">Serbia</option>
                <option value="Seychelles">Seychelles</option>
                <option value="Sierra Leone">Sierra Leone</option>
                <option value="Singapore">Singapore</option>
                <option value="Slovakia">Slovakia</option>
                <option value="Slovenia">Slovenia</option>
                <option value="Solomon Islands">Solomon Islands</option>
                <option value="Somalia">Somalia</option>
                <option value="South Africa">South Africa</option>
                <option value="Spain">Spain</option>
                <option value="Sri Lanka">Sri Lanka</option>
                <option value="Sudan">Sudan</option>
                <option value="Suriname">Suriname</option>
                <option value="Swaziland">Swaziland</option>
                <option value="Sweden">Sweden</option>
                <option value="Switzerland">Switzerland</option>
                <option value="Syria">Syria</option>
                <option value="Tahiti">Tahiti</option>
                <option value="Taiwan">Taiwan</option>
                <option value="Tajikistan">Tajikistan</option>
                <option value="Tanzania">Tanzania</option>
                <option value="Thailand">Thailand</option>
                <option value="Togo">Togo</option>
                <option value="Tokelau">Tokelau</option>
                <option value="Tonga">Tonga</option>
                <!-- <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option> -->
                <option value="Tunisia">Tunisia</option>
                <option value="Turkey">Turkey</option>
                <option value="Turkmenistan">Turkmenistan</option>
                <!-- <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option> -->
                <option value="Tuvalu">Tuvalu</option>
                <option value="Uganda">Uganda</option>
                <option value="Ukraine">Ukraine</option>
                <option value="United Arab Erimates">United Arab Emirates</option>
                <option value="United Kingdom">United Kingdom</option>
                <option value="United States of America">United States of America</option>
                <option value="Uraguay">Uruguay</option>
                <option value="Uzbekistan">Uzbekistan</option>
                <option value="Vanuatu">Vanuatu</option>
                <option value="Vatican City State">Vatican City State</option>
                <option value="Venezuela">Venezuela</option>
                <option value="Vietnam">Vietnam</option>
                <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                <option value="Wake Island">Wake Island</option>
                <!-- <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option> -->
                <option value="Yemen">Yemen</option>
                <option value="Zaire">Zaire</option>
                <option value="Zambia">Zambia</option>
                <option value="Zimbabwe">Zimbabwe</option>
              </select>
            </div>
            
            <div class="form-fild" style="background: none;">
                         
                            <div class="row" style="padding-left: 0px;">
                               <!-- <div class="col-md-3 phonediv1" style="">
                               <select name="countrycode" class="countrycode" required style="">                      
                                  <option value="" selected disabled="">+0000</option>
                                      <option value="+213">+213</option>
                                      <option value="+376">+376</option>
                                      <option value="+244">+244</option>
                                      <option value="+1264">+1264</option>
                                     
                                      <option value="+54">+54</option>
                                      <option value="+374">+374</option>
                                      <option value="+297">+297</option>
                                      <option value="+61">+61</option>
                                      <option value="+43">+43</option>
                                      <option value="+994">+994</option>
                                      <option value="+1242">+1242</option>
                                      <option value="+973">+973</option>
                                      <option value="+880">+880</option>
                                      <option value="+1246">+1246</option>
                                      <option value="+375">+375</option>
                                      <option value="+32">+32</option>
                                      <option value="+501">+501</option>
                                      <option value="+229">+229</option>
                                      <option value="+1441">+1441</option>
                                      <option value="+975">+975</option>
                                      <option value="+591">+591</option>
                                      <option value="+387">+387</option>
                                      <option value="+267">+267</option>
                                      <option value="+55">+55</option>
                                      <option value="+673">+673</option>
                                      <option value="+359">+359</option>
                                      <option value="+226">+226</option>
                                      <option value="+257">+257</option>
                                      <option value="+855">+855</option>
                                      <option value="+237">+237</option>
                                      <option value="+1">+1</option>
                                      <option value="+238">+238</option>
                                      <option value="+1345">+1345</option>
                                      <option value="+236">+236</option>
                                      <option value="+56">+56</option>
                                      <option value="+86">+86</option>
                                      <option value="+57">+57</option>
                                      <option value="+269">+269</option>
                                      <option value="+242">+242</option>
                                      <option value="+682">+682</option>
                                      <option value="+506">+506</option>
                                      <option value="+385">+385</option>
                                      <option value="+53">+53</option>
                                      <option value="+90392">+90392</option>
                                      <option value="+357">+357</option>
                                      <option value="+42">+42</option>
                                      <option value="+45">+45</option>
                                      <option value="+253">+253</option>
                                      <option value="+1809">+1809</option>
                                      <option value="+1809">+1809</option>
                                      <option value="+593">+593</option>
                                      <option value="+20">+20</option>
                                      <option value="+503">+503</option>
                                      <option value="+240">+240</option>
                                      <option value="+291">+291</option>
                                      <option value="+372">+372</option>
                                      <option value="+251">+251</option>
                                      <option value="+500">+500</option>
                                      <option value="+298">+298</option>
                                      <option value="+679">+679</option>
                                      <option value="+358">+358</option>
                                      <option value="+33">+33</option>
                                      <option value="+594">+594</option>
                                      <option value="+689">+689</option>
                                      <option value="+241">+241</option>
                                      <option value="+220">+220</option>
                                      <option value="+7880">+7880</option>
                                      <option value="+49">+49</option>
                                      <option value="+233">+233</option>
                                      <option value="+350">+350</option>
                                      <option value="+30">+30</option>
                                      <option value="+299">+299</option>
                                      <option value="+1473">+1473</option>
                                      <option value="+590">+590</option>
                                      <option value="+671">+671</option>
                                      <option value="+502">+502</option>
                                      <option value="+224">+224</option>
                                      <option value="+245">+245</option>
                                      <option value="+592">+592</option>
                                      <option value="+509">+509</option>
                                      <option value="+504">+504</option>
                                      <option value="+852">+852</option>
                                      <option value="+36">+36</option>
                                      <option value="+354">+354</option>
                                      <option value="+91">+91</option>
                                      <option value="+62">+62</option>
                                      <option value="+98">+98</option>
                                      <option value="+964">+964</option>
                                      <option value="+353">+353</option>
                                      <option value="+972">+972</option>
                                      <option value="+39">+39</option>
                                      <option value="+1876">+1876</option>
                                      <option value="+81">+81</option>
                                      <option value="+962">+962</option>
                                      <option value="+7">+7</option>
                                      <option value="+254">+254</option>
                                      <option value="+686">+686</option>
                                      <option value="+850">+850</option>
                                      <option value="+82">+82</option>
                                      <option value="+965">+965</option>
                                      <option value="+996">+996</option>
                                      <option value="+856">+856</option>
                                      <option value="+371">+371</option>
                                      <option value="+961">+961</option>
                                      <option value="+266">+266</option>
                                      <option value="+231">+231</option>
                                      <option value="+218">+218</option>
                                      <option value="+417">+417</option>
                                      <option value="+370">+370</option>
                                      <option value="+352">+352</option>
                                      <option value="+853">+853</option>
                                      <option value="+389">+389</option>
                                      <option value="+261">+261</option>
                                      <option value="+265">+265</option>
                                      <option value="+60">+60</option>
                                      <option value="+960">+960</option>
                                      <option value="+223">+223</option>
                                      <option value="+356">+356</option>
                                      <option value="+692">+692</option>
                                      <option value="+596">+596</option>
                                      <option value="+222">+222</option>
                                      <option value="+52">+52</option>
                                      <option value="+691">+691</option>
                                      <option value="+373">+373</option>
                                      <option value="+377">+377</option>
                                      <option value="+976">+976</option>
                                      <option value="+1664">+1664</option>
                                      <option value="+212">+212</option>
                                      <option value="+258">+258</option>
                                      <option value="+95">+95</option>
                                      <option value="+264">+264</option>
                                      <option value="+674">+674</option>
                                      <option value="+977">+977</option>
                                      <option value="+31">+31</option>
                                      <option value="+687">+687</option>
                                      <option value="+64">+64</option>
                                      <option value="+227">+227</option>
                                      <option value="+234">+234</option>
                                      <option value="+683">+683</option>
                                      <option value="+672">+672</option>
                                      <option value="+670">+670</option>
                                      <option value="+47">+47</option>
                                      <option value="+968">+968</option>
                                      <option value="+680">+680</option>
                                      <option value="+507">+507</option>
                                      <option value="+675">+675</option>
                                      <option value="+595">+595</option>
                                      <option value="+51">+51</option>
                                      <option value="+63">+63</option>
                                      <option value="+48">+48</option>
                                      <option value="+351">+351</option>
                                      <option value="+1787">+1787</option>
                                      <option value="+974">+974</option>
                                      <option value="+262">+262</option>
                                      <option value="+40">+40</option>
                                      <option value="+7">+7</option>
                                      <option value="+250">+250</option>
                                      <option value="+378">+378</option>
                                      <option value="+239">+239</option>
                                      <option value="+966">+966</option>
                                      <option value="+221">+221</option>
                                      <option value="+381">+381</option>
                                      <option value="+248">+248</option>
                                      <option value="+232">+232</option>
                                      <option value="+65">+65</option>
                                      <option value="+421">+421</option>
                                      <option value="+386">+386</option>
                                      <option value="+677">+677</option>
                                      <option value="+252">+252</option>
                                      <option value="+27">+27</option>
                                      <option value="+34">+34</option>
                                      <option value="+94">+94</option>
                                      <option value="+290">+290</option>
                                      <option value="+1869">+1869</option>
                                      <option value="+1758">+1758</option>
                                      <option value="+249">+249</option>
                                      <option value="+597">+597</option>
                                      <option value="+268">+268</option>
                                      <option value="+46">+46</option>
                                      <option value="+41">+41</option>
                                      <option value="+63">+963</option>
                                      <option value="+86">+886</option>
                                      <option value="+7">+7</option>
                                      <option value="+66">+66</option>
                                      <option value="+228">+228</option>
                                      <option value="+676">+676</option>
                                      <option value="+1868">+1868</option>
                                      <option value="+216">+216</option>
                                      <option value="+90">+90</option>
                                      <option value="+7">+7</option>
                                      <option value="+993">+993</option>
                                      <option value="+1649">+1649</option>
                                      <option value="+688">+688</option>
                                      <option value="+256">+256</option>
                                      <option value="+44">+44</option>
                                      <option value="+380">+380</option>
                                      <option value="+971">+971</option>
                                      <option value="+598">+598</option>
                                      <option value="+1">+1</option>
                                      <option value="+7">+7</option>
                                      <option value="+678">+678</option>
                                      <option value="+379">+379</option>
                                      <option value="+58">+58</option>
                                      <option value="+84">+84</option>
                                      <option value="+84">+1284</option>
                                      <option value="+84">+1340</option>
                                      <option value="+681">+681</option>
                                      <option value="+969">+969</option>
                                      <option value="+967">+967</option>
                                      <option value="+260">+260</option>
                                      <option value="+263">+263</option>
                          </select></div> -->
                               <div class="col-md-12"> <!-- removed phonediv class from here-->
                              <input class="phone" type="text" id="phone" name="phone" placeholder="Valid Phone Number with Country Code e.g. +919876543210" required pattern="[+][\d]+$" title="Enter valid phone number with Country Code e.g. +919876543210" style="" autocomplete="off"></div>
                            </div>                
                         
                          
            </div>

            <div class="row companytype" style="">

                    <div class="col-md-4 established" style="">
                      Professional<input type="radio" name="freelancertype" id="established" value="Professional" style="vertical-align: middle; margin: 0px;margin-left: 25px; margin-top: -1px;" required autocomplete="off"/></div>

              
                     <div class="col-md-3 startup" style=""> Student<input type="radio" name="freelancertype" id="startup" value="Student" style="vertical-align: middle; margin: 0px;margin-left: 17px;margin-top: -1px;" required autocomplete="off"/></div>
              
                     <div class="col-md-3 companyblank" style=""></div>
                  
            </div>

            <div class="form-fild">
              <div class="holder mobile-fholder-desg">Last Designation &nbsp;<span class="floatright">(Field not Mandatory for a Student)</span></div>
              <input type="text" name="designation" placeholder="" autocomplete="off">
            </div>

            <div class="form-fild">
              <div class="holder fholder-company">Last Company / Group / College &nbsp;<span class="floatright"></span></div>
              <input type="text" name="company" placeholder="" title="Field can not be empty" required autocomplete="off">
            </div>


             <div class="multiselect">
                  <div class="selectBox" onclick="showCheckboxes()">
                    <select>
                      <option value="" selected disabled="" hidden>Area of Expertise</option>
                    </select>
                    <div class="overSelect"></div>
                  </div>
                  <div id="checkboxes" class="checkboxes required">
                    <label for="one" style="background: #756f6f;color: white;">
                      Design & Creative<input type="checkbox" id="one" name="expertise" value="Design & Creative" style="float: right;" /></label>
                    <label for="two">
                      Copywriting<input type="checkbox" id="two" name="expertise" value="Copywriting" style="float: right;"  /></label>
                    <label for="three" style="background: #756f6f;color: white;">
                      Image Retouching & CGI<input type="checkbox" id="three" name="expertise" value="Image Retouching & CGI" style="float: right;"  /></label>
                    <label for="four">
                      Film & Photography<input type="checkbox" id="four" name="expertise" value="Film & Photography" style="float: right;" /></label>
                      <label for="five" style="background: #756f6f;color: white;">
                      Account & Planning<input type="checkbox" id="five" name="expertise" value="Account & Planning" style="float: right;" /></label>
                  </div>
                </div>


            <div class="form-fild" style="background: none;">
             
                <div class="row" style="padding-left: 0px;">
                   <div class="col-md-3 experiencediv1" style="">
                   <input type="text" id="years" name="years" placeholder="Years" required title="Enter Years(Numbers only)" style="background-color: #e4e4e4;z-index: 0" pattern="[0-9]+" autocomplete="off">
                  </div>
                  <div class="col-md-3 experiencediv1" style="">
                   <input type="text" id="months" name="months" placeholder="Months" required title="Enter Months(Numbers only)" style="background-color: #e4e4e4;z-index: 0" pattern="[0-9]+" autocomplete="off">
                  </div>
                   <div class="col-md-6 experiencediv3">
                  <input class="experiencelabel" type="text" id="label1" name="label1" placeholder="Industry Experience" style="background-color: #756f6f;z-index: 0" disabled="" autocomplete="off"></div>
                </div>                            
              
            </div>


             <div class="form-fild" style="background: none;">                       
                            
                              <p class="form-fild companyprofilefile" id="file-upload-filename" style="background-image: url('/static/images/notebutton.gif');background-size: contain;"></p> 
            </div>

            <div class="form-fild" style="background: none;">                       
                            
                              <p class="form-fild companyprofilefile" id="file-upload-filename" style="">6 Best Pieces Of Work<span style="font-size: 10px;
            letter-spacing: 1px;z-index: 0">&nbsp;&nbsp;&nbsp;(1MB Max Per File. Formats Permitted .jpg/.png)</span></p> 
            </div>

            <div class="form-fild" style="background: none;">
             
                <div class="row" style="">
                 
                    <div class="col-md-4 freelancercol1" style="">
                     <input class="experiencelabel exper mobile-experience-label" type="text" id="label2" name="label2" placeholder="01" style="background-color: #756f6f;width: 30%;margin-right: 10px;padding-left: 13px;" disabled="" >
                     <div class="upload-btn-wrapper1">
                        <button class="freelancerbtn1" id="button1">Choose File</button>
                        <input type="file" name="company_profile1" id="myfile1" accept=".jpg,.png" title="You can upload WORK & RESUME later." />
                      </div> 
                    </div> 
                    
                    <div class="col-md-4 freelancercol2" style="">
                      <input class="experiencelabel exper mobile-experience-label" type="text" id="label3" name="labe3" placeholder="02" style="background-color: #756f6f;width: 30%;margin-right: 10px;padding-left: 13px;" disabled="" >
                      <div class="upload-btn-wrapper1">
                        <button class="freelancerbtn1" id="button2">Choose File</button>
                        <input type="file" name="company_profile2" id="myfile2" accept=".jpg,.png" title="You can upload WORK & RESUME later."/>
                      </div>   
                    </div> 

                    <div class="col-md-4 freelancercol3" style="">
                      <input class="experiencelabel exper mobile-experience-label" type="text" id="label4" name="label4" placeholder="03" style="background-color: #756f6f;width: 30%;margin-right: 10px;padding-left: 13px;" disabled="" >
                      <div class="upload-btn-wrapper1">
                        <button class="freelancerbtn1" id="button3">Choose File</button>
                        <input type="file" name="company_profile3" id="myfile3" accept=".jpg,.png" title="You can upload WORK & RESUME later."/>
                      </div>   
                    </div> 

                </div> 

            </div>

            <div class="form-fild" style="background: none;">
             
                <div class="row" style="">
                 
                    <div class="col-md-4 freelancercol1" style="">
                     <input class="experiencelabel exper mobile-experience-label" type="text" id="label5" name="label5" placeholder="04" style="background-color: #756f6f;width: 30%;margin-right: 10px;padding-left: 13px;" disabled="" >
                     <div class="upload-btn-wrapper1">
                        <button class="freelancerbtn1" id="button4">Choose File</button>
                        <input type="file" name="company_profile4" id="myfile4" accept=".jpg,.png" blank= True, null=True title="You can upload WORK & RESUME later."/>
                      </div> 
                    </div> 
                    
                    <div class="col-md-4 freelancercol2" style="">
                      <input class="experiencelabel exper mobile-experience-label" type="text" id="label6" name="label6" placeholder="05" style="background-color: #756f6f;width: 30%;margin-right: 10px;padding-left: 13px;" disabled="" >
                      <div class="upload-btn-wrapper1">
                        <button class="freelancerbtn1" id="button5">Choose File</button>
                        <input type="file" name="company_profile5" id="myfile5" accept=".jpg,.png" title="You can upload WORK & RESUME later."/>
                      </div>   
                    </div> 

                    <div class="col-md-4 freelancercol3" style="">
                      <input class="experiencelabel exper mobile-experience-label" type="text" id="label7" name="label7" placeholder="06" style="background-color: #756f6f;width: 30%;margin-right: 10px;padding-left: 13px;" disabled="" >
                      <div class="upload-btn-wrapper1">
                        <button class="freelancerbtn1" id="button6">Choose File</button>
                        <input type="file" name="company_profile6" id="myfile6" accept=".jpg,.png" title="You can upload WORK & RESUME later."/>
                      </div>   
                    </div> 

                </div> 
                
            </div>

            <div class="form-fild" style="background: none;">
             
                <div class="row" style="">
                 
                    <div class="col-md-9 companyprofilediv1" style="">
                      <p class="form-fild companyprofilefile" id="file-upload-filename2" style="">Resume<span style="font-size: 10px;
    letter-spacing: 1px;">&nbsp;&nbsp;(File Size 1MB Max. Formats Permitted .jpg/.doc/.pdf)</span></p>
                    </div> 
                    
                    <div class="col-md-3 companyprofilediv2" style="">
                      <div class="upload-btn-wrapper">
                        <button class="btn1">Choose File</button>
                        <input type="file" name="company_profile_resume" id="myfile" accept=".jpg,.doc,.docx,.pdf" title="You can upload WORK & RESUME later."/>
                      </div>   
                    </div> 

                </div> 
            </div> 
             
              
          <div class="form-fild premiumfeatdiv" style="">
            <p style="font-family: Calibri-Regular;font-size:13px;text-align-last: justify; color: white;">Avail all <span style="font-family: Calibri-Bold;font-size:16px;">PREMIUM FEATURES</span> absolutely <span style="font-family: Calibri-Bold;font-size:16px;">FREE</span> for limited period</p>
          </div>
        
            <div class="form-fild membershipdiv" style="">
            <p style="font-family: Gotham-Bold;font-size:15px; color: white;">MEMBERSHIP PLANS COMING SOON</p>
          </div>

     

          <input type="hidden" id="plantook" name="planid" value="0">
          <p class="termsnconditions" style="">
            <!-- <input id="field_terms" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');" type="checkbox" required name="terms">  -->

            <input type="checkbox" required name="terms" id="field_terms" value="fresher" style="vertical-align: -1px; margin: 0px;margin-left: 20px;margin-top: -1px;margin-right: 20px;" onchange="this.setCustomValidity(validity.valueMissing ? 'Please indicate that you accept the Terms and Conditions' : '');"/>I accept the Terms & Conditions
          </p>
             
            <button class="formsubmit" type="submit" class="btn-outline-dark">GET STARTED</button>
          </form>
        </li>
        <!-- {% if error %}
            {{ error }}
        {% endif %} -->
      </ul>
    </div> <!-- end cd-tabs -->
 <!--    <br> -->
    <p class="text-center bottom-login-text">
                    Want to get your work done? <a href="{% url 'login' %}" class="link"><i>Hire a freelancer</i></a>
                  </p>
  </div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 15px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>

  document.getElementById("field_terms").setCustomValidity("Please accept the Terms and Conditions");
  function changeValue(o){
     document.getElementById('plantook').value=o;
    }


$('#expertise option:odd').css({'background-color': '#756f6f'});

$(document).ready(function() {
  $(".boxShadow").on('click', function() {
    $(".boxShadow").each(function() {
      $(this).css({
        "box-shadow": "silver 0px 1px 6px 0px"
      });
    })
    $(this).css({
      "box-shadow": "inset 0 1px 1px #dab6b6, 0 0 8px #da0707"
    });
  });



  // $("#myfile1,#myfile2,#myfile3,#myfile4,#myfile5,#myfile6,#myfile").on('click', function() {
  //     alert("You can upload WORK & RESUME later.");

  // });
  $('#signup-form').submit(function() {
                document.getElementById("spinner-front").classList.add("show");
                document.getElementById("spinner-back").classList.add("show");
            });

});

{% if fromfreepublikanawards %}
     $('#login-tab,#login-tab-li').removeClass('selected');
     $('#signup-tab,#signup-tab-li').addClass('selected');
  {% endif %}




$("#myfile1").change(function () {
      if(fileExtValidate(this,"1")) { // file extension validation function
         if(fileSizeValidate(this,"1")) { // file size validation function
          
         }   
      }    
    });

$("#myfile2").change(function () {
      if(fileExtValidate(this,"2")) { // file extension validation function
         if(fileSizeValidate(this,"2")) { // file size validation function
          
         }   
      }    
    });
$("#myfile3").change(function () {
      if(fileExtValidate(this,"3")) { // file extension validation function
         if(fileSizeValidate(this,"3")) { // file size validation function
          
         }   
      }    
    });
$("#myfile4").change(function () {
      if(fileExtValidate(this,"4")) { // file extension validation function
         if(fileSizeValidate(this,"4")) { // file size validation function
          
         }   
      }    
    });
$("#myfile5").change(function () {
      if(fileExtValidate(this,"5")) { // file extension validation function
         if(fileSizeValidate(this,"5")) { // file size validation function
          
         }   
      }    
    });
$("#myfile6").change(function () {
      if(fileExtValidate(this,"6")) { // file extension validation function
         if(fileSizeValidate(this,"6")) { // file size validation function
          
         }   
      }    
    });
$("#myfile").change(function () {
      if(fileExtValidate(this,"7")) { // file extension validation function
         if(fileSizeValidate(this,"7")) { // file size validation function
          
         }   
      }    
    });
// function for  validate file extension
var validExt = ".png, .jpg";
var validExt2 = ".jpg, .doc,.docx, .pdf";
function fileExtValidate(fdata,number) {
var filePath = fdata.value;
var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
if(number == "7")
{
  var pos = validExt2.indexOf(getFileExt);
}
else
{
  var pos = validExt.indexOf(getFileExt);
}
if(pos < 0) {
  if(number == "7")
  {
    alert("This file is not allowed, Allowed extension : .jpg/.doc/.pdf");
  }
  else
  {
    alert("This file is not allowed, Allowed extension : .jpg/.png");
  } 
  fdata.value = "";
  return false;
  }
else 
{
  return true;
}
}
//function for validate file size 
var maxSize = '1024';
function fileSizeValidate(fdata,number) {
   if (fdata.files && fdata.files[0]) {
                var fsize = fdata.files[0].size/1024;
                if(fsize > maxSize) {
                   alert('Maximum file size exceed. Max Limit 1 MB');
                   fdata.value = "";
                   if(number == "1")
                      document.getElementById("button1").innerHTML = "Choose File";
                   if(number == "2")
                      document.getElementById("button2").innerHTML = "Choose File"; 
                   if(number == "3")
                      document.getElementById("button3").innerHTML = "Choose File"; 
                   if(number == "4")
                      document.getElementById("button4").innerHTML = "Choose File"; 
                   if(number == "5")
                      document.getElementById("button5").innerHTML = "Choose File"; 
                   if(number == "6")
                      document.getElementById("button6").innerHTML = "Choose File";
                   if(number == "7")
                    document.getElementById("file-upload-filename2").innerHTML = "No File Selected";     
                   return false;
                } else {
                  if(number == "1")
                    document.getElementById("button1").innerHTML = fdata.files[0].name;
                  if(number == "2")
                    document.getElementById("button2").innerHTML = fdata.files[0].name;
                  if(number == "3")
                    document.getElementById("button3").innerHTML = fdata.files[0].name;
                  if(number == "4")
                    document.getElementById("button4").innerHTML = fdata.files[0].name;
                  if(number == "5")
                    document.getElementById("button5").innerHTML = fdata.files[0].name;
                  if(number == "6")
                    document.getElementById("button6").innerHTML = fdata.files[0].name;
                  if(number == "7")
                    document.getElementById("file-upload-filename2").innerHTML = fdata.files[0].name;
                  return true;
                }
     }
 }




</script>


<script>
  $(function() {
    $(".holder + input").keyup(function() {
        if($(this).val().length) {
            $(this).prev('.holder').hide();
        } else {
            $(this).prev('.holder').show();
        }
    });
    $(".holder").click(function() {
        $(this).next().focus();
    });
});
</script>
<script>
  var password = document.getElementById("input")
      , confirm_password = document.getElementById("input2");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;


var expanded = false;

function showCheckboxes() {
  var checkboxes = document.getElementById("checkboxes");
  if (!expanded) {
    checkboxes.style.display = "block";
    expanded = true;
  } else {
    checkboxes.style.display = "none";
    expanded = false;
  }
}

window.onload = function(){
  loginTabDesign();
};

$('#login-tab').click(function(){  
  loginTabDesign();
});

function loginTabDesign(){
  var ele = $(window).width();
      if(ele > 1750){
        $('#login-container').css('height','1000px');
        $('#welcome-text').css('padding-top', '250px');
        $('#cd-tabs').css('maxWidth','800px');
        $('#cd-tabs-navigation > li').css('maxWidth','400px');
        console.log('I am at login size');
      }
}

$('#signup-tab').click(function(){
  var ele = $(window).width();
  if(ele > 1750){
    $('#login-container').css('height','unset');
    $('#welcome-text').css('padding-top', '50px');
    $('#cd-tabs').css('maxWidth','596px');
    $('#cd-tabs-navigation > li').css('maxWidth','298px');
    console.log('I am at signup size');
  }
});
</script>

</script>

</body>
</html>