{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Publik - Home</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

<link rel="stylesheet" type="text/css" href="{% static "css/font.css." %}">


</head>
<body>
	
	<img src="{% static "images/tempback.png" %}" width="100%" height="30%">



</body>
</html>