{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
  ================================================== -->
  <title>Publik - Home</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->


  <style>
    .container1 {
  position: relative;
  text-align: center;
  color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
::-webkit-input-placeholder { /* Microsoft Edge */
  color: black;
}
::-moz-input-placeholder { /* Microsoft Edge */
  color: black;
}

.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.glyphicon {
  
    top: 45%;
    color: white;
    opacity: initial;
  }
  .rotatecontestimage {
    -webkit-transform: rotate(-36deg) scale(1.4);
    -moz-transform: rotate(-36deg) scale(1.4);
    -o-transform: rotate(-36deg) scale(1.4);
    -ms-transform: rotate(-36deg) scale(1.4);
    transform: rotate(-36deg) scale(1.4);
}

    @media screen and (max-width: 988px) {
      input.form-control1 {
        width:100%;
      }
      .form-group {
          
          margin-left: -15px;
      }
      .headerline {
        padding-left: 15px;
      }
      .social-icons {
        text-align: center;
        padding-left: 15px;
      }
      .social-icons-innerdiv {
    padding-left: 15px;
      }
      .total_count_main_div_outer {
        padding-right: 15px;
      }
      .total_count_main_div {
          display: grid;
          float: none;
      }
      .total_count_value {
          justify-self: center;
          float: none;         
      }
      .head2 {
        padding-left: 0px;
      }
      .top-left-1 {
          position: absolute;
          top: 0px;
          left: 45px;
          font-size: 32pt;
          font-family: Gotham-Bold;
      }
     .top-left-2 {
         position: absolute;
         top: 33px;
         left: 45px;
         font-size: 32pt;
         font-family: Gotham-Bold;
     }
     .top-left-3 {
         position: absolute;
         top: 67px;
         left: 45px;
         font-size: 32pt;
         font-family: Gotham-Bold;
     }
     .top-left-4 {
         position: absolute;
         top: 100px;
         left: 45px;
         font-size: 32pt;
         font-family: Gotham-Bold;
     } 
     .bottom-center-1 {
         
         font-size: 8.5vw;
        }
     
      

      .navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }

      img.first-banner {
        height:150px;
        margin-bottom: 20px;
      }

      img.first-banner2 {
        max-height: 250px;
      }

      .category-row {
        padding-top: 20px;
      }

      img.second-banner1 {
        margin-bottom: 20px;
        height: 150px;
      }

      img.second-banner2 {
        margin-bottom: 20px;
        margin-top: 20px;
      }
      .dropdown-menu {
        left: 30%;
        right: 30%;
      }
      .firstfootmenu {
       width: 27.333333%;

     }
     .banner1div {
      padding-right: 15px;
    }
    .lowerbanner {
      padding-right: 15px;
    }
    .lowerbanner1div {
      padding-right: 15px;
    }
    .footer-row {
      padding-left: 30px;
    }
    .square1div {

      margin-right:0px;
    }
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
    .footermenu1 {
    
    width: 100%;}
    .bottom-left-1 {
      top: 0px;
    }
    .bottom-left-2 {
      top: 33px;
    }
    .bottom-left-p1 {
          top: 74px;
    }
    .bottom-left-p2 {
          top: 88px;
    }
    .bottom-left-p3 {
          top: 104px;
    }
    .bottom-left-p4 {
          top: 115px;
          line-height: 14px;
    }
    .rotatecontestimage {
    -webkit-transform: rotate(0deg) scale(1);
    -moz-transform: rotate(0deg) scale(1);
    -o-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    height: 100%;
}

  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

  }
  
 @media screen and (min-width: 1412px) and (max-width: 2000px) {
  .rotatecontestimage {
    -webkit-transform: rotate(-36deg) scale(1.7);
    -moz-transform: rotate(-36deg) scale(1.7);
    -o-transform: rotate(-36deg) scale(1.7);
    -ms-transform: rotate(-36deg) scale(1.7);
    transform: rotate(-36deg) scale(1.7);
}
 }
 @media screen and (min-width: 2000px) {
  .rotatecontestimage {
    -webkit-transform: rotate(-36deg) scale(2.1);
    -moz-transform: rotate(-36deg) scale(2.1);
    -o-transform: rotate(-36deg) scale(2.1);
    -ms-transform: rotate(-36deg) scale(2.1);
    transform: rotate(-36deg) scale(2.1);
}
 }


</style>
</head>
<body style="font-family: Calibri-Regular;">


  <div class="container-fluid">

   <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6" style="padding-left: 0px;">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
      <div class="col-md-6 social-icons-innerdiv" style="">
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik1"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;" src="/static/images/Facebook.png"></a>
      </div>
      <div class="col-md-6 total_count_main_div_outer" style="">
        <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 00000 </p>
        {% endif %}
      </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:4px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
                {% if fname %}
                <b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
                {% elif uname %}
                <b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>					
                {% else %}
                <b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class=""></span>
                </a>
                <ul class="dropdown-menu" style="">
                  <li><a tabindex="-1" href="{% url 'login' %}" style="font-weight: unset;font-size: 12px;padding: 3px 6px 3px;font-weight: 400;">AS A <span style="color: red">CLIENT</span></a></li>
                  <li class='divider' style="height: 2px;margin: 0px 0;"></li>
                  <li><a tabindex="-1" href="{% url 'flogin' %}" style="font-weight: unset;font-size: 12px;padding: 6px 6px 0px;font-weight: 400;">AS A <span style="color: red">FREELANCER</span></a></li>
                </ul></b>
                {% endif %}
              </div>

            </div>
          </div>
          <div class="col-md-3 head2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>

      <div class="banner-row">

        <div class="row" >
         <div class="col-md-9 banner1div container1" style="">
          <!--  <img class="first-banner" src="{% static "images/banner1screen1.jpg" %}" alt="banner1" style="" id="banner1">
           <div class="top-left-1">BEST</div>
           <div class="top-left-2" style="">OF</div><div class="top-left-3"style="">THE</div><div class="top-left-4" style="">WEEK</div> -->
             <div id="myCarousel11" class="carousel" data-ride="carousel" data-interval="6000">
              
               <!-- <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li> -->
               <!-- </ol> -->

              
               <div class="carousel-inner" style="height: auto;">
                 <div class="item active">
                    <a class="pic1" href="https://stenincontest.com/" target="_blank"><img class="first-banner" src="{% static "images/banner1screen1.jpg" %}" alt="banner1" style="" id="banner1"><div class="top-left-1">BEST</div>
           <div class="top-left-2" style="">OF</div><div class="top-left-3"style="">THE</div><div class="top-left-4" style="">WEEK</div>
                     <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                       <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                       <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="first-banner" src="{% static "images/banner1screen2.jpg" %}" alt="banner2" style="" id="banner1"><div class="top-left-1">BEST</div>
           <div class="top-left-2" style="">OF</div><div class="top-left-3"style="">THE</div><div class="top-left-4" style="">WEEK</div>
                     <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                       <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                       <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="first-banner" src="{% static "images/banner1screen3.jpg" %}" alt="banner3" style="" id="banner1"><div class="top-left-1">BEST</div>
           <div class="top-left-2" style="">OF</div><div class="top-left-3"style="">THE</div><div class="top-left-4" style="">WEEK</div>
                     <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                       <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                       <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                  </div>
               </div>

              
               <a class="left carousel-control" href="#myCarousel11" data-slide="prev">
                 <!-- <span class="glyphicon glyphicon-menu-left"></span> -->
                 <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#myCarousel11" data-slide="next">
                 <!-- <span class="glyphicon glyphicon-menu-right"></span> -->
                 <span class="sr-only">Next</span>
               </a>
             
           </div>
         </div>
         <div class="col-md-3 container1">
          <!--  <a ><img class="first-banner2" src="{% static "images/sidebanner2nn.jpg" %}" alt="image" style=" "></a><div class="bottom-left-1">CONTEST</div>
           <div class="bottom-left-2">ALERT</div> -->
             <div id="myCarousel1" class="carousel" data-ride="carousel" data-interval="3000">
              
               <!-- <ol class="carousel-indicators">
                 <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                 <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li> -->
               <!-- </ol> -->

              
               <div class="carousel-inner" style="height: auto;">
                 <div class="item active">
                    <a class="pic1" href="https://stenincontest.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image1.webp" %}" alt="https://stenincontest.com/" style="" id="banner2">
                     <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                       <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                       <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image2.webp" %}" alt="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" style="" id="banner3">
                     <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                       <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                       <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                  </div>
                   <div class="item">
                    <a class="pic1" href="https://festival.dcshorts.com/filmentry/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image3.webp" %}" alt="https://festival.dcshorts.com/filmentry/" style="" id="banner4">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://comic-con.org/cci/film-festival" target="_blank"><img class="carousel2image1" src="{% static "images/c1image4.webp" %}" alt="https://comic-con.org/cci/film-festival" style="" id="banner5">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://competition.karindom.org/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image5.webp" %}" alt="https://competition.karindom.org/" style="" id="banner6">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://www.procarton.com/awards/pro-carton-young-designers-award/2020/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image6.webp" %}" alt="https://www.procarton.com/awards/pro-carton-young-designers-award/2020/" style="" id="banner7">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://events.withgoogle.com/dsc-solution-challenge/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image7.webp" %}" alt="https://events.withgoogle.com/dsc-solution-challenge/" style="" id="banner8">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://theaoi.com/world-illustration-awards/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image8.webp" %}" alt="https://theaoi.com/world-illustration-awards/" style="" id="banner9">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://awards.azuremagazine.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image9.webp" %}" alt="https://awards.azuremagazine.com/" style="" id="banner10">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://ecuadorposterbienal.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image10.webp" %}" alt="https://ecuadorposterbienal.com/" style="" id="banner11">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="http://tilecompetition.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image11.webp" %}" alt="http://tilecompetition.com/" style="" id="banner12">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://www.all-about-photo.com/all-about-photo-contest.php?cid=12" target="_blank"><img class="carousel2image1" src="{% static "images/c1image12.webp" %}" alt="https://www.all-about-photo.com/all-about-photo-contest.php?cid=12" style="" id="banner13">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="https://www.youngarchitectscompetitions.com/competition/ghost-town-refuge" target="_blank"><img class="carousel2image1" src="{% static "images/c1image13.webp" %}" alt="https://www.youngarchitectscompetitions.com/competition/ghost-town-refuge" style="" id="banner14">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="https://portraitofhumanity.co/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image14.webp" %}" alt="https://portraitofhumanity.co/" style="" id="banner15">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="http://www.postercontest.org/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image15.webp" %}" alt="http://www.postercontest.org/" style="" id="banner16">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="http://www.indigoaward.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image16.webp" %}" alt="http://www.indigoaward.com/" style="" id="banner17">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="https://www.commarts.com/competition/2020-photography" target="_blank"><img class="carousel2image1" src="{% static "images/c1image17.webp" %}" alt="https://www.commarts.com/competition/2020-photography" style="" id="banner18">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="https://www.worldphoto.org/enter/zeiss-photography-award" target="_blank"><img class="carousel2image1" src="{% static "images/c1image18.webp" %}" alt="https://www.worldphoto.org/enter/zeiss-photography-award" style="" id="banner19">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="http://chainsawfilmfestival.modifiergroup.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image19.webp" %}" alt="http://chainsawfilmfestival.modifiergroup.com/" style="" id="banner20">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="http://festival.curtas.pt/submissions/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image20.webp" %}" alt="http://festival.curtas.pt/submissions/" style="" id="banner21">          

                  </div>

                  <div class="item">
                    <a class="pic1" href="https://designeducates.com/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image21.webp" %}" alt="https://designeducates.com/" style="" id="banner22">          

                  </div>
                  <div class="item">
                    <a class="pic1" href="https://www.world-habitat.org/world-habitat-awards/how-to-enter/" target="_blank"><img class="carousel2image1" src="{% static "images/c1image22.webp" %}" alt="https://www.world-habitat.org/world-habitat-awards/how-to-enter/" style="" id="banner23">          

                  </div>

                 <div class="item">
                   <a class="pic1" href="http://www.iida.org/content.cfm/student-design-competition" target="_blank"><img class="carousel2image1" src="{% static "images/c1image23.webp" %}" alt="http://www.iida.org/content.cfm/student-design-competition" style="" id="banner24">          

                 </div>
                
               </div>

              
               <a class="left carousel-control" href="#myCarousel1" data-slide="prev">
                 <!-- <span class="glyphicon glyphicon-menu-left"></span> -->
                 <span class="sr-only">Previous</span>
               </a>
               <a class="right carousel-control" href="#myCarousel1" data-slide="next">
                 <!-- <span class="glyphicon glyphicon-menu-right"></span> -->
                 <span class="sr-only">Next</span>
               </a>
             
           </div>
         </div>
       </div>
     </div>

     <div class="category-row">

      <div class="row">
       <div class="col-md-9 lowerbanner" style="">
        <div class="row">
         <div class="col-md-8 lowerbanner1div" style="">
                
                   
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                     
                      <!-- <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                       <li data-target="#myCarousel" data-slide-to="2"></li> -->
                      <!-- </ol> -->

                     
                      <div class="carousel-inner">
                        <div class="item active">
                           <a href="https://workjugad.wixsite.com/2019" target="_blank"><img class="carousel1image" src="{% static "images/homeb1nn.jpg" %}" alt="Work Jugaad" style="" id="lower1banner1"></a>
                        </div>

                        <div class="item">
                           <a href="https://www.dztranz.com/" target="_blank"><img class="carousel2image" src="{% static "images/homeb2nn.png" %}" alt="DzTranz" style="" id="lower1banner2"></a>
                        </div>
                      
                       
                      </div>

                     
                      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-menu-left"></span>
                        <span class="sr-only">Previous</span>
                      </a>
                      <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-menu-right"></span>
                        <span class="sr-only">Next</span>
                      </a>
                    
                  </div>
        </div>
        <div class="col-md-4 container1">
         <!--  <img class="second-banner2"src="{% static "images/merchandisen.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner1">
          <div class="bottom-center-1">MERCHANDISE</div> -->
            <div id="myCarousel12" class="carousel" data-ride="carousel" data-interval="3000">
             
              <!-- <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li> -->
              <!-- </ol> -->

             
              <div class="carousel-inner" style="height: auto;">
                <div class="item active">
                   <a class="pic1" href="https://stenincontest.com/" target="_blank"><img class="second-banner2"src="{% static "images/merchandisen.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner1">
                        <p class="bottom-center-1">MERCHANDISE</p>
                    <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                      <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                      <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                 </div>
                 <div class="item">
                   <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="second-banner2"src="{% static "images/merchandisen1.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner2">
          <div class="bottom-center-1">MERCHANDISE</div>
                    <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                      <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                      <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                 </div>
                 <div class="item">
                   <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="second-banner2"src="{% static "images/merchandisen2.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner3">
          <div class="bottom-center-1">MERCHANDISE</div>
                    <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                      <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                      <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                 </div>

                  <div class="item">
                   <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="second-banner2"src="{% static "images/merchandisen3.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner4">
          <div class="bottom-center-1">MERCHANDISE</div>
                    <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                      <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                      <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                 </div>

                  <div class="item">
                   <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="second-banner2"src="{% static "images/merchandisen4.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner5">
          <div class="bottom-center-1">MERCHANDISE</div>
                    <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                      <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                      <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                 </div>

                 <div class="item">
                   <a class="pic1" href="https://www.edinburghshortfilmfestival.com/call-for-entries-filmmakers/" target="_blank"><img class="second-banner2"src="{% static "images/merchandisen5.jpg" %}" alt="image" style="width: 100%;height: auto;" id="lower2banner6">
          <div class="bottom-center-1">MERCHANDISE</div>
                    <!--  <div class="contest-page1-line1">CONTEST ALERT</div>         
                      <div class="contest-page1-line2"><p style="line-height: 15px;">ADC 99th Annual Awards</p><span style="color:black;letter-spacing: 0px;font-size: 13pt;"> DEADLINE: </span><br>JANUARY 31, 2020</div>
                      <div class="contest-page1-line3"><p style="margin-bottom: -5px;">CLICK HERE</p><span style="color: red;font-family: Calibri-Regular;letter-spacing: 0px;">https://www.adcawards.org</span></div></a> -->

                 </div>
              </div>

             
              <a class="left carousel-control" href="#myCarousel12" data-slide="prev">
                <!-- <span class="glyphicon glyphicon-menu-left"></span> -->
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#myCarousel12" data-slide="next">
                <!-- <span class="glyphicon glyphicon-menu-right"></span> -->
                <span class="sr-only">Next</span>
              </a>
            
          </div>

        </div>
      </div>					
    </div>
    <div class="col-md-3 container1">
      <img class="second-banner3" src="{% static "images/sidebanner2nnn.jpg" %}" alt="image" style="width:100%;padding-left:0px;height: auto;" id="lower3banner1">
      <!-- <div class="bottom-left-1">HALL</div><div class="bottom-left-2">OF</div><div class="bottom-left-3">FAME</div> -->
      <div class="bottom-left-1">COMING</div><div class="bottom-left-2">SOON</div>
    </div>
  </div>
</div>


<!-- Intro Banner -->

</div>



<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 15px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<!-- <script>
    function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
  var val = parseInt($('#total_count').text());
  //Use the code in the answer above to replace the commas.
  val = numberWithCommas(val);
  $('#total_count').text(val);
</script> -->
<script>
    window.setTimeout(setsize,1000);

    window.setTimeout(setsize,5000);


    function setsize() {
        // var rightHeight = document.getElementById('right').clientHeight;
        var leftHeight = document.getElementById('banner1').clientHeight;
       
        var rightHeight = document.getElementById('banner2').clientHeight;
        var banner3 = document.getElementById('banner3').clientHeight;
        var banner4 = document.getElementById('banner4').clientHeight;
        var banner5 = document.getElementById('banner5').clientHeight;
        var banner6 = document.getElementById('banner6').clientHeight;
        var banner7 = document.getElementById('banner7').clientHeight;
        var banner8 = document.getElementById('banner8').clientHeight;
        var banner9 = document.getElementById('banner9').clientHeight;
        var banner10 = document.getElementById('banner10').clientHeight;
        var banner11 = document.getElementById('banner11').clientHeight;
        var banner12 = document.getElementById('banner12').clientHeight;
        var banner13 = document.getElementById('banner13').clientHeight;
        var banner14 = document.getElementById('banner14').clientHeight;
        var banner15 = document.getElementById('banner15').clientHeight;
        var banner16 = document.getElementById('banner16').clientHeight;
        var banner17 = document.getElementById('banner17').clientHeight;
        var banner18 = document.getElementById('banner18').clientHeight;
        var banner19 = document.getElementById('banner19').clientHeight;
        var banner20 = document.getElementById('banner20').clientHeight;
        var banner21 = document.getElementById('banner21').clientHeight;
        var banner22 = document.getElementById('banner22').clientHeight;
        var banner23 = document.getElementById('banner23').clientHeight;
        var banner24 = document.getElementById('banner24').clientHeight;
        var lower1banner1 = document.getElementById('lower1banner1').clientHeight;
        var lower2banner1 = document.getElementById('lower2banner1').clientHeight;
        var lower2banner2 = document.getElementById('lower2banner2').clientHeight;
        var lower2banner3 = document.getElementById('lower2banner3').clientHeight;
        var lower2banner4 = document.getElementById('lower2banner4').clientHeight;
        var lower2banner5 = document.getElementById('lower2banner5').clientHeight;
        var lower2banner6 = document.getElementById('lower2banner6').clientHeight;
        var lower3banner1 = document.getElementById('lower3banner1').clientHeight;

        var screenvalue = window.screen.width
        
        if (screenvalue > 992)
        {
          if (rightHeight < leftHeight)
          {
          document.getElementById('banner2').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (rightHeight > leftHeight)
          {
          document.getElementById('banner2').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner3 < leftHeight)
          {
          document.getElementById('banner3').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner3 > leftHeight)
          {
          document.getElementById('banner3').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner4 < leftHeight)
          {
          document.getElementById('banner4').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner4 > leftHeight)
          {
          document.getElementById('banner4').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner5 < leftHeight)
          {
          document.getElementById('banner5').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner5 > leftHeight)
          {
          document.getElementById('banner5').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner6 < leftHeight)
          {
          document.getElementById('banner6').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner6 > leftHeight)
          {
          document.getElementById('banner6').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner7 < leftHeight)
          {
          document.getElementById('banner7').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner7 > leftHeight)
          {
          document.getElementById('banner7').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner8 < leftHeight)
          {
          document.getElementById('banner8').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner8 > leftHeight)
          {
          document.getElementById('banner8').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner9 < leftHeight)
          {
          document.getElementById('banner9').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner9 > leftHeight)
          {
          document.getElementById('banner9').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner10 < leftHeight)
          {
          document.getElementById('banner10').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner10 > leftHeight)
          {
          document.getElementById('banner10').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner11 < leftHeight)
          {
          document.getElementById('banner11').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner11 > leftHeight)
          {
          document.getElementById('banner11').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner12 < leftHeight)
          {
          document.getElementById('banner12').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner12 > leftHeight)
          {
          document.getElementById('banner12').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }

          if (banner13 < leftHeight)
          {
          document.getElementById('banner13').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner13 > leftHeight)
          {
          document.getElementById('banner13').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner14 < leftHeight)
          {
          document.getElementById('banner14').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner14 > leftHeight)
          {
          document.getElementById('banner14').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner15 < leftHeight)
          {
          document.getElementById('banner15').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner15 > leftHeight)
          {
          document.getElementById('banner15').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner16 < leftHeight)
          {
          document.getElementById('banner16').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner16 > leftHeight)
          {
          document.getElementById('banner16').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner17 < leftHeight)
          {
          document.getElementById('banner17').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner17 > leftHeight)
          {
          document.getElementById('banner17').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner18 < leftHeight)
          {
          document.getElementById('banner18').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner18 > leftHeight)
          {
          document.getElementById('banner18').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner19 < leftHeight)
          {
          document.getElementById('banner19').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner19 > leftHeight)
          {
          document.getElementById('banner19').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner20 < leftHeight)
          {
          document.getElementById('banner20').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner20 > leftHeight)
          {
          document.getElementById('banner20').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner21 < leftHeight)
          {
          document.getElementById('banner21').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner21 > leftHeight)
          {
          document.getElementById('banner21').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner22 < leftHeight)
          {
          document.getElementById('banner22').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner22 > leftHeight)
          {
          document.getElementById('banner22').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner23 < leftHeight)
          {
          document.getElementById('banner23').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner23 > leftHeight)
          {
          document.getElementById('banner23').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner24 < leftHeight)
          {
          document.getElementById('banner24').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (banner24 > leftHeight)
          {
          document.getElementById('banner24').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner1 < lower1banner1)
          {
          document.getElementById('lower2banner1').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner1 > lower1banner1)
          {
          document.getElementById('lower2banner1').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner2 < lower1banner1)
          {
          document.getElementById('lower2banner2').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner2 > lower1banner1)
          {
          document.getElementById('lower2banner2').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner3 < lower1banner1)
          {
          document.getElementById('lower2banner3').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner3 > lower1banner1)
          {
          document.getElementById('lower2banner3').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }

          if (lower2banner4 < lower1banner1)
          {
          document.getElementById('lower2banner4').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner4 > lower1banner1)
          {
          document.getElementById('lower2banner4').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner5 < lower1banner1)
          {
          document.getElementById('lower2banner5').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner5 > lower1banner1)
          {
          document.getElementById('lower2banner5').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }

          if (lower2banner6 < lower1banner1)
          {
          document.getElementById('lower2banner6').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower2banner6 > lower1banner1)
          {
          document.getElementById('lower2banner6').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }

          if (lower3banner1 < lower1banner1)
          {
          document.getElementById('lower3banner1').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
          if (lower3banner1 > lower1banner1)
          {
          document.getElementById('lower3banner1').style.height=lower1banner1+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }


       
        }

       
    }
</script>

</body>
</html>