{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
<title>Publik - New Post</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

 <style>
   .searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.searchbar::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.float-right{
  float: right;
}
.card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: right;
  }
  .display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    

    /* Fake image */
  

    /* Add a card effect for articles */
   .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}

      @media screen and (max-width: 600px) {
      input.form-control1 {
    width:100%;
    }
    .headerline {
      padding-left: 15px;
    }
    .social-icons {
      text-align: center;
    }
    .head2 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    }
    .approvalbutton {
      padding-right: 0px;
      padding-left: 0px;
    }
    .userimage {
      width:60vw; 
    }
    .userinfo {
      font-size: 3.8vw;
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    .sidebar {
      width: 45%;
    }
    .postcontainer {
      padding: 0px;
    }
    .dropdown-menu {
        left: 30%;
        right: 30%;
      }
    .firstfootmenu {
         width: 27.333333%;

}
 .navmenu-firstmenu {
    width: 100.666667%;
}
  /*.navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }*/
      .headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
.footermenu1 {
    
    width: 100%;}
    .dashboardsocial-icons {
      text-align: center;
    }
  }
   @media screen and (max-width: 992px){
     .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }

    .float-right{
      float: none;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    width: 100%;
    }
    .card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: none;
    }
    .dashboardhead2 {
  padding-left: 0px;
}
.headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
  .dashboardsocial-icons {
        text-align: center;
    }
     .navmenu-firstmenu {
    width: 100.666667%;
}
  .freelancer_details_header1 {
    width: 100%;
  }
  .freelancer_details_header2 {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
.freelancer_details_header2_text {
  text-align: right;
}
.freelancer_details_content2 {
  width: 100%;
}

  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

}
@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}

  
  @media (min-width: 1800px) and (max-width: 2000px){
  
  .display-pic {
    border-radius: 0%;
    width: 100%;
    height: 165px;
  }
}
@media (min-width: 2000px){
 
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}

.profile-pic {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}
.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}
.editbutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    margin-top: 5px;
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;

}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid">
    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
          <div class="col-md-12 social-icons-innerdiv" style="">
          <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
          </div>
          <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
            <!-- <div class="total_count_main_div" style="">
            <p class="total_count_title" style="">FREEPUBLIKANS</p>
            {% if total_count %}
            <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
            {% else %}
            <p class="total_count_value" id="total_count" style=""> 0 </p>
            {% endif %}
          </div> -->
          <!-- </div> -->
        </div>    
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
               <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
              </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  

  
  
  <div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
      <div class="sidebar" id="left" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav" style="padding-bottom: 18vw;">
                  <li>
                      <a href="{% url 'udashboard' %}">
                          
                          <p>Company Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'uprofile' %}">
                         
                          <p>Company Profile</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p style="color: red;">Start New Project</p>
                      </a>
                  </li>
                   <li>
                      <a href="{% url 'uactiveprojects' %}">
                         
                          <p>Active Projects</p>
                      </a>
                  </li>
                   <li>
                      <a href="{% url 'ucloseprojects' %}">
                         
                          <p>Completed Projects</p>
                      </a>
                  </li>
                  
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8 postcontainer" id="center">
      <div class="main-panel" >
          <nav class="navbar navbar-default navbar-fixed" style="background-color: transparent;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>

<div class="content">
  <p style="color: white;font-size: 15px;font-family: Calibri-Bold;margin: 25px 30px 15px;letter-spacing: 1px;">WELCOME, {{ client_object.company }}</p>
            <!-- <h4 style="text-transform: uppercase;color: white;padding-left: 30px;font-size: 16px;">welcome, {{ name }}</h4> -->
              <div class="container-fluid">
                

                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-12">
                          <div class="card" style="padding-left: 3px;padding-right: 3px;padding-top: 3px;">

                              
                              <div class="content">
                                            {% if data %}
                                            <h4 style="margin-left: 15px;margin-top: 0px;font-weight: 700;">Project Preview</h4>
                                            {% endif %}
                                       
                                       <form name="edit-form" method="POST" action="{% url 'post_new' %}">{% csrf_token %}
                                              

                                              <div class="row" style="margin-left: 15px;margin-right: 15px;">
                                                  
                                                  
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                        {% if message %}
                                                          <h5> {{ message }}</h5>
                                                          
                                                          {% endif %}
                                                
                                                          {% if error %}
                                                          {{ error }}
                                                        
                                                          {% endif %}
                                                          <label>Project Title</label>
                                                          {% if data %}
                                                          <h4 class="colstyles" style="">{{ data.title }}</h4>
                                                          {% else %}
                                                          <!-- <select class="form-control" name="budget" placeholder="Budget" required> -->
                                                           {% if obj %}  
                                                                <input type="text" class="form-control" name="title" placeholder="Enter Title of the Post" value="{{ obj.title }}" required style="background-color: white;border-width: thin;border-color: black;">
<!--                                                             <option value="{{ obj.budget }}" hidden>{{ obj.budget }}</option>
 -->                                                        {% else %}
                                                                <input type="text" class="form-control" name="title" placeholder="Enter Title of the Post" value="" required style="background-color: white;border-width: thin;border-color: black;">
                                                            <!-- <option value="" hidden>Select Budget</option> -->
                                                            {% endif %}
                                                            <!-- <option value="INR 5000-10000">INR 5000-10000</option>
                                                            <option value="INR 11000-15000">INR 11000-15000</option>
                                                            <option value="INR 16000-20000">INR 16000-20000</option>
                                                            <option value="INR 16000-20000">INR 21000-25000</option>
                                                            <option value="INR 16000-20000">INR 26000-30000</option>
                                                            <option value="INR 16000-20000">INR 31000-35000</option>
                                                            <option value="INR 16000-20000">INR 36000-40000</option>
                                                          </select> -->
                                                         <!--  <input type="text" name="budget" class="form-control" placeholder="Budget" value="{{ obj.budget }}"> -->
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                </div>


                                              <div class="row" style="margin-left: 15px;margin-right: 15px;">
                                                  <div class="col-md-3">
                                                      <div class="form-group">
                                                         <label>Project Category</label>
                                                         {% if data %}
                                                         <h4 class="colstyles" style="">{{ data.job_type }}</h4>
                                                         {% else %}
                                                          <select class="form-control" name="job_type" placeholder="job_type" required style="background-color: white;border-width: thin;border-color: black;">  
                                                            {% if obj %}
                                                            <option value="{{ obj.job_type }}" hidden>{{ obj.job_type }}</option>
                                                            {% else %}
                                                            <option value="" hidden>Select Job Type</option>
                                                            {% endif %}
                                                            <optgroup label="DESIGN & CREATIVE">
                                                                              <option value="Design">Design
                                                                              </option>
                                                                              <option value="Design Head">Design Head</option>
                                                                              <option value="Design Director">Design Director</option>
                                                                              <option value="Sr. Design Group Head">Sr. Design Group Head</option>
                                                                              <option value="Design Group Head">Design Group Head</option>
                                                                              <option value="Sr. Designer">Sr. Designer</option>
                                                                              <option value="Jr. Designer">Jr. Designer</option>
                                                                              <option value="Brand Identity Design">Brand Identity Design</option>
                                                                              <option value="Branding & Logo Design">Branding & Logo Design</option>
                                                                              <option value="Graphic Designer">Graphic Designer</option>
                                                                              <option value="Presentation Designer">Presentation Designer</option>
                                                                              <option value="Packaging Designer">Packaging Designer</option>
                                                                              <option value="Motion Graphic Designer">Motion Graphic Designer</option>
                                                                              <option value="Product Designer">Product Designer</option>
                                                                              <option value="Interior Designer">Interior Designer</option>
                                                                              <option value="Typographer">Typographer</option>
                                                                              <option value="Calligrapher">Calligrapher</option>
                                                                              <option value="Illustrator">Illustrator</option>
                                                                              <option value="Water Color Artist">Water Color Artist</option>
                                                                              <option value="Oil Paint Artist">Oil Paint Artist</option>
                                                                              <option value="Sculptor">Sculptor</option>


                                                                              <option value="Paper Craft Artist">Paper Craft Artist</option>
                                                                              <option value="Jewellery Designer">Jewellery Designer</option>
                                                                              <option value="Advertising">Advertising</option>
                                                                              <option value="National Creative Director">National Creative Director</option>

                                                                              <option value="Executive Creative Director">Executive Creative Director</option>
                                                                              <option value="Group Creative Director">Group Creative Director</option>
                                                                              <option value="Sr. Creative Director">Sr. Creative Director</option>
                                                                              <option value="Unit Creative Director">Unit Creative Director</option>
                                                                              <option value="Creative Director">Creative Director</option>
                                                                              <option value="Associate Creative Director">Associate Creative Director</option>
                                                                              <option value="Art Supervisor">Art Supervisor</option>
                                                                              <option value="Sr. Art Director">Sr. Art Director</option>
                                                                              <option value="Art Director">Art Director</option>
                                                                              <option value="Jr. Art Director">Jr. Art Director</option>
                                                                              <option value="Sr. Visualiser">Sr. Visualiser</option>
                                                                              <option value="Visualiser">Visualiser</option>

                                                                              <option value="Jr. Visualiser">Jr. Visualiser</option>
                                                                              <option value="Creative Trainee">Creative Trainee</option>
                                                                              <option value="DTP Operator">DTP Operator</option>
                                                                              <option value="Adaptation Operator">Adaptation Operator</option>
                                                                              
                                                                            </optgroup>
                                                                            <optgroup label=" COPYWRITING">
                                                                              
                                                                              <option value="Copy Creative Director">Copy Creative Director</option>
                                                                              <option value="Sr. Copywriter">Sr. Copywriter</option>
                                                                              <option value="Jr. Copywriter">Jr. Copywriter</option>

                                                                              <option value="Academic Writer">Academic Writer</option>

                                                                              <option value="Research Writer">Research Writer</option>



                                                                              <option value="Article & Blog Writer">Article & Blog Writer</option>

                                                                              <option value="Editing & Proofreading Writer">Editing & Proofreading Writer</option>

                                                                              <option value="Grant Writer">Grant Writer</option>
                                                                              
                                                                              <option value="Resumes & Cover Letters Writer">Resumes & Cover Letters Writer</option>

                                                                              <option value="Technical Writer">Technical Writer</option>

                                                                              
                                                                              <option value="Web Content Writer">Web Content Writer</option>
                                                                              <option value="Story Book Writer">Story Book Writer</option>

                                                                            </optgroup>
                                                                            
                                                                            <optgroup label="FILM & PHOTOGRAPHY">
                                                                              <option value="Photographer">Photographer</option>
                                                                              <option value="Photographer Asistant">Photographer Asistant</option>
                                                                              <option value="Make Up Artist">Make Up Artist</option>
                                                                              <option value="Hair Stylist">Hair Stylist</option>

                                                                              <option value="Hair Styling Asistant">Hair Styling Asistant</option>


                                                                              <option value="Costume Stylist">Costume Stylist</option>
                                                                              <option value="Costume Styling Asistant">Costume Styling Asistant</option>
                                                                              <option value="Food Stylist">Food Stylist</option>

                                                                              <option value="Food Styling Asistant">Food Styling Asistant</option>
                                                                              <option value="Model Coordinator">Model Coordinator</option>

                                                                              <option value="Model Coordinator Asistant">Model Coordinator Asistant</option>

                                                                              
                                                                              <option value="Art Director">Art Director</option>

                                                                              <option value="Art Director Asistant">Art Director Asistant</option>

                                                                              <option value="Set Designer">Set Designer</option>
                                                                              <option value="Set Designer Asistant">Set Designer Asistant</option>

                                                                              <option value="Prop Stylist">Prop Stylist</option>
                                                                              <option value="Producer">Producer</option>
                                                                              <option value="Associate Producer">Associate Producer</option>
                                                                              <option value="Line Producer">Line Producer</option>
                                                                              <option value="Associate Line Producer">Associate Line Producer</option>

                                                                            </optgroup>
                                                                            <optgroup label="ACCOUNT & PLANNING">
                                                                              <option value="President">President</option>
                                                                              <option value="Sr. Vice President">Sr. Vice President</option>
                                                                              <option value="Vice President">Vice President</option>
                                                                              <option value="Account Supervisor">Account Supervisor</option>
                                                                              <option value="Account Director">Account Director</option>
                                                                              <option value="Client Servicing">Client Servicing</option>
                                                                              <option value="Jr. Client Servicing">Jr. Client Servicing</option>
                                                                              <option value="President-Planning">President-Planning</option>
                                                                              <option value="Executive Director-Planning">Executive Director-Planning</option>

                                                                              <option value="Vice President-Planning">Vice President-Planning</option>
                                                                              <option value="Associate Vice President-Planning">Associate Vice President-Planning</option>
                                                                              <option value="Director-Planning">Director-Planning</option>
                                                                              <option value="Associate Planning">Associate Planning</option>
                                                                              <option value="Planning Head">Planning Head</option>
                                                                              <option value="Senior Planner">Senior Planner</option>
                                                                              <option value="Mid-Level Planner">Mid-Level Planner</option>
                                                                              <option value="Junior Planner">Junior Planner</option>                  
                                                                            </optgroup>

                                                                            <optgroup label="IMAGE RETOUCHING & CGI">
                                                                              <option value="Image Retoucher">Image Retoucher</option>
                                                                              <option value="Print Production">Print Production</option>
                                                                              <option value="Artwork Artist">Artwork Artist</option>
                                                                              <option value="Language Artwork Artist">Language Artwork Artist</option>
                                                                              <option value="Repro Artist">Repro Artist</option>
                                                                              <option value="CGI Artist">CGI Artist</option>
                                                                              <option value="CGI Modeler">CGI Modeler</option>
                                                                              <option value="CGI Texture Artist">CGI Texture Artist</option>
                                                                              <option value="CGI Lighting & Shading Artist">CGI Lighting & Shading Artist</option>
                                                                              <option value="Animation-Creative Director">Animation-Creative Director</option>
                                                                              <option value="Animation-Project Lead">Animation-Project Lead</option>
                                                                              <option value="Sr. Animator">Sr. Animator</option>
                                                                              <option value="Jr. Animator">Jr. Animator</option>
                                                                              <option value="Animator">Animator</option>
                                                                              <option value="Fx Artist">Fx Artist</option>
                                                                              <option value="Hair & Fur Artist">Hair & Fur Artist</option>
                                                                              <option value="Rendering Artist">Rendering Artist</option>
                                                                              <option value="Compositor">Compositor</option>
                                                                              <option value="Roto Artist">Roto Artist</option>
                                                                              <option value="Layout Artist">Layout Artist</option>
                                                                              <option value="Matt Painter">Matt Painter</option>
                                                                              <option value="Match Move Artist">Match Move Artist</option>
                                                                            </optgroup> 
                                                          </select>
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                  
                                                  <div class="col-md-4">
                                                      
                                                    
                                                      <div class="col-md-5">
                                                          <div class="form-group">
                                                              <label>Budget</label>
                                                              {% if data %}
                                                              <h4 class="colstyles" style="">{{ data.moneytype }}</h4>
                                                              {% else %}
                                                              <select class="form-control" name="moneytype" placeholder="Type" required style="background-color: white;border-width: thin;border-color: black;">  
                                                                {% if obj %}
                                                                <option value="{{ obj.currency_type }}" hidden>{{ obj.currency_type }}</option>
                                                                {% else %}
                                                                <option value="" hidden style="color:grey;">Type</option>
                                                                {% endif %}
                                                                <optgroup label="Currency">
                                                                <option value="INR">INR</option>
                                                                <option value="Dollar">Dollar</option>
                                                               
                                                              </optgroup>
                                                              </select>
                                                             <!--  <input type="text" name="budget" class="form-control" placeholder="Budget" value="{{ obj.budget }}"> -->
                                                              {% endif %}
                                                          </div>
                                                      </div>
                                                      <div class="col-md-7">
                                                          <div class="form-group">
                                                          <label></label>
                                                          {% if data %}
                                                          <h4 class="colstyles" style="">{{ data.budget }}</h4>
                                                          {% else %}
                                                          <!-- <select class="form-control" name="budget" placeholder="Budget" required> -->
                                                           {% if obj %}  
                                                                <input type="text" class="form-control" name="budget" placeholder="Budget" value="{{ obj.budget }}" required style="background-color: white;border-width: thin;border-color: black;">
<!--                                                             <option value="{{ obj.budget }}" hidden>{{ obj.budget }}</option>
 -->                                                        {% else %}
                                                                <input type="text" class="form-control" pattern="[0-9]+" title="Please Enter digits only" name="budget" placeholder="Budget" value="" required style="background-color: white;border-width: thin;border-color: black;">
                                                            <!-- <option value="" hidden>Select Budget</option> -->
                                                            {% endif %}
                                                        
                                                          {% endif %}
                                                      </div>
                                                      </div>





                                                      



                                                  </div>
                                                  <div class="col-md-5">
                                                     <div class="col-md-4">
                                                      <div class="form-group">
                                                          <label>Timeline</label>
                                                          {% if data %}
                                                          <h4 class="colstyles" style="">{{ data.years }} Years</h4>
                                                          {% else %}
                                                          <select class="form-control" name="years" placeholder="Years" value="1" required style="background-color: white;border-width: thin;border-color: black;">  
                                                            {% if obj %}
                                                            <option value="{{ obj.years }}" hidden>{{ obj.years }}</option>
                                                            {% else %}
                                                            <option value="" hidden style="color:grey;">Years</option>
                                                            {% endif %}
                                                            <optgroup label="Years">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>                                                            
                                                            </optgroup>
                                                          </select>
                                                         <!--  <input type="text" name="budget" class="form-control" placeholder="Budget" value="{{ obj.budget }}"> -->
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                      <div class="form-group">
                                                          <label style="visibility: hidden;">Month</label>
                                                          {% if data %}
                                                          <h4 class="colstyles" style="">{{ data.months }} Months</h4>
                                                          {% else %}
                                                          <select class="form-control" name="months" placeholder="Months" required style="background-color: white;border-width: thin;border-color: black;">
                                                            {% if obj %}
                                                            <option value="{{ obj.months }}" hidden>{{ obj.months }}</option>
                                                            {% else %}
                                                            <option value="" hidden>Months</option>
                                                            {% endif %}
                                                            <optgroup label="Months">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                          </optgroup>                                                         
                                                          </select>
                                                         <!--  <input type="text" name="budget" class="form-control" placeholder="Budget" value="{{ obj.budget }}"> -->
                                                          {% endif %}
                                                      </div>
                                                  </div>

                                                  <div class="col-md-4">
                                                      <div class="form-group">
                                                          <label style="visibility: hidden;">Days</label>
                                                          {% if data %}
                                                          <h4 class="colstyles" style="">{{ data.days }} Days</h4>
                                                          {% else %}
                                                          <select class="form-control" name="days" placeholder="Days" required style="background-color: white;border-width: thin;border-color: black;">
                                                            {% if obj %}
                                                            <option value="{{ obj.days }}" hidden>{{ obj.days }}</option>
                                                            {% else %}
                                                            <option value="" hidden>Days</option>
                                                            {% endif %}
                                                            <optgroup label="Days">
                                                            <option value="0">0</option>
                                                            <option value="1">1</option>
                                                            <option value="2">2</option>
                                                            <option value="3">3</option>
                                                            <option value="4">4</option>
                                                            <option value="5">5</option>
                                                            <option value="6">6</option>
                                                            <option value="7">7</option>
                                                            <option value="8">8</option>
                                                            <option value="9">9</option>
                                                            <option value="10">10</option>

                                                          </optgroup>                                                         
                                                          </select>
                                                         <!--  <input type="text" name="budget" class="form-control" placeholder="Budget" value="{{ obj.budget }}"> -->
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                  </div>
                                                </div>
                                                  
                                                  
                                            

                                              <div class="row" style="margin-left: 15px;margin-right: 15px;">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <label>Brief (500 words)</label>
                                                          {% if data %}
                                                           <h4 class="colstyles" style="">{{ data.brief }}</h4>
                                                           {% else %}
                                                          <textarea rows="5" name="brief" class="form-control" placeholder="Enter Details" required style="background-color: white;border-width: thin;border-color: black;">{{ obj.brief }}</textarea>
                                                          {% endif %}
                                                      </div>
                                                  </div>                                                
                                              </div>

                                              <div class="row" style="margin-left: 15px;margin-right: 15px;">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <label>Exact Deliverables</label>
                                                          {% if data %}
                                                          <h4 class="colstyles" style="">{{ data.deliverables }}</h4>
                                                          {% else %}
                                                          <textarea rows="5" name="deliverables" class="form-control" placeholder="Enter Deliverables Details" required style="background-color: white;border-width: thin;border-color: black;">{{ obj.deliverables }}</textarea>
                                                          {% endif %}
                                                      </div>
                                                  </div>
                                                  
                                              </div>
                                             




                                              {% if data %}
                                              <br>
                                              <button class="post" type="button" class="btn btn-info btn-fill" style="width: auto;background-color: #e02129;border-color: #e02129;font-weight: 600;margin-left: 15px;height: 40px;"><a style="color: white;text-transform: capitalize;font-weight: bold;" href="{% url 'post_edit' %}">Edit Project</a></button>
                                              
                                              <button class="post" type="button" class="btn btn-info btn-fill" style="width: auto;background-color: #e02129;border-color: #e02129;font-weight: 600;margin-left: 15px;height: 40px;"><a style="color: white;text-transform: capitalize;font-weight: bold;" href="{% url 'confirm_post' %}">Confirm Project</a></button>


                                             <!--  <div class="row" style="margin-left: 15px;margin-right: 15px;">
                                                  <div class="col-md-12">
                                                      <div class="form-group">
                                                          <a class="btn btn-info btn-fill pull-right" href="{% url 'post_edit' %}">EDIT POST</a>
                                                      </div>
                                                  </div>
                                                  
                                              </div> -->
                                             
                                              {% else %}
                                              <button class="post" type="submit" class="btn btn-info btn-fill" style="width: auto;background-color: #e02129;border-color: #e02129;font-weight: 600;margin-left: 15px;">Post Project</button>
                                              {% endif %}
                                              <div class="clearfix"></div>
                                          </form>
                              </div>
                          </div>
                      </div>
                     

                    
                  </div>
                </div>
                  

                  
              </div>
          </div>
          


          
      </div></div>

      <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" style="">&nbsp;</h4>
                     </div>
                      
                                    <!-- <div class="image">
                                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                    </div> -->
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="profile-pic">
                                              {% if client_object.profile %}
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src=" {{ client_object.profile }}"/>
                                               {% else %}                                               
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src="{% static "images/company_logo.jpg" %}"/>
                                               {% endif %}
                                             <div class="edit"><a onclick="demoshow();"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                          </div>
                                          <input type="hidden" id="plantook" name="post_new" value="1">
                                            <center><input type="file" id="choose" name="document" style="display:none;" onchange="upload_img(this);"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                       <div style="padding-left: 15px;">  
                                        
                                         
                                        <br>

                                          <div class="row">
                                            <p class="userinfo-title">INDUSTRY SEGMENT</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <!-- <span class="square"></span><a class="userinfo" style="">{{freelancer_details.years}} Years {{freelancer_details.months}} Months </a><br> -->
                                            <span class="square"></span><a class="userinfo" style="">{{client_object.industry}}</a><br>
                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">MEMBER SINCE</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{client_object.profile_created_on|date:"M Y"}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{client_object.companytype}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">CONTACT PERSON</p> 
                                        </div>

                                       <div class="row" style="padding-bottom: 10px;">                                                                             
                                          
                                             <span class="square"></span><a class="userinfo" style="">{{client_object.contact_person}}</a><br>
                                                                                   
                                       </div>
                                       </div>
                                
                      <div class="row">
                       </div>
                      
                    </div>
                    
      </div>
  


   
   
    
    
  </div></div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script>
<script>
    $(document).ready(function() {
        // var rightHeight = document.getElementById('right').clientHeight;
        var leftHeight = document.getElementById('left').clientHeight;
        var centerHeight = document.getElementById('center').clientHeight;
        var rightHeight = document.getElementById('right').clientHeight;
        var screenvalue = window.screen.width
        
        if (screenvalue > 992)
        {
          if (centerHeight < leftHeight)
          {
          document.getElementById('center').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
       
        // if (rightHeight < leftHeight)
        // {
        // document.getElementById('right').style.height=leftHeight+'px';
        // // document.getElementById('left').style.height=centerHeight+'px';
        // }
        var centerHeight2 = document.getElementById('center').clientHeight;
        if (rightHeight < centerHeight2)
        {
        document.getElementById('right').style.height=centerHeight2+'px';
        // document.getElementById('left').style.height=centerHeight+'px';
        }
        }

       
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#editbutton").click(function(){            
            $("#password,#phone,#company,#country,#category,#industry,#savebutton,#contact_person,#contact_person_designation,#contact_person_phone,#contact_person_email").removeAttr("disabled");
            $("#password,#phone,#company,#country,#category,#industry,#contact_person,#contact_person_designation,#contact_person_phone,#contact_person_email").css('background-color','white');
            $("#password,#phone,#company,#country,#category,#industry,#contact_person,#contact_person_designation,#contact_person_phone,#contact_person_email").css('border-width','thin');
            $("#savebutton").css('cursor','pointer');
            $(this).css('background-color','#e02129');
            $(this).css('cursor','not-allowed');
            $(this).attr("disabled", true);
            // $("#savebutton").css('background-color','green');
        });
        $("#savebutton").click(function(){            
            
            
            $(this).css('background-color','green');
           
            // $("#savebutton").css('background-color','green');
        });
    });
</script>
 <script type="text/javascript">
       function demoshow()
       { 
       parent.document.getElementById('choose').click();
       // parent.document.getElementById('uploadimage').style.display="block";
       }
    </script>


     <script>
      $("#choose").change(function () {
          if(fileExtValidate(this)) { // file extension validation function
             if(fileSizeValidate(this)) { // file size validation function
              
             }   
          }    
        });
      
    // function for  validate file extension
    var validExt = ".png, .jpg";
    function fileExtValidate(fdata) {
     var filePath = fdata.value;
     var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
     var pos = validExt.indexOf(getFileExt);
     if(pos < 0) {
      alert("This file is not allowed, Allowed extension : .jpg/.png");
      fdata.value = "";
      return false;
      } else {


        return true;
      }
    }
    //function for validate file size 
    var maxSize = '1024';
    function fileSizeValidate(fdata) {
       if (fdata.files && fdata.files[0]) {
                    var fsize = fdata.files[0].size/1024;
                    if(fsize > maxSize) {
                       alert('Maximum file size exceed. Max Limit 1 MB');
                       fdata.value = "";                       
                       return false;
                    } 
                    else {                    
                      var reader = new FileReader();
                      reader.onload = function (e) {
                        $('#profile_image').attr('src', e.target.result);                        
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      // parent.document.getElementById('uploadimage').style.display="block";
                      $("#uploadimage").click();
                      return true;
                      }
         }
     }

    </script>


<!-- <script>
  $(window).focus(function () {
    window.location.reload(true);
});
</script> -->
</body>
</html>
