{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
<title>Publik - Freelancer Profile</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  
  <!-- <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" /> -->
   <!-- <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/> -->
    <!-- <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css"> --> 

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
<!-- <link rel="stylesheet" type="text/css" href="{% static "css/mywork.css" %}"> -->

 <style>
  a:active, a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
   
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}
.carousel-inner > .item > img{ height:auto; padding-left: 100px;padding-right: 100px; padding-bottom: 90px;padding-top: 70px;max-height: 500px;object-fit: contain;}
.carousel {
    position: relative;
    /*margin-top: 110px;*/
}

/*.card .content {
    padding: 5px 10px 0px 10px;
}*/

.form-group1 {
    margin-bottom: 16px;
    margin-top: 26px;
}
    /* Create two unequal columns that floats next to each other */
    /* Left column */
    /*.leftcolumn {   
      float: left;
      width: 75%;
    }

    /* Right column */
   /* .rightcolumn {
      float: left;
      width: 25%;
      padding-left: 20px;
    }*/

    /* Fake image */
   

    /* Add a card effect for articles */
    .card {
       background-color: white;
       padding: 0px;
       padding-top: 0px;
       margin-left: 35px;
       margin-right: 35px;
      /* margin-top: 20px;*/
    }

    

    .row:after {
      content: "";
      display: table;
      clear: both;
    }

  





    .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}
.glyphicon {
  
    top: 45%;
    color: white;
    opacity: initial;
  }
  .maincontainer {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.workimages {
  border-radius: 0%;
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 200px;
  object-fit: contain;
}


.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  padding-top: 0px;
  padding-bottom: 30px;
}

.column1 {
  float: left;
  width: 100%;
  padding: 15px;
  padding-top: 0px;
  
}
.profile-edit-btn{
    border: none;
   
    width: 100%;
    padding: 5%;
    font-weight: 600;
    color: white;
    cursor: pointer;
    background-color: red;
}
    /*scrollbar effects end*/
    @media screen and (max-width: 600px) {
  input.form-control1 {
width:100%;
}
.headerline {
  padding-left: 15px;
}
.dashboardsocial-icons {
  text-align: center;
}
.dashboardhead2 {
  padding-left: 0px;
}
.fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
  
    .userinfo {
      /*font-size: 3.8vw;*/
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    
     .sidebar {
      width: 45%;
    }
    .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    
 .navmenu-firstmenu {
    width: 100.666667%;
}

 .navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }
.footer-row {
      padding-left: 30px;
    }
    
    .square2div {

      margin-right:0px;
    }
    .square3div {

      margin-right:0px;
    }
    .footermenu2 {

      margin-right:0px;
    }
    .footermenu3 {

      margin-right:0px;
    }
    .headerline1div {
      padding-left: 0px;
      padding-right: 0px;
    }
   .dropdown-menu {
        left: 30%;
        right: 30%;
      }
      .footermenu1 {
    
    width: 100%;}
    #right {
    width: -webkit-fill-available;
}
.picture-tab-row1-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row1-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row2-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col3 {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-inner > .item > img {
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 500px;
    object-fit: contain;
}
.carousel {
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
}
.workimages {
    border-radius: 0%;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
}
  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }
    
}

@media screen and (min-width: 601px) and (max-width: 991px) {
      .postcontainer {
      width: -webkit-fill-available;
      padding: 0px;
    }
    #right {
      width: -webkit-fill-available;
    }
    
    .navmenu-firstmenu {
    width: 100.666667%;
}
.dashboardsocial-icons {
    text-align: center;
}
input.form-control1 {
    width: 100%;
}
.picture-tab-row1-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row1-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row2-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col3 {
    padding-left: 0px;
    padding-right: 0px;
}
.carousel-inner > .item > img {
    width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
    max-height: 500px;
    object-fit: contain;
}
.carousel {
    position: relative;
    margin-top: 0px;
    margin-bottom: 40px;
}
.workimages {
    border-radius: 0%;
    width: 100%;
    height: auto;
    object-fit: cover;
    max-height: 400px;
}

  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

}
.profile-pic {
  position: relative;
  /*display: inline-block;*/
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.edit a {
  color: #000;
}
.savebutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    /*margin-top: 10px;*/
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;
    display: none;

}
@media (min-width: 992px){
.card form [class*="col-"] {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}
/*.picture-tab-row1-col1 {
    padding-right: 0px;
    padding-left: 0px;
}*/
/*.picture-tab-row1-col2 {
    padding-left: 0px;
    padding-right: 0px;
}*/
/*.picture-tab-row2-col1 {
    padding-right: 0px;
    padding-left: 0px;
}
.picture-tab-row2-col2 {
    padding-left: 0px;
    padding-right: 0px;
}
.picture-tab-row2-col3 {
    padding-left: 0px;
    padding-right: 0px;
}*/
.col-md-10 {
    width: 81.333333%;
}



}

@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}

@media (min-width: 1800px) and (max-width: 2000px){
  /*.workimages {
    
    height: 330px;
}*/
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 265px;
}
}
@media (min-width: 2000px){
 /* .workimages {
    
    height: 350px;
}*/
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}
    </style>
</head>

<body style="font-family: Calibri-Regular">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid">

    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
          <div class="col-md-12 social-icons-innerdiv" style="">
          <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
          </div>
          <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
            <!-- <div class="total_count_main_div" style="">
            <p class="total_count_title" style="">FREEPUBLIKANS</p>
            {% if total_count %}
            <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
            {% else %}
            <p class="total_count_value" id="total_count" style=""> 0 </p>
            {% endif %}
          </div> -->
          <!-- </div> -->
        </div>    
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
                    {% if fname %}
                    <b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
                    {% elif username %}
                    <b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>         
                    {% else %}
                    <b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class=""></span>
                    </a>
                    <ul class="dropdown-menu" style="">
                      <li><a tabindex="-1" href="{% url 'login' %}" style="font-weight: unset;font-size: 12px;padding: 3px 6px 3px;font-weight: 400;">AS A <span style="color: red">CLIENT</span></a></li>
                      <li class='divider' style="height: 2px;margin: 0px 0;"></li>
                      <li><a tabindex="-1" href="{% url 'flogin' %}" style="font-weight: unset;font-size: 12px;padding: 6px 6px 0px;font-weight: 400;">AS A <span style="color: red">FREELANCER</span></a></li>
                    </ul></b>
                    {% endif %}
                  </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>

  
  
  
<!------ Include the above in your HEAD tag ---------->

<div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row row-flex" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    
    <div class="col-md-10 postcontainer">
      <div class="" id="center">
          


          <div class="content">
            <div class="col-md-12">
                                
                                 
                                    <h4 class="companyinfo" id="toplabel" style="">{{ data.username }} - Selected Work</h4>
                           
                               
                              </div>
            <div class="container-fluid maincontainer">
                        <div class="row" id="replaceMe">
                            <div class="col-md-12">
                                <div class="col-md-12">
                                  <div class="col-md-12">

                                   
                                    <div class="content">
                                        
                                          <div class="row">
                                            <div class="column">
                                               {% if data.work1 %}
                                              <img src=" {{ data.work1 }}" id="image1" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                              {% else %}
                                               <img src="{% static "images/profileimage.jpg" %}" id="image1" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                               {% endif %}
                                            </div>
                                            <div class="column">
                                             {% if data.work2 %}
                                              <img src=" {{ data.work2 }}" id="image2" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                              {% else %}
                                               <img src="{% static "images/profileimage.jpg" %}" id="image2" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                               {% endif %}
                                            </div>
                                            <div class="column">
                                              {% if data.work3 %}
                                              <img src=" {{ data.work3 }}" id="image3" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                              {% else %}
                                               <img src="{% static "images/profileimage.jpg" %}" id="image3" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                               {% endif %}
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="column">
                                              {% if data.work4 %}
                                              <img src=" {{ data.work4 }}" id="image4" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                              {% else %}
                                               <img src="{% static "images/profileimage.jpg" %}" id="image4" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                               {% endif %}
                                             </div>
                                            <div class="column">
                                              {% if data.work5 %}
                                              <img src=" {{ data.work5 }}" id="image5" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                              {% else %}
                                               <img src="{% static "images/profileimage.jpg" %}" id="image5" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                               {% endif %}
                                            </div>
                                            <div class="column">
                                             {% if data.work6 %}
                                              <img src=" {{ data.work6 }}" id="image6" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                              {% else %}
                                               <img src="{% static "images/profileimage.jpg" %}" id="image6" alt="Snow" style="width: 100%;height: 20vw;object-fit: cover;">
                                               {% endif %}
                                            </div>
                                          </div> 
                                       




                                         

                                            
                                            <div class="clearfix"></div>
                                     
                                    </div>
                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement">
                                       
                                              <div id="carousel-example-generic" class="carousel slide">
                                                  <!-- Indicators -->
                                                  
                                                  <!-- Wrapper for slides -->
                                                  <div class="carousel-inner">
                                                  <div class="item active">
                                                    <img src="{{data.work1}}" alt="">                                             
                                                  </div>
                                                  {% if data.work2 %}
                                                  <div class="item">
                                                    <img src="{{data.work2}}" alt="">
                                                    
                                                  </div>
                                                  {% endif %}
                                                  {% if data.work3 %}
                                                  <div class="item">
                                                    <img src="{{data.work3}}" alt="">
                                                   
                                                   
                                                   
                                                  </div>
                                                   {% endif %}
                                                  {% if data.work4 %}
                                                  <div class="item">
                                                    <img src="{{data.work4}}" alt="">                                     
                                                     
                                                  </div>
                                                   {% endif %}
                                                  {% if data.work5 %}
                                                  <div class="item">
                                                    <img src="{{data.work5}}" alt="">                                     
                                                     
                                                  </div>
                                                   {% endif %}
                                                   {% if data.work6 %}
                                                  <div class="item">
                                                    <img src="{{data.work6}}" alt="">                                     
                                                     
                                                  </div>
                                                   {% endif %}
                                                  </div>

                                                  <!-- Controls -->
                                                  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                                  <span class="glyphicon glyphicon-chevron-left"></span>
                                                  </a>
                                                  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                                  <span class="glyphicon glyphicon-chevron-right"></span>
                                                  </a>
                                              </div>
                                                                 
                                    </div>

                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement2">
                                      <div id="carousel-example-generic" class="carousel slide">
                                          <!-- Indicators -->
                                          
                                          <!-- Wrapper for slides -->
                                          <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{data.work2}}" alt="work2" style="">
                                            </div>
                                            {% if data.work3 %}
                                            <div class="item">
                                               <img class="" src="{{data.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work4 %}
                                            <div class="item">
                                               <img class="" src="{{data.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work5 %}
                                            <div class="item">
                                               <img class="" src="{{data.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work6 %}
                                            <div class="item">
                                               <img class="" src="{{data.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work1 %}
                                            <div class="item">
                                               <img class="" src="{{data.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>

                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          </a>
                                      </div>
                                    
                                    </div>

                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement3">
                                        

                                        <div id="carousel-example-generic" class="carousel slide">
                                            <!-- Indicators -->
                                            
                                            <!-- Wrapper for slides -->
                                             <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{data.work3}}" alt="work1" style="">
                                            </div>
                                            {% if data.work4 %}
                                            <div class="item">
                                               <img class="" src="{{data.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work5 %}
                                            <div class="item">
                                               <img class="" src="{{data.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work6 %}
                                            <div class="item">
                                               <img class="" src="{{data.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work1 %}
                                            <div class="item">
                                               <img class="" src="{{data.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work2 %}
                                            <div class="item">
                                               <img class="" src="{{data.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>

                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div> 
                                    </div>



                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement4">
                                        <div id="carousel-example-generic" class="carousel slide">
                                            <!-- Indicators -->
                                            
                                            <!-- Wrapper for slides -->
                                             <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{data.work4}}" alt="work4" style="">
                                            </div>
                                            {% if data.work5 %}
                                            <div class="item">
                                               <img class="" src="{{data.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work6 %}
                                            <div class="item">
                                               <img class="" src="{{data.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work1 %}
                                            <div class="item">
                                               <img class="" src="{{data.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work2 %}
                                            <div class="item">
                                               <img class="" src="{{data.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work3 %}
                                            <div class="item">
                                               <img class="" src="{{data.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>
                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>                    
                                    </div>


                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement5">
                                        
                                      <div id="carousel-example-generic" class="carousel slide">
                                          <!-- Indicators -->
                                          
                                          <!-- Wrapper for slides -->
                                         <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{data.work5}}" alt="work5" style="">
                                            </div>
                                            {% if data.work6 %}
                                            <div class="item">
                                               <img class="" src="{{data.work6}}" alt="work6" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work1 %}
                                            <div class="item">
                                               <img class="" src="{{data.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work2 %}
                                            <div class="item">
                                               <img class="" src="{{data.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work3 %}
                                            <div class="item">
                                               <img class="" src="{{data.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work4 %}
                                            <div class="item">
                                               <img class="" src="{{data.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>
                                          <!-- Controls -->
                                          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left"></span>
                                          </a>
                                          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right"></span>
                                          </a>
                                      </div>
                                                                      
                                    </div>

                                    <div class="content" style="display: none;height: 550px;" id="iamReplacement6">
                                        <div id="carousel-example-generic" class="carousel slide">
                                            <!-- Indicators -->
                                            
                                            <!-- Wrapper for slides -->
                                          <div class="carousel-inner">
                                            <div class="item active">
                                               <img class="" src="{{data.work6}}" alt="work6" style="">
                                            </div>
                                            {% if data.work1 %}
                                            <div class="item">
                                               <img class="" src="{{data.work1}}" alt="work1" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work2 %}
                                            <div class="item">
                                               <img class="" src="{{data.work2}}" alt="work2" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work3 %}
                                            <div class="item">
                                               <img class="" src="{{data.work3}}" alt="work3" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work4 %}
                                            <div class="item">
                                               <img class="" src="{{data.work4}}" alt="work4" style="">
                                            </div>
                                            {% endif %}
                                            {% if data.work5 %}
                                            <div class="item">
                                               <img class="" src="{{data.work5}}" alt="work5" style="">
                                            </div>
                                            {% endif %}
                                          
                                           
                                          </div>
                                            <!-- Controls -->
                                            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>             
                                    </div>




                                </div></div>
                            </div>
                           

                        </div>
                    </div>
             
          </div>

          


          
      </div></div>

      <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" id="username" data-userid="{{ data.username }}" style="">{{ data.username }}</h4>
                     </div>
                      
                                    
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="row">
                                            <div class="column1">
                                              {% if data.profile %}
                                               <image id="profileImage" src=" {{ data.profile }}" style="width: 100%;height: auto;max-height: 13vw;object-fit: contain;"/>
                                               {% else %}                                               
                                               <image id="profileImage" src="{% static "images/profileimage.jpg" %}" style="width: 100%;height: auto;max-height: 15vw;object-fit: contain;"/>
                                               {% endif %}
                                              <!--  <div class="edit"><a onclick="demoshow();"><img src="{% static "images/edit.jpg" %}" style="width: 30px;height: 35px;"/></i></a></div> -->
                                            </div>
                                          </div>
                                            <center><input type="file" id="choose" name="document" style="display:none;" onchange="upload_img(this);"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                       <div style="padding-left: 15px;padding-right: 15px;">  
                                         {% if post_selected != "" %}
                                           <div class="row">
                                            <!-- <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Waiting for confirmation" style="opacity: 0.5" id="selectcan" disabled/> -->
                                           </div>

                                         {% else %}
                                           <div class="row">
                                            <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Select this Candidate" id="selectcan"/>
                                           </div>
                                         {% endif %}
                                         <br>

                                          <!-- <div class="row">
                                            <center>
                                              <a href="{{data.resume}}"  target="_blank" style="text-decoration: none; color: white;padding: 10px">Click to see Resume</a>
                                            </center>
                                          </div>
                                          <br> -->
                                          {% if data.resume != 'not uploaded' %}
                                          <div class="row">
                                            <center>
                                              
                                                <a href="{{data.resume}}"  target="_blank" style="text-decoration: none; color: white;padding: 10px">Click to see Resume</a>
                                            </center>
                                          </div>
                                          <br>
                                          {% else %}
                                           <div class="row">
                                             <center>
                                               
                                                 <a style="text-decoration: none; color: white;padding: 10px">No Resume Available</a>
                                             </center>
                                           </div>
                                           <br> 
                                          {% endif %}

                                         <div class="row">
                                          <p class="userinfo-title">AREA OF EXPERTISE</p>
                                         </div>
                                         
                                         <div class="row" style="margin-bottom: 10px;"> 
                                          {% if expertise_list %}    
                                              {% for expertise in expertise_list %}                                        
                                             
                                                <span class="square"></span><a class="userinfo" style="">{{expertise}}</a><br>
                                             
                                              {% endfor %}
                                          {% else %}
                                                <span class="square"></span><a class="userinfo" style="">No Expertise Selected</a><br>
                                          {% endif %}
                                          </div>

                                          <div class="row">
                                            <p class="userinfo-title">EXPERIENCE</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <span class="square"></span><a class="userinfo" style="">{{data.years}} Years {{data.months}} Months </a><br>

                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{data.freelancertype}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">LAST DESIGNATION</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{data.designation}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">LAST COMPANY</p> 
                                        </div>

                                       <div class="row" style="padding-bottom: 10px;">                                                                             
                                          
                                             <span class="square"></span><a class="userinfo" style="">{{data.company}}</a><br>
                                                                                   
                                       </div>
                                       </div>
                                
                      <div class="row">
                       </div>
                      
                    </div>
                    
      </div>
  


   
   
    
    
  </div></div>
  
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>

<script>
    $("#selectcan").click(function (e) {
       e.preventDefault();
       
      var userid;
      postid = {{ postid }}
      userid = $("#username").attr("data-userid");
      console.log(userid,postid);
      $.ajax({
                      
                      url: '{% url "select_candidate" %}',
                      data:{
                               post_id: postid,
                               user_id: userid
                      },
                      dataType: 'json',

                    success: function (data) {                    
                    alert(data.success);
                }
              
            });
      $("#selectcan").attr("disabled", true);
      $('#selectcan').prop('disabled',true).css('opacity',0.5);
      $("#selectcan").attr('value', 'Waiting for confirmation');
    });
  </script>
  <script>
  $('#image1').click(function (e) {
  {% if data.work1 %}
    jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement'));
    $("#iamReplacement").css("display", 'block');
    $("#toplabel").text('{{ data.username }} - Selected Work');
  {% endif %}
    // $("#left").css("display", 'none');
  
  // $("sidebar-wrapper").css("display", 'block');
  // $("#iamReplacement").show();
  // $('div[id^="classreplace"]').removeClass('col-md-8').addClass('col-md-10-small');  
});
  $('#image2').click(function (e) {
 {% if data.work2 %}
 console.log("in two")   
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement2'));
  $("#iamReplacement2").css("display", 'block');
  $("#toplabel").text('{{ data.username }} - Selected Work');
 {% endif %}  
});
  $('#image3').click(function (e) {
  {% if data.work3 %}
  console.log("in three")  
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement3'));
  $("#iamReplacement3").css("display", 'block');
  $("#toplabel").text('{{ data.username }} - Selected Work');
  {% endif %}   
});
  $('#image4').click(function (e) {
  {% if data.work4 %}  
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement4'));
  $("#iamReplacement4").css("display", 'block');
  $("#toplabel").text('{{ data.username }} - Selected Work');
  {% endif %}    
}); 
  $('#image5').click(function (e) {
  {% if data.work5 %}
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement5'));
  $("#iamReplacement5").css("display", 'block');
  $("#toplabel").text('{{ data.username }} - Selected Work');
  {% endif %}  
}); $('#image6').click(function (e) {
  {% if data.work6 %}
  jQuery("#replaceMe").replaceWith(jQuery('#iamReplacement6'));
  $("#iamReplacement6").css("display", 'block');
  $("#toplabel").text('{{ data.username }} - Selected Work');
  {% endif %}  
});
</script>
</body>
</html>