{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->

<title>Publik - SiteMap</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

 <style>
   .searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.searchbar::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.float-right{
  float: right;
}
.card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: right;
  }
  .display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    

    /* Fake image */
  

    /* Add a card effect for articles */
   .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}

      @media screen and (max-width: 600px) {
      input.form-control1 {
    width:100%;
    }
    .headerline {
      padding-left: 15px;
    }
    .social-icons {
      text-align: center;
    }
    .head2 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    }
    .approvalbutton {
      padding-right: 0px;
      padding-left: 0px;
    }
    .userimage {
      width:60vw; 
    }
    .userinfo {
      font-size: 3.8vw;
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    .sidebar {
      width: 45%;
    }
    .postcontainer {
      padding: 0px;
    }
    .dropdown-menu {
        left: 30%;
        right: 30%;
      }
    .firstfootmenu {
         width: 27.333333%;

}
 .navmenu-firstmenu {
    width: 100.666667%;
}
  /*.navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }*/
      .headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
.footermenu1 {
    
    width: 100%;}
    .dashboardsocial-icons {
      text-align: center;
    }
  }
   @media screen and (max-width: 992px){
     .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }

    .float-right{
      float: none;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    width: 100%;
    }
    .card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: none;
    }
    .head2 {
  padding-left: 0px;
}
.headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
  .dashboardsocial-icons {
        text-align: center;
    }
     .navmenu-firstmenu {
    width: 100.666667%;
}
  .freelancer_details_header1 {
    width: 100%;
  }
  .freelancer_details_header2 {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
.freelancer_details_header2_text {
  text-align: right;
}
.freelancer_details_content2 {
  width: 100%;
}

}
@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
      .grid-container {
        height: 1000px;
      }
}

  
  @media (min-width: 1800px) and (max-width: 2000px){
  
  .display-pic {
    border-radius: 0%;
    width: 100%;
    height: 165px;
  }
}
@media (min-width: 2000px){
 
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}

.grid-container {
  font-family: Calibri-Regular;
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;

}
.grid-item {
  background-color: black;
  border: 1px solid:; white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
a :hover {
color: red;
/*font-weight: 800;*/
text-decoration: none;
}

.social-icons img:hover {
   -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2); 
}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <div class="container-fluid">
    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
     <!--  <form method="post" action="/search/"> 
      {% csrf_token %}
      <div class = "form-group">
        <div class="form-group">
          <div class="col-lg-5">
            <input type="text" name="srh" class="form-control" placeholder="FIND">
          </div>
          <label class="col-lg-2">
            <button type="submit" style="width: 60px; color: white;" class="btn btn-danger">Search</button>

          </label>
        </div>
      </div>

      </form><br><br> -->
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

     <div class="col-md-3 social-icons">
      <div class="col-md-12 social-icons-innerdiv" style="">
     <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
      </div>
      <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
        <!-- <div class="total_count_main_div" style="">
        <p class="total_count_title" style="">FREEPUBLIKANS</p>
        {% if total_count %}
        <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
        {% else %}
        <p class="total_count_value" id="total_count" style=""> 00000 </p>
        {% endif %}
      </div> -->
      <!-- </div> -->
    </div>
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
                {% if fname %}
                <b><a class="navmenu" href="{% url 'fdashboard' %}">DASHBOARD</b></a>
                {% elif uname %}
                <b><a class="navmenu" href="{% url 'udashboard' %}">DASHBOARD</b></a>         
                {% else %}
                <b><a class="navmenu dropdown-toggle" data-toggle="dropdown" href="#">LOG IN<span class=""></span>
                </a>
                <ul class="dropdown-menu" style="">
                  <li><a tabindex="-1" href="{% url 'login' %}" style="font-weight: unset;font-size: 12px;padding: 3px 6px 3px;font-weight: 400;">AS A <span style="color: red">CLIENT</span></a></li>
                  <li class='divider' style="height: 2px;margin: 0px 0;"></li>
                  <li><a tabindex="-1" href="{% url 'flogin' %}" style="font-weight: unset;font-size: 12px;padding: 6px 6px 0px;font-weight: 400;">AS A <span style="color: red">FREELANCER</span></a></li>
                </ul></b>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="col-md-3 head2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  

  
  
  <div class="dashboard-container fullcontainer" style="">
    <div class="w3-panel w3-red" style="background-size: cover;;padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 35px;
    padding-left: 35px; "> 
      <div class="grid-container">
  <div class="grid-item"> <label style="margin-bottom: 55px;">COMPANY</label><a href="{% url 'index' %}"><p>Home</p></a></div>
  <div class="grid-item"><label style="margin-bottom: 55px;">QUICK LINKS</label><a href="{% url 'login' %}"><p>Client Registration</p></a></div>
  <div class="grid-item"><label style="margin-bottom: 55px;">BROWSE</label><a href="{% url 'category' %}"><p>Freelancer by Skills</p></a></div>  
  <div class="grid-item"><a href="{% url 'aboutus' %}"><p>About Us</p></a></div>
  <div class="grid-item"><a href="{% url 'flogin' %}"><p>Freelancer Registration</p></a></div>
  <div class="grid-item"><a href="{% url 'index' %}"><p>Contest</p></a></div>  
  <div class="grid-item"><a href="{% url 'contactus' %}"><p>Contact Us</p></a></div>
  <div class="grid-item"><a href="{% url 'cforgotpassword' %}"><p>Client Forgot Password</p></a></div>
  <div class="grid-item"><a href="{% url 'howitworks' %}"><p>How it Works</p></a></div>  
  <div class="grid-item"><a href="{% url 'privacy' %}"><p>Privacy</p></a></div>
  <div class="grid-item"><a href="{% url 'fforgotpassword' %}"><p>Freelancer Forgot Password</p></a></div>
  <div class="grid-item"></div> 

</div>
    
    
  </div></div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>




</body>
</html>