{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
<title>Publik - Active Projects</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

 <style>
   .searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.searchbar::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.float-right{
  float: right;
}
.card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: right;
  }
  .display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    

    /* Fake image */
  

    /* Add a card effect for articles */
   .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}

      @media screen and (max-width: 600px) {
      input.form-control1 {
    width:100%;
    }
    .headerline {
      padding-left: 15px;
    }
    .social-icons {
      text-align: center;
    }
    .head2 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    }
    .approvalbutton {
      padding-right: 0px;
      padding-left: 0px;
    }
    .userimage {
      width:60vw; 
    }
    .userinfo {
      font-size: 3.8vw;
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    .sidebar {
      width: 45%;
    }
    .postcontainer {
      padding: 0px;
    }
    .dropdown-menu {
        left: 30%;
        right: 30%;
      }
    .firstfootmenu {
         width: 27.333333%;

}
 .navmenu-firstmenu {
    width: 100.666667%;
}
  /*.navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }*/
      .headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
.footermenu1 {
    
    width: 100%;}
    .dashboardsocial-icons {
      text-align: center;
    }
  }
   @media screen and (max-width: 992px){
     .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }

    .float-right{
      float: none;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    width: 100%;
    }
    .card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: none;
    }
    .dashboardhead2 {
  padding-left: 0px;
}
.headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
  .dashboardsocial-icons {
        text-align: center;
    }
     .navmenu-firstmenu {
    width: 100.666667%;
}
  .freelancer_details_header1 {
    width: 100%;
  }
  .freelancer_details_header2 {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
.freelancer_details_header2_text {
  text-align: right;
}
.freelancer_details_content2 {
  width: 100%;
}

  .social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }

}
@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}

  
  @media (min-width: 1800px) and (max-width: 2000px){
  
  .display-pic {
    border-radius: 0%;
    width: 100%;
    height: 165px;
  }
}
@media (min-width: 2000px){
 
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}
.profile-pic {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}
.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}
.editbutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    margin-top: 5px;
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;

}

.sidebar .sidebar-wrapper {
    position: absolute;
    z-index: 1
  }
  @media (min-width: 992px)
{.modal-lg {
    width: 789px;
}}
.modal-header {
    border-bottom: 0 none;

   
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 6px;
}
}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid">
    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

    <div class="col-md-3 social-icons">
          <div class="col-md-12 social-icons-innerdiv" style="">
          <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
      <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
          </div>
          <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
            <!-- <div class="total_count_main_div" style="">
            <p class="total_count_title" style="">FREEPUBLIKANS</p>
            {% if total_count %}
            <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
            {% else %}
            <p class="total_count_value" id="total_count" style=""> 0 </p>
            {% endif %}
          </div> -->
          <!-- </div> -->
        </div>   
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
               <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
              </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  

  
  
  <div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
      <div class="sidebar" id="left" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav" style="padding-bottom: 18vw;">
                  <li>
                      <a href="{% url 'udashboard' %}">
                          
                          <p>Company Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'uprofile' %}">
                         
                          <p>Company Profile</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p>Start New Project</p>
                      </a>
                  </li>
                   <li>
                      <a href="{% url 'uactiveprojects' %}">
                         
                          <p>Active Projects</p>
                      </a>
                  </li>
                   <li>
                      <a href="{% url 'ucloseprojects' %}">
                         
                          <p style="color: red;">Completed Projects</p>
                      </a>
                  </li>
                  
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8 postcontainer" id="center">
      <div class="main-panel" >
          <nav class="navbar navbar-default navbar-fixed" style="background-color: transparent;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>


          <div class="content">
             <p style="color: white;font-size: 15px;font-family: Calibri-Bold;margin: 25px 30px 15px;letter-spacing: 1px;">WELCOME, {{ users.company }}</p>
              <div class="container-fluid">
                

                  <div class="row large-2" style="height: 515px;">
                     <div class="col-md-12">
                       <div class="col-md-12">
                    {% if error %} {{ error }} {% endif %}
                    <div class="force-overflow">
                    {% for post in posts %}
                                <div class="col-md-12 responses" style="padding-left: 0px;padding-bottom: 20px;">
                                  <div class="card" style="padding-left: 3px;padding-right: 3px;padding-top: 3px;margin-bottom: auto;">

                                    
                                    <div class="content">
                                        
                                         <div class="col-md-6">
                                         <p style="margin-top: 0px;margin-bottom:0px;font-weight: 400; text-transform: uppercase;font-family: Calibri-Bold;font-size: 16px;color: black;">{{ post.job_type }}</p></div>
                                          <div class="col-md-6">
                                          <p class="card-post-title" style=""><span style="font-family: Calibri-Bold-Italic;color:red;">Posted by:</span> {{ users.company }} , {{ post.date }}</p></div>
                                        
                                         
                                        <!--  <form name="edit-form" method="POST" action="{% url 'post_new' %}">{% csrf_token %} -->
                                            <div class="row" style="margin-left: 0px;margin-right: 0px;">
                                              <div class="col-md-8">
                                                <div class="form-group">
                                                 <p style="font-family: Calibri-Bold;margin-bottom: 0px;font-size: 13px;">Project Details:</p>
                                                 <ul style="padding-left: 15px;">
                                                 <li><h6 style="text-transform: capitalize;font-weight: 100;font-family: Calibri-Regular;font-size: 11px;"><span style="color:red;">Category:</span> {{ post.job_type }}</h6></li>
                                                 <li><h6 style="text-transform: capitalize;font-weight: 100;font-family: Calibri-Regular;font-size: 11px;"><span style="color:red;">Project Budget:</span> {{ post.budget }} Rs</h6></li>
                                                 <li><h6 style="text-transform: capitalize;font-weight: 100;font-family: Calibri-Regular;font-size: 11px;"><span style="color:red;">Project Time:</span> {{ post.years }} years {{ post.days }} days</h6></li>
                                                  </ul>
                                                 
                                                 <p style="font-family: Calibri-Bold;margin-bottom: 2px;font-size: 13px;">Deliverables:</p>
                                                 
                                                 <p style="text-transform: capitalize;font-family:Calibri-Regular;font-size: 11px;">{{ post.deliverables }}</p>
                                                
                                                  
                                                  
                                                </div>
                                              </div>

                                              
                                              <div class="col-md-4 float-right">
                                                <div class="form-group">
                                                  
                                                {% if post.selected == "" %}
                                                  
                                                  {% if post.freelancer_appointed == "" %}

                                                    {% for each in row %}
                                                    {% if post.id == each.post_id %}
                                                      <a class="btn pull-right respbutton" style="">Responses: <span style="color: white;">{{ each.total }}</span>
                                                    {% endif %}
                                                    {% endfor %}
                                                  
                                                    {% if post.id not in postlist %}
                                                    <a class="btn pull-right respbutton" style="">Responses: <span style="color: white;">0</span>
                                                    {% endif %}
                                                  {% else %}
                                                    
                                                    {% if post.status == "open" %}
                                                    <a class="btn pull-right respbutton" style="">Project Started
                                                    {% else %}
                                                    <a class="btn pull-right respbutton" style="">Project Closed
                                                    {% endif %}  

                                                      {% if post.status == "open" %}
                                                      <a class="btn1 btn-info btn-fill pull-right respbutton" data-toggle="modal" data-target="#modalPoll-5" style="">Close Project</a>
                                                      {% endif %}
                                                      <a class="btn1 btn-info btn-fill pull-right respbutton" style="" href="{% url 'post_delete'  id=post.id  %}" >Delete Project</a>
                                                      <div class="modal" id="modalPoll-5" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                                                      aria-hidden="true" data-backdrop="false">
                                              <div class="modal-dialog modal-full-height modal-right modal-notify modal-info modal-lg" role="document">
                                                <div class="modal-content" style="border-radius: 0px;">
                                                  <!--Header-->
                                                 <div class="modal-header">
                                     

                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true" class="white-text" style="font-size: 30px;">×</span>
                                                  </button>
                                                </div>
                                                  <!--Body-->
                                                  <div class="modal-body">

                                                      <!-- <i class="far fa-file-alt fa-4x mb-3 animated rotateIn"></i> -->
                                                    <!--  <div class="row" style="margin-top: 14px;margin-bottom: 25px;">
                                                     <div class="col-md-4" style="padding-left: 0px;padding-right: 0px;">
                                                       <p style="padding: 8px;margin-bottom: 20px;text-align: center;width: auto;padding-left: 8px;padding-right: 8px;letter-spacing: 2px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;">Review Project</p>
                                                     </div>

                                                      <div class="col-md-4">
                                                     
                                                     </div>
                                                     <div class="col-md-4" style="padding-right: 0px;padding-left: 0px;">
                                                      
                                                     </div>
                                                     </div> -->
                                                    <div class="row" style="margin: 4%;margin-left:15px;margin-right: 15px;font-weight:400;font-family: Calibri-Regular;font-weight: 400; letter-spacing: 1px;font-family: Calibri-Regular;margin-top: 0px;margin-bottom: 0px;">
                                                      <p style="letter-spacing: 1px;font-weight: bold;font-size: 20px;font-family: Calibri-Bold;margin-bottom: 0px;">Review Project</p>

                                                      <p>{{ post.title }}</p>
                                                      <table class="table table-header-rotated">
                                                      <thead>

                                                      <tr>
                                                      <th></th>
                                                      <th class="rotate" style="text-align: center;width: 100px;text-transform: capitalize;"><div><span>Very Poor</span></div></th>
                                                      <th class="rotate" style="text-align: center;width: 100px;text-transform: capitalize;"><div><span>Poor</span></div></th>
                                                      <th class="rotate" style="text-align: center;width: 100px;text-transform: capitalize;"><div><span>Fair</span></div></th>
                                                      <th class="rotate" style="text-align: center;width: 100px;text-transform: capitalize;"><div><span>Good</span></div></th>
                                                      <th class="rotate" style="text-align: center;width: 100px;text-transform: capitalize;"><div><span>Excellent</span></div></th>
                                                      </tr>
                                                      </thead>
                                                      <form>
                                                      <tr>

                                                          <div id="group1">
                                                      <th class="row-header">Understanding of the brief:</th>
                                                      <td style="text-align: center;"><input name="group1" type="radio" value="1"></td>
                                                      <td style="text-align: center;"><input name="group1" type="radio" value="2"></td>
                                                      <td style="text-align: center;"><input name="group1" type="radio" value="3"></td>
                                                      <td style="text-align: center;"><input name="group1" type="radio" value="4"></td>
                                                      <td style="text-align: center;"><input name="group1" type="radio" value="5"></td>
                                                          </div>
                                                      </tr>

                                                      <tr>
                                                          <div id="group2">
                                                      <th class="row-header">Domain Knowledge:</th>
                                                      <td style="text-align: center;"><input name="group2" type="radio" value="1"></td>
                                                      <td style="text-align: center;"><input name="group2" type="radio" value="2"></td>
                                                      <td style="text-align: center;"><input name="group2" type="radio" value="3"></td>
                                                      <td style="text-align: center;"><input name="group2" type="radio" value="4"></td>
                                                      <td style="text-align: center;"><input name="group2" type="radio" value="5"></td>
                                                          </div>
                                                      </tr>

                                                      <tr>
                                                          <div id="group3">
                                                      <th class="row-header">Cost:</th>
                                                      <td style="text-align: center;"><input name="group3" type="radio" value="1"></td>
                                                      <td style="text-align: center;"><input name="group3" type="radio" value="2"></td>
                                                      <td style="text-align: center;"><input name="group3" type="radio" value="3"></td>
                                                      <td style="text-align: center;"><input name="group3" type="radio" value="4"></td>
                                                      <td style="text-align: center;"><input name="group3" type="radio" value="5"></td>
                                                          </div>
                                                      </tr>

                                                      <tr>
                                                           <div id="group4">
                                                      <th class="row-header">Quality:</th>
                                                      <td style="text-align: center;"><input name="group4" type="radio" value="1"></td>
                                                      <td style="text-align: center;"><input name="group4" type="radio" value="2"></td>
                                                      <td style="text-align: center;"><input name="group4" type="radio" value="3"></td>
                                                      <td style="text-align: center;"><input name="group4" type="radio" value="4"></td>
                                                      <td style="text-align: center;"><input name="group4" type="radio" value="5"></td>
                                                           </div>
                                                      </tr>
                                                      <tr>
                                                          <div id="group5">
                                                      <th class="row-header">Schedule:</th>
                                                      <td style="text-align: center;"><input name="group5" type="radio" value="1"></td>
                                                      <td style="text-align: center;"><input name="group5" type="radio" value="2"></td>
                                                      <td style="text-align: center;"><input name="group5" type="radio" value="3"></td>
                                                      <td style="text-align: center;"><input name="group5" type="radio" value="4"></td>
                                                      <td style="text-align: center;"><input name="group5" type="radio" value="5"></td>
                                                          </div>
                                                      </tr>
                                                      <tr>
                                                      <th class="row-header">Willing to refer:</th>
                                                      <td style="text-align: center;"><input name="col1" type="radio" value="1"></td>
                                                      <td style="text-align: center;"><input name="col2" type="radio" value="2"></td>
                                                      <td style="text-align: center;"><input name="col3" type="radio" value="3"></td>
                                                      <td style="text-align: center;"><input name="col4" type="radio" value="4"></td>
                                                      <td style="text-align: center;"><input name="col5" type="radio" value="5"></td>
                                                      </tr>
                                                      </table>
                                                                                               
                                                     <div style="`text-align: left;width: 130px;margin-left: -10px;">
                                                          <a class="btn pull-right respbutton" style="font-size: 12px;color: white;font-family: Calibri-Bold" href="{% url 'post_close'  id=post.id  %}">Publish Review</a>
                                                         </div>                                
                                                     

                                                       </form>
                                                      


                                                                                              
                                                                                              </div>




                                                                                            <!-- Radio -->
                                                                                           
                                                                                        </div>
                                                                                        </div>
                                                                                      </div>
                                                                                    </div>
                                                  {% endif %}


                                                </a>
                                                {% else %}
                                                    <a class="btn pull-right respbutton" style="">Selected <span style="color: white;"></span>

                                                {% endif %}
                                                
                                               <!--  <a class="btn1 btn-info btn-fill pull-right respbutton" style="" href="{% url 'post_delete'  id=post.id  %}">Delete Project</a> -->

                                                </div>
                                              </div>                        
                                            </div>                  
                                          <!-- </form> -->
                                    </div>



                                  </div>
                                  <div class="card1" style="background-color: transparent;margin-bottom: auto;padding-left: 0px;padding-right: 0px;">

                                    
                                    <div class="content">
                                          {% if post.selected == "" %}
                                              {% if post.freelancer_appointed == "" %}

                                                    <div class="row">
                                                      <div class="col-md-12">
                                                    <div class="col-md-9 freelancer_details_header1" style="">
                                                    <p style="font-weight: 400; text-transform: capitalize;color:white;margin-bottom: 0px;padding-top: 1px;padding-bottom: 1px;font-family: Calibri-Bold;font-size: 20px;">Responses:<span class="responsesort"> Sort by <span style="transform: rotate(90deg);">&#128314;</span></span></p>
                                                    </div>
                                                    <div class="col-md-3 freelancer_details_header2" style="">
                                                    <div style="background: black;">
                                                    <p class="freelancer_details_header2_text" style="">FreePublik <span style="color: red;">Rating</span></p>
                                                    </div>
                                                    </div> </div>
                                                  </div>
                                          
                                          
                                         
                                         
                                            
                                                  {% for each1 in row1 %}
                                                  {% if post.id == each1.post_id %}
                                                  <div class="row">
                                                      <div class="col-md-12" style="">
                                                        <div class="form-group" > 
                                                          <div class="col-md-12" style="padding-left: 0px;margin-top: 0px;background: white;">
                                                          <div class="col-md-2">
                                                            <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;padding-bottom:5px;font-family: Calibri-Bold;font-size: 16px;color: red;">{{ each1.reg_freelancer_id }}
                                                            </p>
                                                          </div>
                                                           <div class="col-md-4 freelancer_details_content2" style="">   
                                                              <p style="padding-top: 7px;margin-bottom: 0px;font-family: Calibri-Regular;font-size: 13px;">{% for each in freelancer_details %}
                                                                {% if each.username == each1.reg_freelancer_id %}
                                                                  {% if each.years %}
                                                                    &#9679;&nbsp;Work Experience: {{ each.years }} Years
                                                                  {% else %}
                                                                    &#9679;&nbsp;Work Experience: 0 Years
                                                                  {% endif %}                                                      
                                                                {% endif %}
                                                              {% endfor %}</p>
                                                            </div>
                                                            <div class="col-md-3" style="padding-left: 0px;"> 
                                                               <a class="btn btn-info btn-fill pull-right" target="_blank" href="{% url 'profile_view' postid=post.id id=each1.reg_freelancer_id %}" style="background-color: #e02129;border-color: #e02129; margin-bottom: 0px;width: auto;font-family: Calibri-Bold;font-size: 14px;">Check Profile & Work</a>
                                                            </div>
                                                            <div class="col-md-2">
                                                              
                                                              <div class="col-md-3"></div>
                                                              <div class="col-md-9">
                                                              <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;text-transform: capitalize;"><span class="stars" style="margin-top: 4px;margin-right: 0px;">3.5</span>
                                                              </p>
                                                            </div>
                                                            

                                                            </div>
                                                          </div>

                                                         <!-- <div class="col-md-4" style="padding-right: 0px;">
                                                          <a class="btn btn-info btn-fill pull-right" target="_blank" href="{% url 'profile_view' postid=post.id id=each1.reg_freelancer_id %}" style="background-color: #e02129;border-color: #e02129;">Check Profile & Work</a>
                                                            <span class="stars" style="margin-top: 7px;margin-right: 7px;">3.5</span>
                                                        </div> -->
                                                        
                                                   </div>
                                                                            
                                                    </div>     
                                                   </div>  
                                                   {% endif %}
                                                 {% endfor %}
                                              {% else %}
                                                  {% if post.status == 'open' %}

                                                         <div class="row">
                                                           <div class="col-md-12">
                                                         <div class="col-md-12 selected_freelancer_details_header1" style="">
                                                         <p style="font-weight: 400; text-transform: capitalize;color:white;margin-bottom: 0px;padding-top: 1px;padding-bottom: 1px;font-family: Calibri-Bold;font-size: 20px;">Freelancer Working:</p>
                                                         </div>
                                                          </div>
                                                         </div> 

                                                          <div class="row">
                                                             <div class="col-md-12" style="">
                                                               <div class="form-group" > 
                                                                 <div class="col-md-12" style="padding-left: 0px;margin-top: 0px;background: white;">
                                                                 <div class="col-md-2">
                                                                   <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;padding-bottom:5px;font-family: Calibri-Bold;font-size: 16px;color: red;">{{ post.freelancer_appointed }}
                                                                   </p>
                                                                 </div>
                                                                  <div class="col-md-4 freelancer_details_content2" style="">   
                                                                     <p style="padding-top: 7px;margin-bottom: 0px;font-family: Calibri-Regular;font-size: 13px;">
                                                                 {% for each in freelancer_details %}
                                                                   {% if each.username == post.freelancer_appointed %}
                                                                     {% if each.years %}
                                                                           &#9679;&nbsp;Work Experience: {{ each.years }} Years
                                                                     {% else %}
                                                                           &#9679;&nbsp;Work Experience: 0 Years
                                                                     {% endif %}                              
                                                                   {% endif %}
                                                                 {% endfor %}</p>
                                                                   </div>
                                                                   <div class="col-md-3" style="padding-left: 0px;"> 
                                                                      <a class="btn btn-info btn-fill pull-right" href="" style="background-color: #e02129;border-color: #e02129; margin-bottom: 0px;width: auto;font-family: Calibri-Bold;font-size: 14px">Finish Project</a>
                                                                   </div>
                                                                   <div class="col-md-2">
                                                                     
                                                                     <div class="col-md-3"></div>
                                                                     <div class="col-md-9">
                                                                     <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;text-transform: capitalize;"><span class="stars" style="margin-top: 4px;margin-right: 0px;">4</span>
                                                                     </p>
                                                                   </div>
                                                                   

                                                                   </div>
                                                                 </div>

                                                               
                                                               
                                                          </div>
                                                                                   
                                                           </div>     
                                                         </div>
                                                  {% else %}

                                                        <div class="row">
                                                          <div class="col-md-12">
                                                        <div class="col-md-12 selected_freelancer_details_header1" style="">
                                                        <p style="font-weight: 400; text-transform: capitalize;color:white;margin-bottom: 0px;padding-top: 1px;padding-bottom: 1px;font-family: Calibri-Bold;font-size: 20px;">Freelancer Worked:</p>
                                                        </div>
                                                         </div>
                                                        </div> 

                                                         <div class="row">
                                                            <div class="col-md-12" style="">
                                                              <div class="form-group" > 
                                                                <div class="col-md-12" style="padding-left: 0px;margin-top: 0px;background: white;">
                                                                <div class="col-md-2">
                                                                  <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;padding-bottom:5px;font-family: Calibri-Bold;font-size: 16px;color: red;">{{ post.freelancer_appointed }}
                                                                  </p>
                                                                </div>
                                                                 <div class="col-md-4 freelancer_details_content2" style="">   
                                                                    <p style="padding-top: 7px;margin-bottom: 0px;font-family: Calibri-Regular;font-size: 13px;">
                                                                {% for each in freelancer_details %}
                                                                  {% if each.username == post.freelancer_appointed %}
                                                                    {% if each.years %}
                                                                          &#9679;&nbsp;Work Experience: {{ each.years }} Years
                                                                    {% else %}
                                                                          &#9679;&nbsp;Work Experience: 0 Years
                                                                    {% endif %}                              
                                                                  {% endif %}
                                                                {% endfor %}</p>
                                                                  </div>
                                                                  <div class="col-md-3" style="padding-left: 0px;"> 
                                                                    {% for each in freelancer_details %}
                                                         {% if each.username == post.freelancer_appointed %}
                                                      
                                                           <a class="btn btn-info btn-fill pull-right" target="_blank" href="{% url 'profile_view' postid=post.id id=each.username %}" style="background-color: #e02129;border-color: #e02129; margin-bottom: 0px;width: auto;font-family: Calibri-Bold;font-size: 14px;">Check Profile & Work</a>
                                                            {% endif %}
                                                       {% endfor %}
                                                                  </div>
                                                                  <div class="col-md-2">
                                                                    
                                                                    <div class="col-md-3"></div>
                                                                    <div class="col-md-9">
                                                                      {% for each in freelancer_details %}
                                                                  {% if each.username == post.freelancer_appointed %}
                                                                    <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;text-transform: capitalize;"><span class="stars" style="margin-top: 4px;margin-right: 0px;">{{ each.rating }}</span>
                                                                      {% endif %}
                                                                {% endfor %}
                                                                    </p>
                                                                  </div>
                                                                  

                                                                  </div>
                                                                </div>

                                                              
                                                              
                                                         </div>
                                                                                  
                                                          </div>     
                                                        </div>


                                                  {% endif %}



                                              {% endif %}           
                                          
                                          {% else %}
                                            
                                                <div class="row">
                                                  <div class="col-md-12">
                                                <div class="col-md-12 selected_freelancer_details_header1" style="">
                                                <p style="font-weight: 400; text-transform: capitalize;color:white;margin-bottom: 0px;padding-top: 1px;padding-bottom: 1px;font-family: Calibri-Bold;font-size: 20px;">Selected Candidate:</p>
                                                </div>
                                                 </div>
                                                </div> 

                                                  <div class="row">
                                              <div class="col-md-12" style="">
                                                <div class="form-group" > 
                                                  <div class="col-md-12" style="padding-left: 0px;margin-top: 0px;background: white;">
                                                  <div class="col-md-2">
                                                    <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;padding-bottom:5px;font-family: Calibri-Bold;font-size: 16px;color: red;">{{ post.selected }}
                                                    </p>
                                                  </div>
                                                   <div class="col-md-4 freelancer_details_content2" style="">   
                                                      <p style="padding-top: 7px;margin-bottom: 0px;font-family: Calibri-Regular;font-size: 13px;">
                                                  {% for each in freelancer_details %}
                                                    {% if each.username == post.selected %}
                                                      {% if each.years %}
                                                            &#9679;&nbsp;Work Experience: {{ each.years }} Years
                                                      {% else %}
                                                            &#9679;&nbsp;Work Experience: 0 Years
                                                      {% endif %}                              
                                                    {% endif %}
                                                  {% endfor %}</p>
                                                    </div>
                                                    <div class="col-md-3" style="padding-left: 0px;"> 
                                                       <a class="btn btn-info btn-fill pull-right" style="background-color: #e02129;border-color: #e02129; margin-bottom: 0px;width: auto;font-family: Calibri-Bold;font-size: 14px;pointer-events: none;">Waiting for Approval</a>
                                                    </div>
                                                    <div class="col-md-2">
                                                      
                                                      <div class="col-md-3"></div>
                                                      <div class="col-md-9">
                                                      <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;text-transform: capitalize;"><span class="stars" style="margin-top: 4px;margin-right: 0px;">4</span>
                                                      </p>
                                                    </div>
                                                    

                                                    </div>
                                                  </div>

                                                
                                                
                                           </div>
                                                                    
                                            </div>     </div>                                         
                                            

                                                  <!-- <div class="row">
                                              <div class="col-md-12" style="margin-bottom: -20px;">
                                                <div class="form-group"> 
                                                  <div class="col-md-8" style="display: flex;padding-left: 0px;margin-top: 0px;">
                                                <div class="row">
                                                  <div class="col-md-3">
                                                    <span class="stars" style="margin-top: 7px;margin-right: 7px;">3.5</span>
                                                  </div>
                                                <div class="col-md-9">
                                                 <p style="font-weight: 600;margin-bottom: 0px;padding-top:5px;text-transform: capitalize;">{{ post.selected }} : 
                                                 {% for each in freelancer_details %}
                                                    {% if each.username == post.selected %}
                                                      {{ each.expertise }}
                                                    {% endif %}
                                                  {% endfor %}
                                                </p></div>
                                              </div>
                                                </div>
                                                 <div class="col-md-4 approvalbutton" style="">
                                                  <a class="btn btn-info btn-fill pull-right" target="_blank" style="background-color: #e02129;border-color: #e02129;">Waiting for Approval</a></div>
                                                
                                           </div>
                                                                    
                                            </div>     </div>  --> 

                                          {% endif %}
                                    </div>

                                    

                                  </div>
                                  
                                </div>{% endfor %}
                                </div>
                                <div class="center"> 
                                        <div class="pagination">
                                        <span class="step-links">
                                            <span class="current" style="font-style: italic;color: white;padding-bottom: 10px;">
                                                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                                            </span>
                                            <br>

                                            {% if posts.has_previous %}
                                                <a href="?page=1">&laquo; first</a>
                                                <a href="?page={{ posts.previous_page_number }}">previous</a>
                                            {% endif %}

                                            

                                            {% if posts.has_next %}
                                                <a href="?page={{ posts.next_page_number }}">next</a>
                                                <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
                                            {% endif %}
                                        </span>
                                    </div>
                                    
                                      </div>
                               </div>
</div>
                              
                              </div>
                  

                  
              </div>
          </div>
          


          
      </div></div>

      <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" style="">&nbsp;</h4>
                     </div>
                      
                                    <!-- <div class="image">
                                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                    </div> -->
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="profile-pic">
                                              {% if users.profile %}
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src=" {{ users.profile }}"/>
                                               {% else %}                                               
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src="{% static "images/company_logo.jpg" %}"/>
                                               {% endif %}
                                               <div class="edit"><a onclick="demoshow();"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                          </div>
                                          <input type="hidden" id="plantook" name="uactiveprojects" value="1">
                                            <center><input type="file" id="choose" name="document" style="display:none;" onchange="upload_img(this);"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                       <div style="padding-left: 15px;">  
                                        
                                         
                                        <br>

                                          <div class="row">
                                            <p class="userinfo-title">INDUSTRY SEGMENT</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <!-- <span class="square"></span><a class="userinfo" style="">{{freelancer_details.years}} Years {{freelancer_details.months}} Months </a><br> -->
                                            <span class="square"></span><a class="userinfo" style="">{{users.industry}}</a><br>
                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">MEMBER SINCE</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{users.profile_created_on|date:"M Y"}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{users.companytype}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">CONTACT PERSON</p> 
                                        </div>

                                       <div class="row" style="padding-bottom: 10px;">                                                                             
                                          
                                             <span class="square"></span><a class="userinfo" style="">{{users.contact_person}}</a><br>
                                                                                   
                                       </div>
                                       </div>
                                
                      <div class="row">
                       </div>
                      
                    </div>
                    
      </div>
  


   
   
    
    
  </div></div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script>

<script type="text/javascript">
      function demoshow()
      { 
      parent.document.getElementById('choose').click();
      // parent.document.getElementById('uploadimage').style.display="block";
      }
   </script>

    <script>
     $("#choose").change(function () {
         if(fileExtValidate(this)) { // file extension validation function
            if(fileSizeValidate(this)) { // file size validation function
             
            }   
         }    
       });
     
   // function for  validate file extension
   var validExt = ".png, .jpg";
   function fileExtValidate(fdata) {
    var filePath = fdata.value;
    var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
    var pos = validExt.indexOf(getFileExt);
    if(pos < 0) {
     alert("This file is not allowed, Allowed extension : .jpg/.png");
     fdata.value = "";
     return false;
     } else {


       return true;
     }
   }
   //function for validate file size 
   var maxSize = '1024';
   function fileSizeValidate(fdata) {
      if (fdata.files && fdata.files[0]) {
                   var fsize = fdata.files[0].size/1024;
                   if(fsize > maxSize) {
                      alert('Maximum file size exceed. Max Limit 1 MB');
                      fdata.value = "";                       
                      return false;
                   } 
                   else {                    
                     var reader = new FileReader();
                     reader.onload = function (e) {
                       $('#profile_image').attr('src', e.target.result);                        
                     };
                     reader.readAsDataURL(fdata.files[0]);
                     // parent.document.getElementById('uploadimage').style.display="block";
                     $("#uploadimage").click();
                     return true;
                     }
        }
    }

   </script>

<script>
    $(document).ready(function() {
        // var rightHeight = document.getElementById('right').clientHeight;
        var leftHeight = document.getElementById('left').clientHeight;
        var centerHeight = document.getElementById('center').clientHeight;
        var rightHeight = document.getElementById('right').clientHeight;
        var screenvalue = window.screen.width
        
        if (screenvalue > 992)
        {
          if (centerHeight < leftHeight)
          {
          document.getElementById('center').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
       
        // if (rightHeight < leftHeight)
        // {
        // document.getElementById('right').style.height=leftHeight+'px';
        // // document.getElementById('left').style.height=centerHeight+'px';
        // }
        var centerHeight2 = document.getElementById('center').clientHeight;
        if (rightHeight < centerHeight2)
        {
        document.getElementById('right').style.height=centerHeight2+'px';
        // document.getElementById('left').style.height=centerHeight+'px';
        }
        }

       
    });
</script>
<script>

$('.card1').hide();
$('.btn').on('click', function() {
  $parent_box = $(this).closest('.responses');
  // $parent_box.siblings().find('.card1').hide();
  $parent_box.find('.card1').toggle();
});
</script>

<script>
  $(window).focus(function () {
    setTimeout( 
     function() {
       window.location.reload(true);
     }, 1000);
 });
</script>
</body>
</html>