{% load static %}

<!DOCTYPE html>
<html>
<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NSLQVQP');</script>
<!-- End Google Tag Manager -->
<title>Publik - Client Profile</title>
<meta charset="utf-8">
<link rel="icon" type="image/png" href="{% static "images/logo.jpg" %}">
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">   -->
  <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link href="{% static "css/bootstrap.min1.css" %}" rel="stylesheet" />
   <link href="{% static "css/light-bootstrap-dashboard.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.lineicons.com/1.0.1/LineIcons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/newhome.css" %}"> 
  <link rel="stylesheet" type="text/css" href="{% static "css/font.css" %}">

 <style>
   .searchbar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.searchbar:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.searchbar::-ms-input-placeholder { /* Microsoft Edge */
  color: black;
}
.float-right{
  float: right;
}
.card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: right;
  }
  .display-pic {
  border-radius: 0%;
  width: 100%;
  height: 165px;
  object-fit: contain;
}

    /* Create two unequal columns that floats next to each other */
    /* Left column */
    

    /* Fake image */
  

    /* Add a card effect for articles */
   .navmenu-firstmenu {
  width: 16.66666667%;
  margin-left:0px;margin-right: 0px;text-align: -webkit-center;padding-left: 10px;padding-right: 0px;margin-top: 1px;
}

      @media screen and (max-width: 600px) {
      input.form-control1 {
    width:100%;
    }
    .headerline {
      padding-left: 15px;
    }
    .social-icons {
      text-align: center;
    }
    .head2 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    }
    .approvalbutton {
      padding-right: 0px;
      padding-left: 0px;
    }
    .userimage {
      width:60vw; 
    }
    .userinfo {
      font-size: 3.8vw;
      /*word-break: break-all;*/
    }
    .companyinfo {
      float: none;
    }
    .sidebar {
      width: 45%;
    }
    .postcontainer {
      padding: 0px;
    }
    .dropdown-menu {
        left: 30%;
        right: 30%;
      }
    .firstfootmenu {
         width: 27.333333%;

}
 .navmenu-firstmenu {
    width: 100.666667%;
}
  /*.navmenu-lastmenu {
        margin-left:0px;
        margin-top: -1px;
      }*/
      .headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
.footermenu1 {
    
    width: 100%;}
    .dashboardsocial-icons {
      text-align: center;
    }
  }
   @media screen and (max-width: 992px){
     .fullcontainer {
      padding-left: 0px;
    padding-right: 0px;
    height: auto;
    }

    .float-right{
      float: none;
    }
    .respbutton {
      font-weight: 700;
    font-size: 20px;
    width: 100%;
    }
    .card-post-title{
      margin-top: 3px;
      font-size: 11px;
      float: none;
    }
    .dashboardhead2 {
  padding-left: 0px;
}
.headerline1div {
    padding-left: 0px;
    padding-right: 0px;
}
  .dashboardsocial-icons {
        text-align: center;
    }
     .navmenu-firstmenu {
    width: 100.666667%;
}
  .freelancer_details_header1 {
    width: 100%;
  }
  .freelancer_details_header2 {
  padding-right: 0px;
  padding-left: 0px;
  width: 100%;
}
.freelancer_details_header2_text {
  text-align: right;
}
.freelancer_details_content2 {
  width: 100%;
}
.social-icons {
    text-align: center;
    padding-left: 15px;
  }
  .social-icons-innerdiv {
padding-left: 15px;
  }
  .total_count_main_div_outer {
    padding-right: 15px;
  }
  .total_count_main_div {
      display: grid;
      float: none;
  }
  .total_count_value {
      justify-self: center;
      float: none;         
  }
}
@media screen and (min-width: 1750px){
  .navmenu-lastmenu {
        margin-left:-35px;
        margin-top: -1px;
      }
}

  
  @media (min-width: 1800px) and (max-width: 2000px){
  
  .display-pic {
    border-radius: 0%;
    width: 100%;
    height: 165px;
  }
}
@media (min-width: 2000px){
 
.display-pic {
  border-radius: 0%;
  width: 100%;
  height: 270px;
}
}

.profile-pic {
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
}

.profile-pic:hover .edit {
  display: block;
}
.edit {
  /*padding-top: 7px; 
  padding-right: 7px;*/
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  cursor: pointer;
}
.editbutton {
  border-width: 0px;
    background-color: #888888;
   
    border-radius: 0px;
    color: white;
    width: 100%;
    margin-top: 5px;
    font-size: 17px;
    padding: 7px 0px;
    font-family: Calibri-Bold;

}
    </style>
</head>

<body style="font-family: Calibri-Regular;">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NSLQVQP"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid">
    <div class="row" style="padding-top:40px;">

    <div class="col-md-3" style="padding-top: 2px;padding-bottom: 20px;">   
      <form>
        <div class="form-group row">
          <div class="col-xs-12">        
            <!-- <b><input class="form-control1 searchbar" id="ex1" type="text" placeholder="Find" style="font-family: Calibri-Bold;color: black;"></b> -->
          </div>      
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <center><a href="{% url 'index' %}"><img class="logo" src="{% static "images/logo_title.jpg" %}" alt="logo"></a></center>
    </div>

   <div class="col-md-3 social-icons">
             <div class="col-md-12 social-icons-innerdiv" style="">
             <a target="_blank" href="https://www.linkedin.com/company/freepublik-com/"><img style="width: 20px;margin-right: 10px;" src="/static/images/linkedin.jpg"></a>
      <a target="_blank" href="https://www.facebook.com/freepublikworld/"><img style="width: 20px;margin-right: 10px;" src="/static/images/Facebook.png"></a>
      <a target="_blank" href="http://www.instagram.com/hailfreepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Instagram.png"></a>        
     <a target="_blank" href="https://twitter.com/freepublik"><img style="width: 20px;margin-right: 10px;" src="/static/images/Twitter.png"></a>
      <a target="_blank" ><img style="width: 20px;" src="/static/images/Youtube.jpg"></a>
             </div>
             <!-- <div class="col-md-6 total_count_main_div_outer" style=""> -->
               <!-- <div class="total_count_main_div" style="">
               <p class="total_count_title" style="">FREEPUBLIKANS</p>
               {% if total_count %}
               <p class="total_count_value" id="total_count" style="">{{ total_count|stringformat:"05d" }}</p>
               {% else %}
               <p class="total_count_value" id="total_count" style=""> 0 </p>
               {% endif %}
             </div> -->
             <!-- </div> -->
           </div>     
  </div>


  <div class="row">
    <div class="col-md-3 headerline1div" style="">
      <hr class="headerline">
    </div>
    <div class="col-md-6" style="margin-top: 15px;">
      <div class="row" style="font-size: 14px;">
        <div class="col-md-2 navmenu-firstmenu" style="">
          <b><a class="navmenu" href="{% url 'aboutus' %}">ABOUT US</p></a>
          </div>
          <div class="col-md-1" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center; margin-top: 1px;">
            <div class="square"></div>
          </div>
          <div class="col-md-3" style="margin-left:0px;margin-right: -11px;text-align: -webkit-center;margin-top: 1px;padding-right: 0px;padding-left: 0px;">
            <b><a class="navmenu" href="{% url 'howitworks' %}">HOW IT WORKS</p></a>
            </div>
            <div class="col-md-1" style="margin-left:0px;margin-right: 0px;text-align: -webkit-center;margin-top: 1px; ">
              <div class="square"></div>
            </div>
            <div class="col-md-2" style="margin-left:-2px;margin-right: 10px;text-align: -webkit-center;margin-top: 1px;">
              <b><a class="navmenu" href="{% url 'category' %}">CATEGORIES</p></a>
              </div>
              <div class="col-md-1" style="margin-left:-9px;margin-right: 0px; text-align: -webkit-center;margin-top: 1px;">
                <div class="square"></div>
              </div>
              <div class="col-md-2 navmenu-lastmenu" style="">
               <b><a class="navmenu" href="{% url 'logout' %}">LOGOUT</p></a>
              </div>

            </div>
          </div>
          <div class="col-md-3 dashboardhead2">
            <hr class="headerline2">      
          </div>
        </div>  
      </div>
  

  
  
  <div class="dashboard-container fullcontainer" style="">
  <div class="clearfix"></div>
  <div class="row" style="margin-left: 0px;margin-right: 0px;background-color: #000000;">
    <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;">
      <div class="sidebar" id="left" >

      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->

          <div class="sidebar-wrapper">
              

              <ul class="nav" style="padding-bottom: 18vw;">
                  <li>
                      <a href="{% url 'udashboard' %}">
                          
                          <p>Company Dashboard</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'uprofile' %}">
                         
                          <p style="color: red;">Company Profile</p>
                      </a>
                  </li>
                  <li>
                      <a href="{% url 'post_new' %}">
                         
                          <p>Start New Project</p>
                      </a>
                  </li>
                   <li>
                      <a href="{% url 'uactiveprojects' %}">
                         
                          <p>Active Projects</p>
                      </a>
                  </li>
                   <li>
                      <a href="{% url 'ucloseprojects' %}">
                         
                          <p>Completed Projects</p>
                      </a>
                  </li>
                  
                  
                  <!-- <li class="#">
                      <a href="upgrade.html">
                          <i class="lni-rocket"></i>
                          <p>Upgrade to PRO</p>
                      </a>
                  </li> -->
              </ul>
          </div>
      </div>
    </div>
    <div class="col-md-8 postcontainer" id="center">
      <div class="main-panel" >
          <nav class="navbar navbar-default navbar-fixed" style="background-color: transparent;">
              <div class="container-fluid" style="background-color: #4e4e4e;;">
                  <div class="navbar-header">

                      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <h5 style="color:white; padding-right: 4px; padding-top: 2px;margin-left: -12px;">MENU</h5>
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                      </button>
                      <!-- <a class="navbar-brand" href="#">Welcome, {{ name }}</a> -->
                  </div>
                  <div class="collapse navbar-collapse">
                    

                      <ul class="nav navbar-nav navbar-right">
                          
                          
                          
                      </ul>
                  </div>
              </div>
          </nav>

 <div class="content" id="center">
            <p style="color: white;font-size: 15px;font-family: Calibri-Bold;margin: 25px 30px 15px;letter-spacing: 1px;">WELCOME, {{ client_object.company }}</p>
            <div class="container-fluid maincontainer">
                        <div class="row">
                            <div class="col-md-12">
                            <div class="col-md-12">
                                <div class="card" style="padding-left:30px;padding-right: 30px;">
                                   
                                    <div class="content" style="padding-top: 0px;">
                                        <form name="edit-form" method="POST" action="{% url 'ueditform' %}">{% csrf_token %}
                                            <div class="row" style="margin-bottom: 10px;">
                                                
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Email</label>
                                                        <input type="email" id="email" name="email"  class="form-control" placeholder="Email" value="{{ client_object.email }}" disabled style="background-color: #888888;">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Password</label>
                                                        <input type="password" id="password" name="password" class="form-control" placeholder="Password" value="{{ client_object.password }}" title="Must contain at least one uppercase, a number & a special character." pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" disabled required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="margin-bottom: 10px;">
                                                 
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Active Plan</label>
                                                        {% if client_object.planid == "1" %}
                                                          <input type="text" id="planid" name="planid" class="form-control" disabled placeholder="Premium" value="Plan Activated" style="background-color: #888888;">
                                                        {% else %}
                                                          <input type="text" id="planid" name="planid" class="form-control" disabled placeholder="Premium" value="Free" style="background-color: #888888;">
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Valid Phone Number</label>
                                                        <input type="text" id="phone" name="phone" disabled class="form-control" placeholder="Phone" value="{{ client_object.phone }}" required pattern="[+][\d]+$" title="Enter Country code followed by phone number in 10 digits e.g. +919876543210">
                                                    </div>
                                                </div>
                                                
                                            </div>

                                            <div class="row" style="margin-bottom: 10px;">
                                                 
                                                <div class="col-md-12">
                                                    <div class="form-group1">
                                                        <label>Company / Group</label>
                                                       <input type="text" id="company" name="company" class="form-control" placeholder="Company / Group name" value="{{ client_object.company }}" required disabled>
                                                    </div>
                                                </div>                                               
                                            </div>




                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Country</label>
                                                        <select class="form-control" name="country" id="country" placeholder="country" required style="" disabled>



                                                          <option value="{{ client_object.country }}" hidden>{{ client_object.country }}</option>

                                                          <optgroup label="Countries">

                                                                       <option value="Country">Country</option>
                                                                       <option value="Afganistan">Afghanistan</option>
                                                                       <option value="Albania">Albania</option>
                                                                       <option value="Algeria">Algeria</option>
                                                                       <option value="American Samoa">American Samoa</option>
                                                                       <option value="Andorra">Andorra</option>
                                                                       <option value="Angola">Angola</option>
                                                                       <option value="Anguilla">Anguilla</option>
                                                                       <!-- <option value="Antigua &amp; Barbuda">Antigua &amp; Barbuda</option> -->
                                                                       <option value="Argentina">Argentina</option>
                                                                       <option value="Armenia">Armenia</option>
                                                                       <option value="Aruba">Aruba</option>
                                                                       <option value="Australia">Australia</option>
                                                                       <option value="Austria">Austria</option>
                                                                       <option value="Azerbaijan">Azerbaijan</option>
                                                                       <option value="Bahamas">Bahamas</option>
                                                                       <option value="Bahrain">Bahrain</option>
                                                                       <option value="Bangladesh">Bangladesh</option>
                                                                       <option value="Barbados">Barbados</option>
                                                                       <option value="Belarus">Belarus</option>
                                                                       <option value="Belgium">Belgium</option>
                                                                       <option value="Belize">Belize</option>
                                                                       <option value="Benin">Benin</option>
                                                                       <option value="Bermuda">Bermuda</option>
                                                                       <option value="Bhutan">Bhutan</option>
                                                                       <option value="Bolivia">Bolivia</option>
                                                                       <option value="Bonaire">Bonaire</option>
                                                                       <!-- <option value="Bosnia &amp; Herzegovina">Bosnia &amp; Herzegovina</option> -->
                                                                       <option value="Botswana">Botswana</option>
                                                                       <option value="Brazil">Brazil</option>
                                                                       <option value="British Indian Ocean Ter">British Indian Ocean Ter</option>
                                                                       <option value="Brunei">Brunei</option>
                                                                       <option value="Bulgaria">Bulgaria</option>
                                                                       <option value="Burkina Faso">Burkina Faso</option>
                                                                       <option value="Burundi">Burundi</option>
                                                                       <option value="Cambodia">Cambodia</option>
                                                                       <option value="Cameroon">Cameroon</option>
                                                                       <option value="Canada">Canada</option>
                                                                       <option value="Canary Islands">Canary Islands</option>
                                                                       <option value="Cape Verde">Cape Verde</option>
                                                                       <option value="Cayman Islands">Cayman Islands</option>
                                                                       <option value="Central African Republic">Central African Republic</option>
                                                                       <option value="Chad">Chad</option>
                                                                       <option value="Channel Islands">Channel Islands</option>
                                                                       <option value="Chile">Chile</option>
                                                                       <option value="China">China</option>
                                                                       <option value="Christmas Island">Christmas Island</option>
                                                                       <option value="Cocos Island">Cocos Island</option>
                                                                       <option value="Colombia">Colombia</option>
                                                                       <option value="Comoros">Comoros</option>
                                                                       <option value="Congo">Congo</option>
                                                                       <option value="Cook Islands">Cook Islands</option>
                                                                       <option value="Costa Rica">Costa Rica</option>
                                                                       <option value="Cote DIvoire">Cote D'Ivoire</option>
                                                                       <option value="Croatia">Croatia</option>
                                                                       <option value="Cuba">Cuba</option>
                                                                       <option value="Curaco">Curacao</option>
                                                                       <option value="Cyprus">Cyprus</option>
                                                                       <option value="Czech Republic">Czech Republic</option>
                                                                       <option value="Denmark">Denmark</option>
                                                                       <option value="Djibouti">Djibouti</option>
                                                                       <option value="Dominica">Dominica</option>
                                                                       <option value="Dominican Republic">Dominican Republic</option>
                                                                       <option value="East Timor">East Timor</option>
                                                                       <option value="Ecuador">Ecuador</option>
                                                                       <option value="Egypt">Egypt</option>
                                                                       <option value="El Salvador">El Salvador</option>
                                                                       <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                                       <option value="Eritrea">Eritrea</option>
                                                                       <option value="Estonia">Estonia</option>
                                                                       <option value="Ethiopia">Ethiopia</option>
                                                                       <option value="Falkland Islands">Falkland Islands</option>
                                                                       <option value="Faroe Islands">Faroe Islands</option>
                                                                       <option value="Fiji">Fiji</option>
                                                                       <option value="Finland">Finland</option>
                                                                       <option value="France">France</option>
                                                                       <option value="French Guiana">French Guiana</option>
                                                                       <option value="French Polynesia">French Polynesia</option>
                                                                       <option value="French Southern Ter">French Southern Ter</option>
                                                                       <option value="Gabon">Gabon</option>
                                                                       <option value="Gambia">Gambia</option>
                                                                       <option value="Georgia">Georgia</option>
                                                                       <option value="Germany">Germany</option>
                                                                       <option value="Ghana">Ghana</option>
                                                                       <option value="Gibraltar">Gibraltar</option>
                                                                       <option value="Great Britain">Great Britain</option>
                                                                       <option value="Greece">Greece</option>
                                                                       <option value="Greenland">Greenland</option>
                                                                       <option value="Grenada">Grenada</option>
                                                                       <option value="Guadeloupe">Guadeloupe</option>
                                                                       <option value="Guam">Guam</option>
                                                                       <option value="Guatemala">Guatemala</option>
                                                                       <option value="Guinea">Guinea</option>
                                                                       <option value="Guyana">Guyana</option>
                                                                       <option value="Haiti">Haiti</option>
                                                                       <option value="Hawaii">Hawaii</option>
                                                                       <option value="Honduras">Honduras</option>
                                                                       <option value="Hong Kong">Hong Kong</option>
                                                                       <option value="Hungary">Hungary</option>
                                                                       <option value="Iceland">Iceland</option>
                                                                       <option value="India">India</option>
                                                                       <option value="Indonesia">Indonesia</option>
                                                                       <option value="Iran">Iran</option>
                                                                       <option value="Iraq">Iraq</option>
                                                                       <option value="Ireland">Ireland</option>
                                                                       <option value="Isle of Man">Isle of Man</option>
                                                                       <option value="Israel">Israel</option>
                                                                       <option value="Italy">Italy</option>
                                                                       <option value="Jamaica">Jamaica</option>
                                                                       <option value="Japan">Japan</option>
                                                                       <option value="Jordan">Jordan</option>
                                                                       <option value="Kazakhstan">Kazakhstan</option>
                                                                       <option value="Kenya">Kenya</option>
                                                                       <option value="Kiribati">Kiribati</option>
                                                                       <option value="Korea North">Korea North</option>
                                                                       <option value="Korea Sout">Korea South</option>
                                                                       <option value="Kuwait">Kuwait</option>
                                                                       <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                                       <option value="Laos">Laos</option>
                                                                       <option value="Latvia">Latvia</option>
                                                                       <option value="Lebanon">Lebanon</option>
                                                                       <option value="Lesotho">Lesotho</option>
                                                                       <option value="Liberia">Liberia</option>
                                                                       <option value="Libya">Libya</option>
                                                                       <option value="Liechtenstein">Liechtenstein</option>
                                                                       <option value="Lithuania">Lithuania</option>
                                                                       <option value="Luxembourg">Luxembourg</option>
                                                                       <option value="Macau">Macau</option>
                                                                       <option value="Macedonia">Macedonia</option>
                                                                       <option value="Madagascar">Madagascar</option>
                                                                       <option value="Malaysia">Malaysia</option>
                                                                       <option value="Malawi">Malawi</option>
                                                                       <option value="Maldives">Maldives</option>
                                                                       <option value="Mali">Mali</option>
                                                                       <option value="Malta">Malta</option>
                                                                       <option value="Marshall Islands">Marshall Islands</option>
                                                                       <option value="Martinique">Martinique</option>
                                                                       <option value="Mauritania">Mauritania</option>
                                                                       <option value="Mauritius">Mauritius</option>
                                                                       <option value="Mayotte">Mayotte</option>
                                                                       <option value="Mexico">Mexico</option>
                                                                       <option value="Midway Islands">Midway Islands</option>
                                                                       <option value="Moldova">Moldova</option>
                                                                       <option value="Monaco">Monaco</option>
                                                                       <option value="Mongolia">Mongolia</option>
                                                                       <option value="Montserrat">Montserrat</option>
                                                                       <option value="Morocco">Morocco</option>
                                                                       <option value="Mozambique">Mozambique</option>
                                                                       <option value="Myanmar">Myanmar</option>
                                                                       <option value="Nambia">Nambia</option>
                                                                       <option value="Nauru">Nauru</option>
                                                                       <option value="Nepal">Nepal</option>
                                                                       <option value="Netherland Antilles">Netherland Antilles</option>
                                                                       <option value="Netherlands">Netherlands (Holland, Europe)</option>
                                                                       <option value="Nevis">Nevis</option>
                                                                       <option value="New Caledonia">New Caledonia</option>
                                                                       <option value="New Zealand">New Zealand</option>
                                                                       <option value="Nicaragua">Nicaragua</option>
                                                                       <option value="Niger">Niger</option>
                                                                       <option value="Nigeria">Nigeria</option>
                                                                       <option value="Niue">Niue</option>
                                                                       <option value="Norfolk Island">Norfolk Island</option>
                                                                       <option value="Norway">Norway</option>
                                                                       <option value="Oman">Oman</option>
                                                                       <option value="Pakistan">Pakistan</option>
                                                                       <option value="Palau Island">Palau Island</option>
                                                                       <option value="Palestine">Palestine</option>
                                                                       <option value="Panama">Panama</option>
                                                                       <option value="Papua New Guinea">Papua New Guinea</option>
                                                                       <option value="Paraguay">Paraguay</option>
                                                                       <option value="Peru">Peru</option>
                                                                       <option value="Phillipines">Philippines</option>
                                                                       <option value="Pitcairn Island">Pitcairn Island</option>
                                                                       <option value="Poland">Poland</option>
                                                                       <option value="Portugal">Portugal</option>
                                                                       <option value="Puerto Rico">Puerto Rico</option>
                                                                       <option value="Qatar">Qatar</option>
                                                                       <option value="Republic of Montenegro">Republic of Montenegro</option>
                                                                       <option value="Republic of Serbia">Republic of Serbia</option>
                                                                       <option value="Reunion">Reunion</option>
                                                                       <option value="Romania">Romania</option>
                                                                       <option value="Russia">Russia</option>
                                                                       <option value="Rwanda">Rwanda</option>
                                                                       <option value="St Barthelemy">St Barthelemy</option>
                                                                       <option value="St Eustatius">St Eustatius</option>
                                                                       <option value="St Helena">St Helena</option>
                                                                       <option value="St Kitts-Nevis">St Kitts-Nevis</option>
                                                                       <option value="St Lucia">St Lucia</option>
                                                                       <option value="St Maarten">St Maarten</option>
                                                                      <!--  <option value="St Pierre &amp; Miquelon">St Pierre &amp; Miquelon</option>
                                                                       <option value="St Vincent &amp; Grenadines">St Vincent &amp; Grenadines</option> -->
                                                                       <option value="Saipan">Saipan</option>
                                                                       <option value="Samoa">Samoa</option>
                                                                       <option value="Samoa American">Samoa American</option>
                                                                       <option value="San Marino">San Marino</option>
                                                                       <!-- <option value="Sao Tome &amp; Principe">Sao Tome &amp; Principe</option> -->
                                                                       <option value="Saudi Arabia">Saudi Arabia</option>
                                                                       <option value="Senegal">Senegal</option>
                                                                       <option value="Serbia">Serbia</option>
                                                                       <option value="Seychelles">Seychelles</option>
                                                                       <option value="Sierra Leone">Sierra Leone</option>
                                                                       <option value="Singapore">Singapore</option>
                                                                       <option value="Slovakia">Slovakia</option>
                                                                       <option value="Slovenia">Slovenia</option>
                                                                       <option value="Solomon Islands">Solomon Islands</option>
                                                                       <option value="Somalia">Somalia</option>
                                                                       <option value="South Africa">South Africa</option>
                                                                       <option value="Spain">Spain</option>
                                                                       <option value="Sri Lanka">Sri Lanka</option>
                                                                       <option value="Sudan">Sudan</option>
                                                                       <option value="Suriname">Suriname</option>
                                                                       <option value="Swaziland">Swaziland</option>
                                                                       <option value="Sweden">Sweden</option>
                                                                       <option value="Switzerland">Switzerland</option>
                                                                       <option value="Syria">Syria</option>
                                                                       <option value="Tahiti">Tahiti</option>
                                                                       <option value="Taiwan">Taiwan</option>
                                                                       <option value="Tajikistan">Tajikistan</option>
                                                                       <option value="Tanzania">Tanzania</option>
                                                                       <option value="Thailand">Thailand</option>
                                                                       <option value="Togo">Togo</option>
                                                                       <option value="Tokelau">Tokelau</option>
                                                                       <option value="Tonga">Tonga</option>
                                                                       <!-- <option value="Trinidad &amp; Tobago">Trinidad &amp; Tobago</option> -->
                                                                       <option value="Tunisia">Tunisia</option>
                                                                       <option value="Turkey">Turkey</option>
                                                                       <option value="Turkmenistan">Turkmenistan</option>
                                                                       <!-- <option value="Turks &amp; Caicos Is">Turks &amp; Caicos Is</option> -->
                                                                       <option value="Tuvalu">Tuvalu</option>
                                                                       <option value="Uganda">Uganda</option>
                                                                       <option value="Ukraine">Ukraine</option>
                                                                       <option value="United Arab Erimates">United Arab Emirates</option>
                                                                       <option value="United Kingdom">United Kingdom</option>
                                                                       <option value="United States of America">United States of America</option>
                                                                       <option value="Uraguay">Uruguay</option>
                                                                       <option value="Uzbekistan">Uzbekistan</option>
                                                                       <option value="Vanuatu">Vanuatu</option>
                                                                       <option value="Vatican City State">Vatican City State</option>
                                                                       <option value="Venezuela">Venezuela</option>
                                                                       <option value="Vietnam">Vietnam</option>
                                                                       <option value="Virgin Islands (Brit)">Virgin Islands (Brit)</option>
                                                                       <option value="Virgin Islands (USA)">Virgin Islands (USA)</option>
                                                                       <option value="Wake Island">Wake Island</option>
                                                                       <!-- <option value="Wallis &amp; Futana Is">Wallis &amp; Futana Is</option> -->
                                                                       <option value="Yemen">Yemen</option>
                                                                       <option value="Zaire">Zaire</option>
                                                                       <option value="Zambia">Zambia</option>
                                                                       <option value="Zimbabwe">Zimbabwe</option>
                                                      </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Category</label>
                                                        <!-- <input type="text" id="category" name="category" class="form-control" disabled required placeholder="Category" 
                                                        value="{{ client_object.companytype }}"> -->

                                                        <select class="form-control" name="category" id="category" placeholder="category" required style="" disabled>



                                                          <option value="{{ client_object.companytype }}" hidden>{{ client_object.companytype }}</option>

                                                          <optgroup label="Category">

                                                                       <option value="Start-up">Start-up</option>
                                                                       <option value="Established">Established</option>
                                                                       
                                                          </optgroup>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Industry Segment</label>
                                                        <input type="text" id="industry" name="industry" class="form-control" disabled required placeholder="Industry Segment" value="{{ client_object.industry }}">
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>&nbsp;</label>
                                                        <input type="text" id="disabledfield" class="form-control" disabled 
                                                         style="background-color: #888888;">
                                                    </div>
                                                </div>
                                            </div>
                                            

                                            <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Contact Person ( Full Name ) </label>
                                                        <input type="text" id="contact_person" name="contact_person" class="form-control" disabled required placeholder="Contact Person" value="{{ client_object.contact_person }}">
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Current Designation ( Contact Person )</label>
                                                        <input type="text" id="contact_person_designation" name="contact_person_designation" class="form-control" required disabled placeholder="Contact Person Designation" 
                                                        value="{{ client_object.contact_person_designation }}">
                                                    </div>
                                                </div>
                                            </div>


                                           <!--  <div class="row" style="margin-bottom: 10px;">
                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Valid Phone Number ( Contact Person ) </label>
                                                        <input type="text" id="contact_person_phone" name="contact_person_phone" class="form-control" disabled required pattern="[0-9]{}" placeholder="Contact Person Phone" value="{{ client_object.contact_person_phone }}" title="Enter Country code followed by phone number in 10 digits e.g. +919876543210">
                                                    </div>
                                                </div>
                                                    <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Email ( Contact Person )</label>
                                                        <input type="text" id="contact_person_email" name="contact_person_email" class="form-control" disabled placeholder="Contact Person Email" 
                                                        value="{{ client_object.contact_person_email }}">
                                                    </div>
                                                </div>
                                            </div> -->
                                            

                                            <!-- <div class="row">
                                            
                                               
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                       <label>Industry Segment</label>
                                                        <input type="text" id="freelancertype" class="form-control" disabled placeholder="Category" 
                                                        value="{{ freelancer_details.freelancertype }}">
                                                    </div>
                                                  
                                                      <div class="col-md-6 paddingzero">
                                                        <div class="form-group1">
                                                          <label>Industry Segment</label>
                                                        <input type="text" id="freelancertype" class="form-control" disabled placeholder="Category" 
                                                        value="{{ freelancer_details.freelancertype }}">
                                                        </div>
                                                      </div>
                                                      <div class="col-md-6 paddingzero">
                                                        <div class="form-group1">
                                                          <label>&nbsp;</label>                                                        
                                                          <input type="text" id="months" name="months" disabled class="form-control" placeholder="Months" value="{{ freelancer_details.months }}" pattern="[0-9]+" title="Use Numbers only">
                                                        </div>
                                                      </div>
                                                    
                                                </div>

                                                <div class="col-md-6">
                                                    <div class="form-group1">
                                                        <label>Category</label>
                                                        <input type="text" id="freelancertype" class="form-control" disabled placeholder="Category" 
                                                        value="{{ freelancer_details.freelancertype }}">
                                                    </div>
                                                </div>
                                            </div> -->

                                            


                                             <div class="row">
                                            
                                               
                                                <div class="col-md-6">                                                    
                                                  
                                                      <div class="col-md-5 paddingzero">
                                                        <div class="form-group1">
                                                         <button type="button" id="editbutton" class="editbutton" onclick="" style="background-color: red;">Edit Profile</button>
                                                        </div>
                                                      </div>
                                                      <div class="col-md-5 paddingzero">
                                                        <div class="form-group1">
                                                         <button type="submit" id="savebutton" class="editbutton" disabled style="cursor: not-allowed;">Save Changes</button> 
                                                        </div>
                                                      </div>
                                                    
                                                </div>

                                               
                                            </div>




                                         

                                            
                                            <div class="clearfix"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                           </div>

                        </div>
                    </div>
             
          </div>

          


          
      </div></div>

      <div class="col-md-2" style="background-color: #e02129;" id="right">
        <div class="usercard" style="padding-left: 15px;
    padding-right: 15px;">
                      <div class="row">
                      <h4 class="companyinfo" style="">&nbsp;</h4>
                     </div>
                      
                                    <!-- <div class="image">
                                        <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>
                                    </div> -->
                                   
                                          <form method="post" enctype="multipart/form-data" action="{% url 'upload_image' %}" style="font-family: Calibri-Bold;">{% csrf_token %}
                                            <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
                                          <div class="profile-pic">
                                              {% if client_object.profile %}
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src=" {{ client_object.profile }}"/>
                                               {% else %}                                               
                                               <image class="display-pic" id="profile_image" class="avatar body-gray" id="profileImage" src="{% static "images/company_logo.jpg" %}"/>
                                               {% endif %}
                                             <div class="edit"><a onclick="demoshow();"><img src="{% static "images/edit.jpg" %}" style="width: 33px;height: 35px;"/></i></a></div>
                                          </div>
                                          <input type="hidden" id="plantook" name="uprofile" value="1">
                                            <center><input type="file" id="choose" name="document" style="display:none;" onchange="upload_img(this);"/><button id="uploadimage" type="submit" style="display:none;color: white;text-transform: uppercase;font-size: 12px;cursor: pointer;font-family: Calibri-Regular;text-decoration: none;" class="btn-link" >Click to Save image</button></center>
                                              

                                          </form>
                                       <div style="padding-left: 15px;">  
                                        
                                         
                                        <br>

                                          <div class="row">
                                            <p class="userinfo-title">INDUSTRY SEGMENT</p> 
                                          </div>
                                          <div class="row" style="margin-bottom: 10px;">

                                            <!-- <span class="square"></span><a class="userinfo" style="">{{freelancer_details.years}} Years {{freelancer_details.months}} Months </a><br> -->
                                            <span class="square"></span><a class="userinfo" style="">{{client_object.industry}}</a><br>
                                           </div>

                                          <div class="row">  
                                            <p class="userinfo-title">MEMBER SINCE</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{client_object.profile_created_on|date:"M Y"}}</a><br>
                                                                                     
                                         </div>

                                          <div class="row">  
                                            <p class="userinfo-title">CATEGORY</p> 
                                          </div>

                                         <div class="row" style="margin-bottom: 10px;">                                                                             
                                            
                                               <span class="square"></span><a class="userinfo" style="">{{client_object.companytype}}</a><br>
                                                                                     
                                         </div>
                                      

                                        <div class="row">  
                                          <p class="userinfo-title">CONTACT PERSON</p> 
                                        </div>

                                       <div class="row" style="padding-bottom: 10px;">                                                                             
                                          
                                             <span class="square"></span><a class="userinfo" style="">{{client_object.contact_person}}</a><br>
                                                                                   
                                       </div>
                                       </div>
                                
                      <div class="row">
                       </div>
                      
                    </div>
                    
      </div>
  


   
   
    
    
  </div></div>

<footer class="page-footer" style="padding-left: 15px;">

  <!-- Copyright -->
  <div class="footer-row">
    <div class="row" style="letter-spacing: 2px;">
      <div class="col-md-9">
        <div class="row"><center>

          <div class="col-md-1 footermenu1" style="">
            <center><a class="footmenu" href="{% url 'contactus' %}" style="font-weight: 400;">CONTACT US</a></center>
          </div>
          
          <div class="col-md-1 square2div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-1 footermenu3" style="">
            <center><a class="footmenu" href="{% url 'sitemap' %}" style="font-weight: 400;">SITEMAP</a></center>
          </div>
          <div class="col-md-1 square3div" style="">
            <div class="square" style="margin-top: 5px;"></div>
          </div>
          <div class="col-md-2" style="padding-left: 0px;padding-right: 0px;padding-top: 1px;">
            <center><a class="footmenu" href="{% url 'privacy' %}" style="font-weight: 400;">TRUST & PRIVACY</a></center>
          </div>


        </center>
      </div>
    </div>
    <div class="col-md-3">

    </div>
  </div>
</div>


</footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script src="{% static "js/jquery.3.2.1.min.js" %}" type="text/javascript"></script>
 <script src="{% static "js/light-bootstrap-dashboard.js" %}"></script>
<script>
  $.fn.stars = function() {
    return this.each(function(i,e){$(e).html($('<span/>').width($(e).text()*16));});
};



$('.stars').stars();
</script>
<script>
    $(document).ready(function() {
        // var rightHeight = document.getElementById('right').clientHeight;
        var leftHeight = document.getElementById('left').clientHeight;
        var centerHeight = document.getElementById('center').clientHeight;
        var rightHeight = document.getElementById('right').clientHeight;
        var screenvalue = window.screen.width
        
        if (screenvalue > 992)
        {
          if (centerHeight < leftHeight)
          {
          document.getElementById('center').style.height=leftHeight+'px';
          // document.getElementById('left').style.height=centerHeight+'px';
          }
       
        // if (rightHeight < leftHeight)
        // {
        // document.getElementById('right').style.height=leftHeight+'px';
        // // document.getElementById('left').style.height=centerHeight+'px';
        // }
        var centerHeight2 = document.getElementById('center').clientHeight;
        if (rightHeight < centerHeight2)
        {
        document.getElementById('right').style.height=centerHeight2+'px';
        // document.getElementById('left').style.height=centerHeight+'px';
        }
        }

       
    });
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#editbutton").click(function(){            
            $("#password,#phone,#company,#country,#category,#industry,#savebutton,#contact_person,#contact_person_designation,#contact_person_phone,#contact_person_email").removeAttr("disabled");
            $("#password,#phone,#company,#country,#category,#industry,#contact_person,#contact_person_designation,#contact_person_phone,#contact_person_email").css('background-color','white');
            $("#password,#phone,#company,#country,#category,#industry,#contact_person,#contact_person_designation,#contact_person_phone,#contact_person_email").css('border-width','thin');
            $("#savebutton").css('cursor','pointer');
            $("#savebutton").css('background-color','green');
            $(this).css('background-color','#888888');
            $(this).css('cursor','not-allowed');
            $(this).attr("disabled", true);
            // $("#savebutton").css('background-color','green');
        });
        $("#savebutton").click(function(){            
            
            
            $(this).css('background-color','green');
           
            // $("#savebutton").css('background-color','green');
        });
    });
</script>
 <script type="text/javascript">
       function demoshow()
       { 
       parent.document.getElementById('choose').click();
       // parent.document.getElementById('uploadimage').style.display="block";
       }
    </script>


     <script>
      $("#choose").change(function () {
          if(fileExtValidate(this)) { // file extension validation function
             if(fileSizeValidate(this)) { // file size validation function
              
             }   
          }    
        });
      
    // function for  validate file extension
    var validExt = ".png, .jpg";
    function fileExtValidate(fdata) {
     var filePath = fdata.value;
     var getFileExt = filePath.substring(filePath.lastIndexOf('.') + 1).toLowerCase();
     var pos = validExt.indexOf(getFileExt);
     if(pos < 0) {
      alert("This file is not allowed, Allowed extension : .jpg/.png");
      fdata.value = "";
      return false;
      } else {


        return true;
      }
    }
    //function for validate file size 
    var maxSize = '1024';
    function fileSizeValidate(fdata) {
       if (fdata.files && fdata.files[0]) {
                    var fsize = fdata.files[0].size/1024;
                    if(fsize > maxSize) {
                       alert('Maximum file size exceed. Max Limit 1 MB');
                       fdata.value = "";                       
                       return false;
                    } 
                    else {                    
                      var reader = new FileReader();
                      reader.onload = function (e) {
                        $('#profile_image').attr('src', e.target.result);                        
                      };
                      reader.readAsDataURL(fdata.files[0]);
                      // parent.document.getElementById('uploadimage').style.display="block";
                      $("#uploadimage").click();
                      return true;
                      }
         }
     }

    </script>


<!-- <script>
  $(window).focus(function () {
    window.location.reload(true);
});
</script> -->
</body>
</html>


